Repository tesfamikael4/megp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_demo-fe, deploy_demo-fe, build_iam-fe, deploy_iam-fe, build_egp, deploy_portal, build_administration, deploy_admin, build_vendor, deploy_vendor

build_demo-fe:
  stage: build
  script:
  - cd apps/back-office/+demo-fe
  - docker build -t $CONTAINER_RELEASE_IMAGE .
  - docker push $CONTAINER_RELEASE_IMAGE

deploy_demo-fe:
  stage: deploy
  script:
  - docker pull $CONTAINER_RELEASE_IMAGE
  - docker container rm -f demo-fe || true
  - docker run -p 5533:5533 --name demo-fe $CONTAINER_RELEASE_IMAGE

build_iam-fe:
  stage: build
  script:
  - cd apps/back-office/iam-fe
  - docker build -t $CONTAINER_RELEASE_IMAGE .
  - docker push $CONTAINER_RELEASE_IMAGE

deploy_iam-fe:
  stage: deploy
  script:
  - docker pull $CONTAINER_RELEASE_IMAGE
  - docker container rm -f iam-fe || true
  - docker run -p 5511:5511 --name iam-fe $CONTAINER_RELEASE_IMAGE

build_egp:
  stage: build
  script:
  - cd apps/portal/egp
  - docker build -t egp .

deploy_portal:
  stage: deploy
  script:
  - docker pull $CONTAINER_RELEASE_IMAGE
  - docker container rm -f egp || true
  - docker run -p 5599:5599 --name egp $CONTAINER_RELEASE_IMAGE

build_administration:
  stage: build
  script:
  - cd apps/back-office/administration-fe .
  - docker build -t admin-fe .

deploy_admin:
  stage: deploy
  script:
  - docker pull $CONTAINER_RELEASE_IMAGE
  - docker container rm -f admin-fe || true
  - docker run -p 5522:5522 --name admin-fe $CONTAINER_RELEASE_IMAGE

build_vendor:
  stage: build
  script:
  - cd apps/back-office/vendor-fe .
  - docker build -t vendor-fe .

deploy_vendor:
  stage: deploy
  script:
  - docker pull $CONTAINER_RELEASE_IMAGE
  - docker container rm -f vendor-fe || true
  - docker run -p 5533:5533 --name megp-vendor-fe $CONTAINER_RELEASE_IMAGE

Update .gitlab-ci.yml
  apps/back-office/vendor-fe/.gitlab-ci.yml
Due: build_vendor, deploy_vendor

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

feat(vendor-be): service pricing entity updated
  apps/server/vendor-be/src/vendor-registration/dto/service-price.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/service-price.entity.ts
Due: none

Feature auth package
  apps/server/+demo-be/src/authorization/guard/jwt-auth.guard.ts
  apps/server/iam-be/.env.example
  apps/server/iam-be/src/authentication/auth/supertokens/supertokens.service.ts
  apps/server/iam-be/src/authentication/authentication.controller.ts
  apps/server/iam-be/src/main.ts
Due: none

feat(egp): added environment vars
  apps/portal/egp/.env.example
  apps/portal/egp/src/app/auth/config/frontendConfig.ts
Due: build_egp, deploy_portal

Update .env.example
  apps/server/iam-be/.env.example
Due: none

feat(vendor-be): added a sample database for trade and tin and ncic databases...
  apps/server/vendor-be/src/vendor-registration/config.ts
  apps/server/vendor-be/src/vendor-registration/controllers/file.controller.ts
  apps/server/vendor-be/src/vendor-registration/dto/file.dto.ts
  apps/server/vendor-be/src/vendor-registration/services/file.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
  apps/server/vendor-be/{destination}
  pnpm-lock.yaml
Due: none

feat: working on Workflow business process and Task models
  apps/server/vendor-be/src/app.module.ts
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/business-process/business-process.response.ts
  apps/server/vendor-be/src/bpm/business-process/business-process.service.ts
  apps/server/vendor-be/src/bpm/business-process/dtos/business-process.dto.ts
  apps/server/vendor-be/src/bpm/business-process/entities/business-process.ts
  apps/server/vendor-be/src/bpm/controllers/bp-service.controller.ts
  apps/server/vendor-be/src/bpm/controllers/business-process.controller.ts
  apps/server/vendor-be/src/bpm/controllers/task.controller.ts
  apps/server/vendor-be/src/bpm/services/bp-service.response.ts
  apps/server/vendor-be/src/bpm/services/dtos/bp-service.dto.ts
  apps/server/vendor-be/src/bpm/services/entities/bp-service.ts
  apps/server/vendor-be/src/bpm/services/service.service.ts
  apps/server/vendor-be/src/bpm/tasks/dtos/task-assignmment.dto.ts
  apps/server/vendor-be/src/bpm/tasks/dtos/task.dto.ts
  apps/server/vendor-be/src/bpm/tasks/entities/task-assignment.ts
  apps/server/vendor-be/src/bpm/tasks/entities/task.entity.ts
  apps/server/vendor-be/src/bpm/tasks/task.response.ts
  apps/server/vendor-be/src/bpm/tasks/task.service.ts
  apps/server/vendor-be/src/shared/collection-query/query-constructor.ts
  apps/server/vendor-be/src/shared/typeorm/typeorm.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
Due: none

Working on Workflow business process and Task models
  apps/server/+demo-be/src/authorization/guard/jwt-auth.guard.ts
  apps/server/vendor-be/src/app.module.ts
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/business-process/business-process.response.ts
  apps/server/vendor-be/src/bpm/business-process/business-process.service.ts
  apps/server/vendor-be/src/bpm/business-process/dtos/business-process.dto.ts
  apps/server/vendor-be/src/bpm/business-process/entities/business-process.ts
  apps/server/vendor-be/src/bpm/controllers/bp-service.controller.ts
  apps/server/vendor-be/src/bpm/controllers/business-process.controller.ts
  apps/server/vendor-be/src/bpm/controllers/task.controller.ts
  apps/server/vendor-be/src/bpm/services/bp-service.response.ts
  apps/server/vendor-be/src/bpm/services/dtos/bp-service.dto.ts
  apps/server/vendor-be/src/bpm/services/entities/bp-service.ts
  apps/server/vendor-be/src/bpm/services/service.service.ts
  apps/server/vendor-be/src/bpm/tasks/dtos/task-assignmment.dto.ts
  apps/server/vendor-be/src/bpm/tasks/dtos/task.dto.ts
  apps/server/vendor-be/src/bpm/tasks/entities/task-assignment.ts
  apps/server/vendor-be/src/bpm/tasks/entities/task.entity.ts
  apps/server/vendor-be/src/bpm/tasks/task.response.ts
  apps/server/vendor-be/src/bpm/tasks/task.service.ts
  apps/server/vendor-be/src/shared/collection-query/query-constructor.ts
  apps/server/vendor-be/src/shared/typeorm/typeorm.service.ts
Due: none

chore: next update
  apps/back-office/+demo-fe/package.json
  apps/back-office/administration-fe/package.json
  apps/back-office/iam-fe/package.json
  apps/back-office/iam-fe/src/app/groups/layout.tsx
  apps/back-office/iam-fe/src/app/inter.ttf
  apps/back-office/iam-fe/src/app/layout.tsx
  apps/back-office/vendor-fe/package.json
  apps/back-office/vendor-fe/src/app/layout.tsx
  apps/portal/egp/package.json
  packages/config/eslint-config-custom/package.json
  packages/fe/core-fe/.eslintrc.json
  packages/fe/core-fe/package.json
  packages/fe/core-fe/src/components/entity/models/entity.ts
  pnpm-lock.yaml
Due: build_demo-fe, deploy_demo-fe, build_iam-fe, deploy_iam-fe, build_egp, deploy_portal, build_administration, deploy_admin, build_vendor, deploy_vendor

Update .gitlab-ci.yml
  apps/back-office/+demo-fe/.gitlab-ci.yml
Due: build_demo-fe, deploy_demo-fe

Update Dockerfile
  apps/back-office/+demo-fe/Dockerfile
Due: build_demo-fe, deploy_demo-fe

Update Dockerfile
  apps/server/iam-be/Dockerfile
Due: none

Update .gitlab-ci.yml
  apps/server/iam-be/.gitlab-ci.yml
Due: none

feat(vendor-be): column changed
  apps/server/vendor-be/src/vendor-registration/entities/service-price.entity.ts
Due: none

Feature auth package
  apps/server/+demo-be/src/authorization/guard/jwt-auth.guard.ts
  apps/server/iam-be/.env.example
  apps/server/iam-be/src/main.ts
Due: none

Feature auth package
  apps/server/iam-be/src/main.ts
Due: none

feat: implement workflow and task handler models
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/business-process/dtos/business-process.dto.ts
  apps/server/vendor-be/src/bpm/business-process/entities/business-process.ts
  apps/server/vendor-be/src/bpm/controllers/bp-service.controller.ts
  apps/server/vendor-be/src/bpm/controllers/business-process.controller.ts
  apps/server/vendor-be/src/bpm/controllers/task.controller.ts
  apps/server/vendor-be/src/bpm/controllers/workflow-instance.controller.ts
  apps/server/vendor-be/src/bpm/services/dtos/bp-service.dto.ts
  apps/server/vendor-be/src/bpm/services/service.service.ts
  apps/server/vendor-be/src/bpm/tasks/dtos/task-assignmment.dto.ts
  apps/server/vendor-be/src/bpm/tasks/dtos/task.dto.ts
  apps/server/vendor-be/src/bpm/tasks/entities/task-assignment.ts
  apps/server/vendor-be/src/bpm/tasks/entities/task.entity.ts
  apps/server/vendor-be/src/bpm/tasks/task-assignment.response.ts
  apps/server/vendor-be/src/bpm/tasks/task.service.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/task-handler.dto.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/task-tracker.dto.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/workflow-instance.dto.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/task-handler.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/task-tracker.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/workflow-instance.ts
  apps/server/vendor-be/src/bpm/workflow-instances/task-handler.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/task-tracker.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
  apps/server/vendor-be/src/main.ts
Due: none

feat(vendor-be): undrescore removed
  apps/server/vendor-be/src/vendor-registration/entities/service-price.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/services.entity.ts
Due: none

Update Dockerfile
  apps/server/+demo-be/Dockerfile
Due: none

Path conditions:
  build_demo-fe: any of: apps/back-office/+demo-fe/**/*
  deploy_demo-fe: any of: apps/back-office/+demo-fe/**/*
  build_iam-fe: any of: apps/back-office/iam-fe/**/*
  deploy_iam-fe: any of: apps/back-office/iam-fe/**/*
  build_egp: any of: apps/portal/egp/**/*
  deploy_portal: any of: apps/portal/egp/**/*
  build_administration: any of: apps/back-office/administration-fe/**/*
  deploy_admin: any of: apps/back-office/administration-fe/**/*
  build_vendor: any of: apps/back-office/vendor-fe/**/*
  deploy_vendor: any of: apps/back-office/vendor-fe/**/*
