Repository tesfamikael4/megp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_demo-fe, deploy_demo-fe, build_iam-fe, deploy_iam-fe, build_egp, deploy_portal, build_administration, deploy_admin, build_vendor, deploy_vendor

.gitlab-ci.yml:

image: docker:latest

services:
  - docker:dind

stages:
  - build
  - deploy

variables:  
  CONTAINER_TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  CONTAINER_RELEASE_IMAGE: $CI_REGISTRY_IMAGE:latest

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

build_demo-fe:
  stage: build
  script:
    - cd apps/back-office/+demo-fe
    - docker build -t $CONTAINER_RELEASE_IMAGE .
    - docker push $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/back-office/+demo-fe/**/*

deploy_demo-fe:
  stage: deploy
  script:
    - docker pull $CONTAINER_RELEASE_IMAGE
    - docker container rm -f demo-fe || true
    - docker run -p 5533:5533 --name demo-fe $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/back-office/+demo-fe/**/*

build_iam-fe:
  stage: build
  script:
    - cd apps/back-office/iam-fe
    - docker build -t $CONTAINER_RELEASE_IMAGE .
    - docker push $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/back-office/iam-fe/**/*

deploy_iam-fe:
  stage: deploy
  script:
    - docker pull $CONTAINER_RELEASE_IMAGE
    - docker container rm -f iam-fe || true
    - docker run -p 5511:5511 --name iam-fe $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/back-office/iam-fe/**/*

build_egp:
  stage: build
  script:
    - cd apps/portal/egp
    - docker build -t egp .
  rules:
    - changes:
        - apps/portal/egp/**/*

deploy_portal:
  stage: deploy
  script:
    - docker pull $CONTAINER_RELEASE_IMAGE
    - docker container rm -f egp || true
    - docker run -p 5599:5599 --name egp $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/portal/egp/**/*

build_administration:
  stage: build
  script:
    - cd apps/back-office/administration-fe .
    - docker build -t admin-fe .
  rules:
    - changes:
        - apps/back-office/administration-fe/**/*

deploy_admin:
  stage: deploy
  script:
    - docker pull $CONTAINER_RELEASE_IMAGE
    - docker container rm -f admin-fe || true
    - docker run -p 5522:5522 --name admin-fe $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/back-office/administration-fe/**/*

build_vendor:
  stage: build
  script:
    - cd apps/back-office/vendor-fe .
    - docker build -t vendor-fe .
  rules:
    - changes:
        - apps/back-office/vendor-fe/**/*

deploy_vendor:
  stage: deploy
  script:
    - docker pull $CONTAINER_RELEASE_IMAGE
    - docker container rm -f vendor-fe || true
    - docker run -p 5533:5533 --name megp-vendor-fe $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/back-office/vendor-fe/**/*

Update .gitlab-ci.yml
  apps/back-office/iam-fe/.gitlab-ci.yml
Due: build_iam-fe, deploy_iam-fe

Update .gitlab-ci.yml
  apps/back-office/administration-fe/.gitlab-ci.yml
Due: build_administration, deploy_admin

Update .gitlab-ci.yml
  apps/portal/egp/.gitlab-ci.yml
Due: build_egp, deploy_portal

Update Dockerfile
  apps/back-office/iam-fe/Dockerfile
Due: build_iam-fe, deploy_iam-fe

Update Dockerfile
  apps/portal/egp/Dockerfile
Due: build_egp, deploy_portal

Update .gitlab-ci.yml
  apps/back-office/+demo-fe/.gitlab-ci.yml
Due: build_demo-fe, deploy_demo-fe

feat(vendor-be): minorchange on add vendor information,minorchanges
  apps/server/vendor-be/src/categories/category.controller.ts
  apps/server/vendor-be/src/vendor-registration/controllers/ncic.controller.ts
  apps/server/vendor-be/src/vendor-registration/controllers/tinRegistrationDatabase.controller.ts
  apps/server/vendor-be/src/vendor-registration/controllers/tradeRegistrationDatabase.controller.ts
  apps/server/vendor-be/src/vendor-registration/dto/file.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/tin-registration-database.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/trade-registration-database.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/bank-account-detail.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/ncic.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/tin-registration-database.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/trade-registration-database.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
  apps/server/vendor-be/src/vendor-registration/services/ncic.service.ts
  apps/server/vendor-be/src/vendor-registration/services/tin-registration-database.service.ts
  apps/server/vendor-be/src/vendor-registration/services/trade-registration-database.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-basics.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
  apps/server/vendor-be/src/vendor-registration/vendors.controller.ts
  pnpm-lock.yaml
Due: none

Revert "Merge branch '40-define-and-modify-fee-settings-2' into 'main'"
  apps/server/vendor-be/src/categories/category.controller.ts
  apps/server/vendor-be/src/vendor-registration/controllers/ncic.controller.ts
  apps/server/vendor-be/src/vendor-registration/controllers/tinRegistrationDatabase.controller.ts
  apps/server/vendor-be/src/vendor-registration/controllers/tradeRegistrationDatabase.controller.ts
  apps/server/vendor-be/src/vendor-registration/dto/file.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/tin-registration-database.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/trade-registration-database.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/bank-account-detail.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/ncic.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/tin-registration-database.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/trade-registration-database.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
  apps/server/vendor-be/src/vendor-registration/services/ncic.service.ts
  apps/server/vendor-be/src/vendor-registration/services/tin-registration-database.service.ts
  apps/server/vendor-be/src/vendor-registration/services/trade-registration-database.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-basics.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
  apps/server/vendor-be/src/vendor-registration/vendors.controller.ts
  pnpm-lock.yaml
Due: none

feat(vendor-be): added a sample database for trade and tin and ncic databases...
  apps/server/vendor-be/src/categories/category.controller.ts
  apps/server/vendor-be/src/vendor-registration/controllers/ncic.controller.ts
  apps/server/vendor-be/src/vendor-registration/controllers/tinRegistrationDatabase.controller.ts
  apps/server/vendor-be/src/vendor-registration/controllers/tradeRegistrationDatabase.controller.ts
  apps/server/vendor-be/src/vendor-registration/dto/file.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/tin-registration-database.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/trade-registration-database.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/bank-account-detail.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/ncic.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/tin-registration-database.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/trade-registration-database.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
  apps/server/vendor-be/src/vendor-registration/services/ncic.service.ts
  apps/server/vendor-be/src/vendor-registration/services/tin-registration-database.service.ts
  apps/server/vendor-be/src/vendor-registration/services/trade-registration-database.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-basics.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
  apps/server/vendor-be/src/vendor-registration/vendors.controller.ts
  pnpm-lock.yaml
Due: none

feat(egp): dynamic auth action on header
  apps/portal/egp/package.json
  apps/portal/egp/src/app/(home)/layout.tsx
  apps/portal/egp/src/app/(home)/page.module.scss
  apps/portal/egp/src/app/_shared/landing/landing.module.scss
  apps/portal/egp/src/app/_shared/layout/mobile-header.tsx
  apps/portal/egp/src/app/_shared/layout/nav-action.tsx
  apps/portal/egp/src/app/_shared/layout/page.module.scss
  apps/portal/egp/src/app/auth/checkToken.tsx
  apps/portal/egp/src/app/auth/clearToken.tsx
  apps/portal/egp/src/app/auth/config/frontendConfig.ts
  apps/portal/egp/src/app/auth/layout.tsx
  apps/portal/egp/src/app/auth/login/page.tsx
  apps/portal/egp/src/app/auth/supertokensUtilities.ts
Due: build_egp, deploy_portal

feat(egp): phone input component
  .vscode/settings.json
  packages/fe/core-fe/package.json
  packages/fe/core-fe/src/components/phone-input/phone-input.tsx
Due: none

Feature auth package
  .vscode/launch.json
  apps/server/+demo-be/package-lock.json
  apps/server/+demo-be/package.json
  apps/server/+demo-be/src/app.module.ts
  apps/server/+demo-be/src/authorization/authorization.module.ts
  apps/server/+demo-be/src/authorization/decorator/allow-anonymous.decorator.ts
  apps/server/+demo-be/src/authorization/decorator/current-user.decorator.ts
  apps/server/+demo-be/src/authorization/guard/jwt-auth.guard.ts
  apps/server/+demo-be/src/authorization/guard/permissions.guard.ts
  apps/server/+demo-be/src/authorization/index.ts
  apps/server/+demo-be/src/authorization/utils/extract-current-user.ts
  apps/server/+demo-be/src/authorization/utils/jwt-constant.ts
  apps/server/+demo-be/src/main.ts
  apps/server/+demo-be/src/shared/typeorm/typeorm-config-helper.ts
  apps/server/+demo-be/src/shared/typeorm/typeorm.service.ts
  apps/server/+demo-be/src/todo/sample.controller.ts
  apps/server/+demo-be/src/todo/todo.module.ts
  apps/server/iam-be/src/authentication/auth/supertokens/supertokens.service.ts
  packages/be/authorization/.eslintrc.json
  packages/be/authorization/.gitignore
  packages/be/authorization/index.ts
  packages/be/authorization/package.json
  packages/be/authorization/src/app.module.ts
  packages/be/authorization/src/authorization/authorization.controller.ts
  packages/be/authorization/src/authorization/authorization.module.ts
  packages/be/authorization/src/authorization/authorization.service.ts
  packages/be/authorization/src/index.ts
  packages/be/authorization/tsconfig.build.json
  packages/be/authorization/tsconfig.json
  pnpm-lock.yaml
Due: none

Resolve "Portal - Responsiveness"
  apps/portal/egp/src/app/(home)/egp/cms/getting-started/page.module.scss
  apps/portal/egp/src/app/(home)/egp/cms/getting-started/page.tsx
  apps/portal/egp/src/app/_shared/layout/page.module.scss
Due: build_egp, deploy_portal

Update Dockerfile
  apps/server/+demo-be/Dockerfile
Due: none

Update .gitlab-ci.yml
  apps/server/+demo-be/.gitlab-ci.yml
Due: none

Feature auth package
  apps/server/+demo-be/src/authorization/guard/jwt-auth.guard.ts
  apps/server/+demo-be/src/main.ts
  apps/server/iam-be/src/authentication/auth/supertokens/supertokens.service.ts
Due: none

Update .gitlab-ci.yml
  apps/back-office/vendor-fe/.gitlab-ci.yml
Due: build_vendor, deploy_vendor

fix(egp): improve style and token logic
  apps/portal/egp/src/app/auth/checkToken.tsx
  apps/portal/egp/src/app/auth/forgot-password/page.tsx
  apps/portal/egp/src/app/auth/layout.module.scss
  apps/portal/egp/src/app/auth/login/page.module.scss
  apps/portal/egp/src/app/auth/login/page.tsx
  apps/portal/egp/src/app/auth/signup/page.module.scss
  apps/portal/egp/src/app/auth/signup/page.tsx
Due: build_egp, deploy_portal
