Repository tesfamikael4/megp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_demo-fe, deploy_demo-fe, build_iam-fe, deploy_iam-fe, build_egp, deploy_portal, build_administration, deploy_admin, build_vendor, deploy_vendor

build_demo-fe:
  stage: build
  script:
  - cd apps/back-office/+demo-fe
  - docker build -t $CONTAINER_RELEASE_IMAGE .
  - docker push $CONTAINER_RELEASE_IMAGE

deploy_demo-fe:
  stage: deploy
  script:
  - docker pull $CONTAINER_RELEASE_IMAGE
  - docker container rm -f demo-fe || true
  - docker run -p 5533:5533 --name demo-fe $CONTAINER_RELEASE_IMAGE

build_iam-fe:
  stage: build
  script:
  - cd apps/back-office/iam-fe
  - docker build -t $CONTAINER_RELEASE_IMAGE .
  - docker push $CONTAINER_RELEASE_IMAGE

deploy_iam-fe:
  stage: deploy
  script:
  - docker pull $CONTAINER_RELEASE_IMAGE
  - docker container rm -f iam-fe || true
  - docker run -p 5511:5511 --name iam-fe $CONTAINER_RELEASE_IMAGE

build_egp:
  stage: build
  script:
  - cd apps/portal/egp
  - docker build -t egp .

deploy_portal:
  stage: deploy
  script:
  - docker pull $CONTAINER_RELEASE_IMAGE
  - docker container rm -f egp || true
  - docker run -p 5599:5599 --name egp $CONTAINER_RELEASE_IMAGE

build_administration:
  stage: build
  script:
  - cd apps/back-office/administration-fe .
  - docker build -t admin-fe .

deploy_admin:
  stage: deploy
  script:
  - docker pull $CONTAINER_RELEASE_IMAGE
  - docker container rm -f admin-fe || true
  - docker run -p 5522:5522 --name admin-fe $CONTAINER_RELEASE_IMAGE

build_vendor:
  stage: build
  script:
  - cd apps/back-office/vendor-fe .
  - docker build -t vendor-fe .

deploy_vendor:
  stage: deploy
  script:
  - docker pull $CONTAINER_RELEASE_IMAGE
  - docker container rm -f vendor-fe || true
  - docker run -p 5533:5533 --name megp-vendor-fe $CONTAINER_RELEASE_IMAGE

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

feat(demo-fe): build test
  .gitlab-ci.yml
  apps/back-office/+demo-fe/src/app/page.tsx
Due: build_demo-fe, deploy_demo-fe

feat(demo-fe): rebuild
  apps/back-office/+demo-fe/src/app/page.tsx
Due: build_demo-fe, deploy_demo-fe

chore: pipeline fix
  .gitlab-ci.yml
Due: none

feat: build test
  apps/back-office/+demo-fe/src/app/page.tsx
Due: build_demo-fe, deploy_demo-fe

chore: build test
  .gitlab-ci.yml
  apps/back-office/iam-fe/Dockerfile
  package.json
Due: build_iam-fe, deploy_iam-fe

feat: speed test
  .gitlab-ci.yml
  apps/back-office/+demo-fe/.gitlab-ci.yml
  apps/back-office/iam-fe/Dockerfile
  packages/fe/core-fe/components/button/button.tsx
Due: build_demo-fe, deploy_demo-fe, build_iam-fe, deploy_iam-fe

chore: rebuild
  .gitlab-ci.yml
  packages/fe/core-fe/components/button/button.tsx
Due: none

fix: build dependency
  .gitlab-ci.yml
  turbo.json
Due: none

fix: build check
  packages/fe/core-fe/components/button/button.tsx
Due: none

fix: lint
  packages/config/eslint-config-custom/react-internal.js
  packages/fe/core-fe/.eslintrc.js
  packages/fe/core-fe/.eslintrc.json
  packages/fe/core-fe/index.tsx
  packages/fe/core-fe/package.json
  packages/fe/core-fe/src/components/button/button.tsx
  packages/fe/core-fe/src/components/section/section.tsx
  packages/fe/core-fe/src/components/shell/navbar-link-group.tsx
  packages/fe/core-fe/src/components/shell/perago.png
  packages/fe/core-fe/src/components/shell/ppda.svg
  packages/fe/core-fe/src/components/shell/shell.module.scss
  packages/fe/core-fe/src/components/shell/shell.tsx
  packages/fe/core-fe/src/config/applications.ts
  packages/fe/core-fe/src/context/index.tsx
  packages/fe/core-fe/src/context/shell.context.ts
  packages/fe/core-fe/src/models/index.ts
  packages/fe/core-fe/src/models/shell.ts
  packages/fe/core-fe/src/utility/logger.ts
  packages/fe/core-fe/tsconfig.json
Due: none

feat: fix core-fe path
  apps/back-office/iam-fe/src/app/groups/page.tsx
  apps/back-office/iam-fe/src/app/shell.tsx
  apps/back-office/iam-fe/src/context/menu.tsx
Due: build_iam-fe, deploy_iam-fe

fix: tailwind path
  apps/back-office/+demo-fe/tailwind.config.ts
  apps/back-office/administration-fe/tailwind.config.ts
  apps/back-office/iam-fe/tailwind.config.ts
  apps/back-office/vendor-fe/tailwind.config.ts
Due: build_demo-fe, deploy_demo-fe, build_iam-fe, deploy_iam-fe, build_administration, deploy_admin, build_vendor, deploy_vendor

feat(vendor): menu
  apps/back-office/iam-fe/src/config/menu.ts
  apps/back-office/iam-fe/src/context/menu.tsx
  apps/back-office/vendor-fe/next.config.js
  apps/back-office/vendor-fe/src/app/globals.css
  apps/back-office/vendor-fe/src/app/layout.tsx
  apps/back-office/vendor-fe/src/app/mantine.tsx
  apps/back-office/vendor-fe/src/app/page.module.scss
  apps/back-office/vendor-fe/src/app/page.tsx
  apps/back-office/vendor-fe/src/app/shell.tsx
  apps/back-office/vendor-fe/src/config/menu.ts
  packages/fe/core-fe/src/components/shell/shell.tsx
Due: build_iam-fe, deploy_iam-fe, build_vendor, deploy_vendor

Resolve "Portal - Responsiveness"
  apps/portal/egp/public/under_construction.png
  apps/portal/egp/src/app/(home)/egp/bids/all/page.tsx
  apps/portal/egp/src/app/(home)/egp/cms/faq/page.tsx
  apps/portal/egp/src/app/(home)/egp/cms/getting-started/page.tsx
  apps/portal/egp/src/app/(home)/egp/cms/help/page.tsx
  apps/portal/egp/src/app/(home)/egp/cms/page.tsx
  apps/portal/egp/src/app/(home)/egp/resources/page.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/page.tsx
  apps/portal/egp/src/app/(home)/layout.tsx
  apps/portal/egp/src/app/(home)/page.module.scss
  apps/portal/egp/src/app/(home)/page.tsx
  apps/portal/egp/src/app/_shared/landing/highlight-card.tsx
  apps/portal/egp/src/app/_shared/landing/landing.module.scss
  apps/portal/egp/src/app/_shared/layout/mobile-header.tsx
  apps/portal/egp/src/app/_shared/layout/page.module.scss
  apps/portal/egp/src/app/_shared/ui/under-construction.tsx
Due: build_egp, deploy_portal

feat: favicon
  apps/back-office/iam-fe/public/favicon/android-chrome-192x192.png
  apps/back-office/iam-fe/public/favicon/android-chrome-512x512.png
  apps/back-office/iam-fe/public/favicon/apple-touch-icon.png
  apps/back-office/iam-fe/public/favicon/browserconfig.xml
  apps/back-office/iam-fe/public/favicon/favicon-16x16.png
  apps/back-office/iam-fe/public/favicon/favicon-32x32.png
  apps/back-office/iam-fe/public/favicon/favicon.ico
  apps/back-office/iam-fe/public/favicon/mstile-150x150.png
  apps/back-office/iam-fe/public/favicon/safari-pinned-tab.svg
  apps/back-office/iam-fe/public/favicon/site.webmanifest
  apps/back-office/iam-fe/public/next.svg
  apps/back-office/iam-fe/public/vercel.svg
  apps/back-office/iam-fe/src/app/layout.tsx
  apps/back-office/vendor-fe/next.config.js
  apps/back-office/vendor-fe/public/favicon/android-chrome-192x192.png
  apps/back-office/vendor-fe/public/favicon/android-chrome-512x512.png
  apps/back-office/vendor-fe/public/favicon/apple-touch-icon.png
  apps/back-office/vendor-fe/public/favicon/browserconfig.xml
  apps/back-office/vendor-fe/public/favicon/favicon-16x16.png
  apps/back-office/vendor-fe/public/favicon/favicon-32x32.png
  apps/back-office/vendor-fe/public/favicon/favicon.ico
  apps/back-office/vendor-fe/public/favicon/mstile-150x150.png
  apps/back-office/vendor-fe/public/favicon/safari-pinned-tab.svg
  apps/back-office/vendor-fe/public/favicon/site.webmanifest
  apps/back-office/vendor-fe/public/next.svg
  apps/back-office/vendor-fe/public/vercel.svg
  apps/back-office/vendor-fe/src/app/favicon.ico
  apps/back-office/vendor-fe/src/app/group/page.tsx
  apps/back-office/vendor-fe/src/app/layout.tsx
  apps/back-office/vendor-fe/src/app/organization/page.tsx
  apps/back-office/vendor-fe/src/app/unit/page.tsx
  apps/back-office/vendor-fe/src/app/user/page.tsx
  apps/back-office/vendor-fe/src/config/menu.ts
  packages/fe/core-fe/src/config/applications.ts
Due: build_iam-fe, deploy_iam-fe, build_vendor, deploy_vendor

Resolve "Frontend - Account Creation - Wiki Reference No 1 with 1.1"
  apps/portal/egp/public/email.svg
  apps/portal/egp/public/forgot-password.svg
  apps/portal/egp/public/perago.png
  apps/portal/egp/src/app/auth/config/frontendConfig.ts
  apps/portal/egp/src/app/auth/forgot-password/page.tsx
  apps/portal/egp/src/app/auth/layout.module.scss
  apps/portal/egp/src/app/auth/layout.tsx
  apps/portal/egp/src/app/auth/login/page.module.scss
  apps/portal/egp/src/app/auth/login/page.tsx
  apps/portal/egp/src/app/auth/password-reset/page.tsx
  apps/portal/egp/src/app/auth/reset-password/page.tsx
  apps/portal/egp/src/app/auth/signup/page.module.scss
  apps/portal/egp/src/app/auth/signup/page.tsx
  apps/portal/egp/src/app/auth/supertoken.tsx
  apps/portal/egp/src/app/auth/verification/page.tsx
  apps/portal/egp/src/app/auth/verify-email/page.tsx
  apps/server/supertoken-auth/src/auth/supertokens/supertokens.service.ts
  apps/server/supertoken-auth/src/authentication.module.ts
  apps/server/supertoken-auth/src/main.ts
Due: build_egp, deploy_portal

fix: build
  apps/portal/egp/src/app/auth/layout.tsx
Due: build_egp, deploy_portal

feat(theme): shared theme
  .vscode/settings.json
  apps/back-office/+demo-fe/package.json
  apps/back-office/+demo-fe/src/app/mantine.tsx
  apps/back-office/+demo-fe/tailwind.config.ts
  apps/back-office/+demo-fe/tsconfig.json
  apps/back-office/administration-fe/package.json
  apps/back-office/administration-fe/tailwind.config.ts
  apps/back-office/administration-fe/tsconfig.json
  apps/back-office/iam-fe/package.json
  apps/back-office/iam-fe/src/app/mantine.tsx
  apps/back-office/iam-fe/tailwind.config.ts
  apps/back-office/iam-fe/tsconfig.json
  apps/back-office/vendor-fe/package.json
  apps/back-office/vendor-fe/src/app/mantine.tsx
  apps/back-office/vendor-fe/tailwind.config.ts
  apps/back-office/vendor-fe/tsconfig.json
  apps/portal/egp/package.json
  apps/portal/egp/tsconfig.json
  apps/server/+demo-be/package.json
  apps/server/iam-be/package.json
  apps/server/vendor-be/package.json
  package.json
  packages/config/eslint-config-custom/package.json
  packages/config/theme/.eslintrc.json
  packages/config/theme/mantine.ts
  packages/config/theme/package.json
  packages/config/theme/tailwind.ts
  packages/config/theme/theme.scss
  packages/config/theme/tsconfig.json
  packages/config/tsconfig/package.json
  packages/fe/core-fe/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: build_demo-fe, deploy_demo-fe, build_iam-fe, deploy_iam-fe, build_egp, deploy_portal, build_administration, deploy_admin, build_vendor, deploy_vendor

feat: entity list test
  apps/back-office/iam-fe/src/app/groups/[id]/page.tsx
  apps/back-office/iam-fe/src/app/groups/layout.tsx
  apps/back-office/iam-fe/src/app/groups/list.tsx
  apps/back-office/iam-fe/src/app/groups/new/page.tsx
  apps/back-office/iam-fe/src/app/groups/page.tsx
  packages/fe/core-fe/.eslintrc.json
  packages/fe/core-fe/index.tsx
  packages/fe/core-fe/src/components/entity/entity.tsx
  packages/fe/core-fe/src/components/entity/index.ts
  packages/fe/core-fe/src/components/index.ts
  packages/fe/core-fe/src/components/shell/shell.module.scss
  packages/fe/core-fe/src/utility/logger.ts
Due: build_iam-fe, deploy_iam-fe

feat(egp): implemented SSR for auth pages, removed ST wrapper
  apps/portal/egp/src/app/auth/config/frontendConfig.ts
  apps/portal/egp/src/app/auth/forgot-password/page.tsx
  apps/portal/egp/src/app/auth/layout.tsx
  apps/portal/egp/src/app/auth/login/page.tsx
  apps/portal/egp/src/app/auth/reset-password/page.tsx
  apps/portal/egp/src/app/auth/signup/page.tsx
  apps/portal/egp/src/app/auth/supertoken.tsx
  apps/portal/egp/src/app/auth/supertokensUtilities.ts
  apps/portal/egp/src/app/auth/verification/page.tsx
Due: build_egp, deploy_portal

feat: entity list
  apps/back-office/iam-fe/src/app/groups/list.tsx
  packages/config/theme/mantine.ts
  packages/fe/core-fe/.eslintrc.json
  packages/fe/core-fe/package.json
  packages/fe/core-fe/src/components/entity/entity.module.scss
  packages/fe/core-fe/src/components/entity/entity.tsx
  packages/fe/core-fe/src/components/entity/index.ts
  packages/fe/core-fe/src/components/entity/models/entity.ts
  packages/fe/core-fe/src/components/entity/table/table.tsx
  packages/fe/core-fe/src/components/section/section.module.scss
  packages/fe/core-fe/src/components/section/section.tsx
  packages/fe/core-fe/src/components/shell/navbar-link-group.tsx
  packages/fe/core-fe/src/hooks/use-toogle.tsx
  packages/fe/core-fe/src/utility/string.ts
  packages/fe/core-fe/tailwind.config.ts
  packages/fe/core-fe/tsconfig.json
  pnpm-lock.yaml
Due: build_iam-fe, deploy_iam-fe

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add new file
  apps/server/+demo-be/.gitlab-ci.yml
Due: none

Delete docker-compose.yml
  docker-compose.yml
Due: none

Feature iam supertokens
  .vscode/launch.json
  apps/server/iam-be/.eslintrc.json
  apps/server/iam-be/package.json
  apps/server/iam-be/src/authentication/authentication.module.ts
  apps/server/iam-be/src/authentication/supertokens-config-helper.ts
  apps/server/iam-be/src/organization/organization.service.ts
  apps/server/iam-be/src/shared/typeorm/typeorm-config-helper.ts
  apps/server/iam-be/src/shared/typeorm/typeorm.service.ts
  apps/server/iam-be/tsconfig.json
Due: none

Update .gitlab-ci.yml
  apps/back-office/+demo-fe/.gitlab-ci.yml
Due: build_demo-fe, deploy_demo-fe

Update Dockerfile
  apps/back-office/+demo-fe/Dockerfile
Due: build_demo-fe, deploy_demo-fe

Update .gitlab-ci.yml
  apps/back-office/administration-fe/.gitlab-ci.yml
Due: build_administration, deploy_admin

Update .gitlab-ci.yml
  apps/back-office/iam-fe/.gitlab-ci.yml
Due: build_iam-fe, deploy_iam-fe

Update Dockerfile
  apps/back-office/iam-fe/Dockerfile
Due: build_iam-fe, deploy_iam-fe

Update .gitlab-ci.yml
  apps/back-office/vendor-fe/.gitlab-ci.yml
Due: build_vendor, deploy_vendor

Update .gitlab-ci.yml
  apps/portal/egp/.gitlab-ci.yml
Due: build_egp, deploy_portal

Update Dockerfile
  apps/portal/egp/Dockerfile
Due: build_egp, deploy_portal

Add new file
  apps/server/+demo-be/Dockerfile
Due: none

Add new file
  apps/server/iam-be/Dockerfile
Due: none

Add new file
  apps/server/iam-be/.gitlab-ci.yml
Due: none

Path conditions:
  build_demo-fe: any of: apps/back-office/+demo-fe/**/*
  deploy_demo-fe: any of: apps/back-office/+demo-fe/**/*
  build_iam-fe: any of: apps/back-office/iam-fe/**/*
  deploy_iam-fe: any of: apps/back-office/iam-fe/**/*
  build_egp: any of: apps/portal/egp/**/*
  deploy_portal: any of: apps/portal/egp/**/*
  build_administration: any of: apps/back-office/administration-fe/**/*
  deploy_admin: any of: apps/back-office/administration-fe/**/*
  build_vendor: any of: apps/back-office/vendor-fe/**/*
  deploy_vendor: any of: apps/back-office/vendor-fe/**/*
