Repository tesfamikael4/megp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_demo-fe, deploy_demo-fe, build_iam-fe, deploy_iam-fe, build_egp, deploy_portal, build_administration, deploy_admin, build_vendor, deploy_vendor

.gitlab-ci.yml:

image: docker:latest

services:
  - docker:dind

stages:
  - build
  - deploy

variables:  
  CONTAINER_TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  CONTAINER_RELEASE_IMAGE: $CI_REGISTRY_IMAGE:latest

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

build_demo-fe:
  stage: build
  script:
    - cd apps/back-office/+demo-fe
    - docker build -t $CONTAINER_RELEASE_IMAGE .
    - docker push $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/back-office/+demo-fe/**/*

deploy_demo-fe:
  stage: deploy
  script:
    - docker pull $CONTAINER_RELEASE_IMAGE
    - docker container rm -f demo-fe || true
    - docker run -p 5533:5533 --name demo-fe $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/back-office/+demo-fe/**/*

build_iam-fe:
  stage: build
  script:
    - cd apps/back-office/iam-fe
    - docker build -t $CONTAINER_RELEASE_IMAGE .
    - docker push $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/back-office/iam-fe/**/*

deploy_iam-fe:
  stage: deploy
  script:
    - docker pull $CONTAINER_RELEASE_IMAGE
    - docker container rm -f iam-fe || true
    - docker run -p 5511:5511 --name iam-fe $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/back-office/iam-fe/**/*

build_egp:
  stage: build
  script:
    - cd apps/portal/egp
    - docker build -t egp .
  rules:
    - changes:
        - apps/portal/egp/**/*

deploy_portal:
  stage: deploy
  script:
    - docker pull $CONTAINER_RELEASE_IMAGE
    - docker container rm -f egp || true
    - docker run -p 5599:5599 --name egp $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/portal/egp/**/*

build_administration:
  stage: build
  script:
    - cd apps/back-office/administration-fe .
    - docker build -t admin-fe .
  rules:
    - changes:
        - apps/back-office/administration-fe/**/*

deploy_admin:
  stage: deploy
  script:
    - docker pull $CONTAINER_RELEASE_IMAGE
    - docker container rm -f admin-fe || true
    - docker run -p 5522:5522 --name admin-fe $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/back-office/administration-fe/**/*

build_vendor:
  stage: build
  script:
    - cd apps/back-office/vendor-fe .
    - docker build -t vendor-fe .
  rules:
    - changes:
        - apps/back-office/vendor-fe/**/*

deploy_vendor:
  stage: deploy
  script:
    - docker pull $CONTAINER_RELEASE_IMAGE
    - docker container rm -f vendor-fe || true
    - docker run -p 5533:5533 --name megp-vendor-fe $CONTAINER_RELEASE_IMAGE
  rules:
    - changes:
        - apps/back-office/vendor-fe/**/*

Update .gitlab-ci.yml
  apps/server/iam-be/.gitlab-ci.yml
Due: none

Update Dockerfile
  apps/server/iam-be/Dockerfile
Due: none

Update .gitlab-ci.yml
  apps/back-office/+demo-fe/.gitlab-ci.yml
Due: build_demo-fe, deploy_demo-fe

Feature iam supertokens
  apps/server/iam-be/src/authentication/auth/supertokens/supertokens.service.ts
Due: none

feat(vendor): initial push
  apps/server/vendor-be/src/app.module.ts
  apps/server/vendor-be/src/categories/category.controller.ts
  apps/server/vendor-be/src/categories/category.module.ts
  apps/server/vendor-be/src/categories/category.service.ts
  apps/server/vendor-be/src/categories/dto/category.dto.ts
  apps/server/vendor-be/src/categories/entities/category.entity.ts
  apps/server/vendor-be/src/vendor-registration/dto/application.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/business-category.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/custom-category.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/service-price.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/services.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/vendor.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/application.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/bank.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/business-category.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/custom-category.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/invoice.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/message-thread.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/service-price.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/services.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors-bank.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
  apps/server/vendor-be/src/vendor-registration/service-pricing.controller.ts
  apps/server/vendor-be/src/vendor-registration/service-pricing.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-basics.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
  apps/server/vendor-be/src/vendor-registration/vendors.controller.ts
Due: none

feat(vendor): gitlab-ci.yml
  apps/server/vendor-be/.eslintrc.json
Due: none

feta(vendor-be Bankdetail and share holders and removed from the metadatajson...
  apps/server/vendor-be/package.json
  apps/server/vendor-be/src/shared/entities/common.entity.ts
  apps/server/vendor-be/src/vendor-registration/controllers/bankAccountDetail.controller.ts
  apps/server/vendor-be/src/vendor-registration/controllers/shareholder.controller.ts
  apps/server/vendor-be/src/vendor-registration/dto/bank-vendor.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/bank.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/file.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/save-all.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/shareholder.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/vendor.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/bank-account-detail.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/bank.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/file.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/shareholder.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
  apps/server/vendor-be/src/vendor-registration/services/bankAccountDetail.service.ts
  apps/server/vendor-be/src/vendor-registration/services/shareholder.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-basics.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
  apps/server/vendor-be/src/vendor-registration/vendors.controller.ts
  pnpm-lock.yaml
Due: none

feat(iam-be): update on organization
  apps/server/iam-be/src/authentication/auth/auth.module.ts
  apps/server/iam-be/src/authentication/auth/decorators/allow-anonymous.decorator.ts
  apps/server/iam-be/src/authentication/auth/decorators/index.ts
  apps/server/iam-be/src/authentication/auth/decorators/session.decorator.ts
  apps/server/iam-be/src/authentication/auth/filters/auth.filter.ts
  apps/server/iam-be/src/authentication/auth/guards/auth.guard.ts
  apps/server/iam-be/src/authentication/auth/guards/index.ts
  apps/server/iam-be/src/authentication/auth/guards/permissions.guard.ts
  apps/server/iam-be/src/authentication/auth/middlewares/auth.middleware.ts
  apps/server/iam-be/src/authentication/auth/supertokens/supertokens.service.ts
  apps/server/iam-be/src/authentication/authentication.controller.ts
  apps/server/iam-be/src/authentication/authentication.module.ts
  apps/server/iam-be/src/authentication/index.ts
  apps/server/iam-be/src/main.ts
  apps/server/iam-be/src/organization/organization.service.ts
  apps/server/iam-be/src/shared/typeorm/typeorm.service.ts
Due: none

feat(vendor-be): service price crud
  apps/server/vendor-be/src/vendor-registration/service-pricing.controller.ts
  apps/server/vendor-be/src/vendor-registration/service-pricing.service.ts
Due: none

feat(iam-be): update on authorization
  apps/server/iam-be/src/authentication/auth/guards/auth.guard.ts
  apps/server/iam-be/src/authentication/authentication.controller.ts
  apps/server/iam-be/src/organization/organization.service.ts
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

feat: group section
  apps/back-office/iam-fe/src/app/groups/[id]/page.tsx
  apps/back-office/iam-fe/src/app/groups/layout.tsx
  apps/back-office/iam-fe/src/app/groups/list.tsx
  apps/back-office/iam-fe/src/app/groups/new/page.tsx
  packages/fe/core-fe/src/components/entity/entity-layout.tsx
  packages/fe/core-fe/src/components/entity/entity.tsx
  packages/fe/core-fe/src/components/entity/index.ts
  packages/fe/core-fe/src/components/index.ts
  packages/fe/core-fe/src/components/section/section.tsx
Due: build_iam-fe, deploy_iam-fe

Update Dockerfile
  apps/back-office/+demo-fe/Dockerfile
Due: build_demo-fe, deploy_demo-fe

feat(iam-be): update on jwt info
  apps/server/iam-be/src/authentication/auth/supertokens/supertokens.service.ts
  apps/server/iam-be/src/authentication/authentication.controller.ts
  apps/server/iam-be/src/authentication/authentication.module.ts
  apps/server/iam-be/src/organization/organization.service.ts
Due: none

fix: install
  apps/server/vendor-be/package.json
Due: none

Update Dockerfile
  apps/back-office/iam-fe/Dockerfile
Due: build_iam-fe, deploy_iam-fe

Update .gitlab-ci.yml
  apps/back-office/iam-fe/.gitlab-ci.yml
Due: build_iam-fe, deploy_iam-fe

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none
