Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": ["eslint --fix"],
  "packages/**/*.{js,ts,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

Update Dockerfile
  apps/back-office/iam-fe/Dockerfile
Due: none

Update iam-fe.yaml
  deployment/iam-fe/iam-fe.yaml
Due: none

ci: build
  apps/portal/egp/Dockerfile
  apps/portal/egp/package.json
Due: prettier --write

ci: egp docker
  apps/portal/egp/Dockerfile
  apps/portal/egp/next.config.js
  apps/portal/egp/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add new file
  deployment/iam-be/iam-be.yaml
Due: none

Update portal.yaml
  deployment/portal/portal.yaml
Due: none

Update package.json
  apps/server/iam-be/package.json
Due: prettier --write

Update Dockerfile
  apps/server/iam-be/Dockerfile
Due: none

Update iam-be.yaml
  deployment/iam-be/iam-be.yaml
Due: none

ci: demo-be
  apps/server/+demo-be/Dockerfile
Due: none

Delete .gitlab-ci.yml
  apps/server/+demo-be/.gitlab-ci.yml
Due: none

Update package.json
  apps/server/+demo-be/package.json
Due: prettier --write

Add new directory
  deployment/demo-be/.gitkeep
Due: none

Add new file
  deployment/demo-be/demo-be.yaml
Due: none

Update demo-be.yaml
  deployment/demo-be/demo-be.yaml
Due: none

Delete demo-be.yaml
  deployment/demo-be/demo-be.yaml
Due: none

feat: env from runtime
  apps/portal/egp/.env.example
  apps/portal/egp/public/config.json
  apps/portal/egp/src/app/auth/config/frontendConfig.ts
  apps/portal/egp/src/app/auth/layout.tsx
  apps/portal/egp/src/app/layout.tsx
  apps/portal/egp/src/config/env.ts
  apps/portal/egp/src/contexts/config.tsx
  apps/portal/egp/src/models/config.ts
  apps/portal/egp/src/store/provider.tsx
  apps/portal/egp/turbo.json
Due: eslint --fix, prettier --write

fix: ci
  README.md
  apps/portal/egp/.bin/docker-build.sh
  apps/portal/egp/Dockerfile
  apps/portal/egp/package.json
Due: prettier --write

ci: test
  .gitlab-ci.yml
  apps/back-office/iam-fe/.bin/docker-build.sh
  apps/back-office/iam-fe/Dockerfile
  apps/back-office/iam-fe/package.json
  apps/portal/egp/package.json
Due: prettier --write

ci: fix
  .gitlab-ci.yml
Due: none

ci: env
  apps/back-office/+demo-fe/.bin/docker-build.sh
  apps/back-office/+demo-fe/Dockerfile
  apps/back-office/+demo-fe/package.json
  apps/back-office/administration-fe/.bin/docker-build.sh
  apps/back-office/administration-fe/Dockerfile
  apps/back-office/administration-fe/package.json
  apps/back-office/iam-fe/src/app/layout.tsx
  apps/back-office/iam-fe/src/config/env.ts
  apps/back-office/iam-fe/src/contexts/config.tsx
  apps/back-office/iam-fe/src/models/config.ts
  apps/back-office/iam-fe/tsconfig.json
  apps/back-office/planning-fe/.bin/docker-build.sh
  apps/back-office/planning-fe/Dockerfile
  apps/back-office/planning-fe/package.json
  apps/back-office/tendering-fe/.bin/docker-build.sh
  apps/back-office/tendering-fe/Dockerfile
  apps/back-office/tendering-fe/package.json
  apps/back-office/vendor-fe/.bin/docker-build.sh
  apps/back-office/vendor-fe/Dockerfile
  apps/back-office/vendor-fe/package.json
Due: eslint --fix, prettier --write

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none
