Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": ["eslint --fix"],
  "packages/**/*.{js,ts,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

Resolve "Generate Certificate Report - PPDA Certification for approved Vendor"
  apps/portal/egp/next.config.js
  apps/portal/egp/package.json
  apps/portal/egp/src/app/verify/vendors/[id]/page.module.scss
  apps/portal/egp/src/app/verify/vendors/[id]/page.tsx
  packages/fe/core-fe/.eslintrc.js
  packages/fe/core-fe/src/components/generate-pdf/generate-pdf.tsx
  packages/fe/core-fe/src/components/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: vendor ci
  apps/server/iam-be/package.json
  apps/server/vendor-be/Dockerfile
  apps/server/vendor-be/src/shared/workflow-engine/workflow-engine.service.ts
Due: eslint --fix, prettier --write

feat: egp layout
  apps/portal/egp/src/app/(features)/vendor/dashboard/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/menu.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/basic/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/detail/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/layout.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/page.tsx
Due: eslint --fix

Update package.json
  apps/server/planning-be/package.json
Due: prettier --write

Update package.json
  apps/back-office/vendor-fe/package.json
Due: prettier --write

Update Dockerfile
  apps/back-office/vendor-fe/Dockerfile
Due: none

Update Dockerfile
  apps/back-office/iam-fe/Dockerfile
Due: none

Update Dockerfile
  apps/server/planning-be/Dockerfile
Due: none

Update Dockerfile
  apps/server/administration-be/Dockerfile
Due: none

Update docker-build.sh
  apps/server/administration-be/.bin/docker-build.sh
Due: none

Update package.json
  apps/server/administration-be/package.json
Due: prettier --write

fix: item-code generator fix
  apps/server/administration-be/src/entities/item-master.entity.ts
  apps/server/administration-be/src/entities/item-tag.entity.ts
  apps/server/administration-be/src/modules/item-master/controllers/extra-item-tag.controller.ts
  apps/server/administration-be/src/modules/item-master/services/extra-services/extra-tem-tag.service.ts
  apps/server/administration-be/src/modules/item-master/services/item-code-generator.service.ts
  apps/server/administration-be/src/modules/item-master/services/item-master.service.ts
Due: eslint --fix

feat(iam-be): update on generic relation
  apps/server/iam-be/src/shared/controller/relation-crud.controller.ts
  apps/server/iam-be/src/shared/service/relation-crud.service.ts
Due: eslint --fix

Update Dockerfile
  apps/back-office/administration-fe/Dockerfile
Due: none

Vendor updated folder structure v1
  apps/portal/egp/src/app/(features)/vendor/_components/sidebar/config/index.ts
  apps/portal/egp/src/app/(features)/vendor/_components/sidebar/sidebar.module.scss
  apps/portal/egp/src/app/(features)/vendor/_components/sidebar/sidebar.tsx
  apps/portal/egp/src/app/(features)/vendor/draft-applications/page.tsx
  apps/portal/egp/src/app/(features)/vendor/follow-up-tasks/page.tsx
  apps/portal/egp/src/app/(features)/vendor/layout.module.scss
  apps/portal/egp/src/app/(features)/vendor/layout.tsx
  apps/portal/egp/src/app/(features)/vendor/notifications/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/additional-service/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/basic/basic.module.scss
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/basic/index.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/stepper/index.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/stepper/stepper.module.scss
  apps/portal/egp/src/app/(features)/vendor/registration/new/layout.module.scss
  apps/portal/egp/src/app/(features)/vendor/registration/new/layout.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/renewal/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/update-info/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/upgrade/page.tsx
  apps/portal/egp/src/app/(features)/vendor/track-applications/page.tsx
Due: eslint --fix

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

feat(iam-be): update on generic service
  apps/server/iam-be/src/modules/groups/controllers/extra-user-group.controller.ts
  apps/server/iam-be/src/modules/groups/controllers/relation-user-group.controller.ts
  apps/server/iam-be/src/modules/groups/controllers/user-group.controller.ts
  apps/server/iam-be/src/modules/groups/dto/user-group.dto.ts
  apps/server/iam-be/src/modules/groups/entity/user-group.entity.ts
  apps/server/iam-be/src/modules/groups/group.module.ts
  apps/server/iam-be/src/modules/groups/services/group-bulk-relation.service.ts
  apps/server/iam-be/src/modules/groups/services/group-bulk.service.ts
  apps/server/iam-be/src/modules/mandate/controllers/mandate-permission.controller.ts
  apps/server/iam-be/src/modules/mandate/controllers/organization-mandate.controller.ts
  apps/server/iam-be/src/modules/organization/controllers/user-unit.controller.ts
  apps/server/iam-be/src/modules/role/controllers/role-permission.controller.ts
  apps/server/iam-be/src/modules/role/controllers/user-role.controller.ts
  apps/server/iam-be/src/shared/controller/entity-crud.controller.ts
  apps/server/iam-be/src/shared/controller/extra-crud.controller.ts
  apps/server/iam-be/src/shared/controller/relation-crud.controller.ts
  apps/server/iam-be/src/shared/decorators/crud-options.decorator.ts
  apps/server/iam-be/src/shared/service/relation-crud.service.ts
Due: eslint --fix

Taxonomy classification ui
  apps/back-office/administration-fe/package.json
  apps/back-office/administration-fe/src/app/(features)/taxonomy/_api/taxonomy.api.ts
  apps/back-office/administration-fe/src/app/(features)/taxonomy/_components/form-detail.tsx
  apps/back-office/administration-fe/src/app/(features)/taxonomy/_components/tree-view.tsx
  apps/back-office/administration-fe/src/app/(features)/taxonomy/page.tsx
  apps/back-office/administration-fe/src/config/menu.ts
  apps/back-office/administration-fe/src/models/taxonomy.ts
  apps/back-office/administration-fe/src/store/api/other/other.api.ts
  apps/back-office/administration-fe/src/store/entity/list.ts
  apps/back-office/administration-fe/turbo.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: get permission under org, remove org sector
  apps/server/iam-be/src/modules/application/controllers/permission.controller.ts
  apps/server/iam-be/src/modules/application/dto/permission.dto.ts
  apps/server/iam-be/src/modules/application/services/permission.service.ts
  apps/server/iam-be/src/modules/groups/dto/group.dto.ts
  apps/server/iam-be/src/modules/groups/dto/user-group.dto.ts
  apps/server/iam-be/src/modules/groups/entity/group.entity.ts
  apps/server/iam-be/src/modules/mandate/controllers/mandate.controller.ts
  apps/server/iam-be/src/modules/organization/controllers/organization.controller.ts
  apps/server/iam-be/src/modules/organization/controllers/user.controller.ts
  apps/server/iam-be/src/modules/organization/dto/organization.dto.ts
  apps/server/iam-be/src/modules/organization/entities/organization-sector.entity.ts
  apps/server/iam-be/src/modules/organization/entities/organization.entity.ts
  apps/server/iam-be/src/modules/organization/services/organization.service.ts
  apps/server/iam-be/src/shared/domain/contact-number.dto.ts
  apps/server/iam-be/src/shared/entities/contact-number.ts
Due: eslint --fix

Item master
  apps/back-office/administration-fe/src/app/(features)/item-master/[id]/page.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/_api/item-master.api.ts
  apps/back-office/administration-fe/src/app/(features)/item-master/_components/form-detail.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/_components/tree/tree-builder.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/_components/tree/tree.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/entity.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/layout.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/new/page.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/page.tsx
  apps/back-office/administration-fe/src/config/menu.ts
  apps/back-office/administration-fe/src/models/item-master.ts
  apps/back-office/administration-fe/src/store/api/categories/categories.api.ts
  apps/back-office/administration-fe/src/store/api/measurements/measurements.api.ts
  apps/back-office/administration-fe/src/store/api/tags/tags.api.ts
  apps/back-office/administration-fe/src/store/entity/list.ts
  apps/back-office/administration-fe/src/store/store.ts
  apps/back-office/vendor-fe/package.json
  apps/server/administration-be/src/entities/item-code-sequence.ts
  apps/server/administration-be/src/entities/item-tag.entity.ts
  apps/server/administration-be/src/modules/item-master/services/item-code-generator.service.ts
  apps/server/administration-be/src/shared/controller/extra-crud.controller.ts
  apps/server/administration-be/src/shared/service/entity-crud.service.ts
  apps/server/planning-be/package.json
Due: eslint --fix, prettier --write

Vendor updated folder structure v1.2
  .vscode/settings.json
  apps/portal/egp/package.json
  apps/portal/egp/src/app/(features)/vendor/_components/UppyAttachmentDashboard/UppyAttachmentDashboard.tsx
  apps/portal/egp/src/app/(features)/vendor/_components/UppyAttachmentDashboard/uppyDashboard.module.scss
  apps/portal/egp/src/app/(features)/vendor/_components/actionMenu/index.tsx
  apps/portal/egp/src/app/(features)/vendor/_components/cardList/index.tsx
  apps/portal/egp/src/app/(features)/vendor/_components/dynamicPrintComponent/dynamicPrintComponent.tsx
  apps/portal/egp/src/app/(features)/vendor/_components/dynamicPrintComponent/invoice.css
  apps/portal/egp/src/app/(features)/vendor/_components/dynamicPrintComponent/invoice.tsx
  apps/portal/egp/src/app/(features)/vendor/_components/modal/index.tsx
  apps/portal/egp/src/app/(features)/vendor/_components/multiCheckBox/index.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/basic/basicInformation.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/accordion.data.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/accordion.module.scss
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/addressInformation.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/bankAccountDetails.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/basicInfo.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/beneficialOwnership.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/businessSizeAndOwnership.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/contactPersons.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/formShell.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/schema.ts
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/shareHolders.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/doc/supportingDocuments.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/menu.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/pdda/areasOfBusinessInterest.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/pdda/form.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/stepper/index.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/detail/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/doc/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/layout.module.scss
  apps/portal/egp/src/app/(features)/vendor/registration/new/layout.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/payment/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/pdda/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/review/page.tsx
  apps/portal/egp/src/models/vendorInvoice.ts
  apps/portal/egp/src/models/vendorRegistration.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Item master after merged be
  apps/server/administration-be/src/entities/item-master.entity.ts
Due: eslint --fix

Update relation library
  apps/back-office/iam-fe/src/app/(features)/applications/_components/permission-form.tsx
  apps/back-office/iam-fe/src/app/(features)/groups/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/groups/_components/user-assignment.tsx
  apps/back-office/iam-fe/src/app/(features)/mandate/_components/mandate-permission.api.tsx
  apps/back-office/iam-fe/src/app/(features)/my-organization/_components/organizationAdress.tsx
  apps/back-office/iam-fe/src/app/(features)/organization-sector/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/organization-type/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/organizations/_components/add-mandate.tsx
  apps/back-office/iam-fe/src/app/(features)/organizations/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/roles/_components/add-permission.tsx
  apps/back-office/iam-fe/src/app/(features)/roles/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/unit-type/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/units/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/units/_components/user-assignment.tsx
  apps/back-office/iam-fe/src/app/(features)/users/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/users/_components/user-group.tsx
  apps/back-office/iam-fe/src/app/(features)/users/_components/user-profile.tsx
  apps/back-office/iam-fe/src/app/(features)/users/_components/user-role.tsx
  apps/back-office/iam-fe/src/app/(features)/users/_components/user-unit.tsx
  apps/back-office/iam-fe/src/app/(features)/users/entity.tsx
  apps/back-office/iam-fe/src/store/store.ts
  packages/fe/core-fe/src/components/index.ts
  packages/fe/core-fe/src/components/notification/notification.tsx
  packages/fe/entity/tsconfig.json
Due: eslint --fix, prettier --write

Vendor updated folder structure v1.3
  apps/portal/egp/src/app/(features)/vendor/_components/cardList/cardListShell.tsx
  apps/portal/egp/src/app/(features)/vendor/_components/dynamicPrintComponent/invoice.tsx
  apps/portal/egp/src/app/(features)/vendor/_components/sidebar/config/index.ts
  apps/portal/egp/src/app/(features)/vendor/_components/sidebar/sidebar.module.scss
  apps/portal/egp/src/app/(features)/vendor/_components/sidebar/sidebar.tsx
  apps/portal/egp/src/app/(features)/vendor/contract/page.tsx
  apps/portal/egp/src/app/(features)/vendor/layout.tsx
  apps/portal/egp/src/app/(features)/vendor/my-briefcase/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_api/query.ts
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/basic/basic.module.scss
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/basic/basicInformation.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/addressInformation.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/bankAccountDetails.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/basicInfo.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/beneficialOwnership.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/businessSizeAndOwnership.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/contactPersons.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/form.module.scss
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/formShell.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/shareHolders.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/page-title/title.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/pdda/areasOfBusinessInterest.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/pdda/form.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/pdda/formShell.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/review/accordion.module.scss
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/review/index.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/review/table.module.scss
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/stepper/stepper.module.scss
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/stepper/stepper.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/detail/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/layout.module.scss
  apps/portal/egp/src/app/(features)/vendor/registration/new/layout.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/payment/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/pdda/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/review/page.tsx
  apps/portal/egp/src/app/(features)/vendor/tender/page.tsx
  apps/portal/egp/src/models/vendorInvoice.ts
  apps/portal/egp/src/models/vendorRegistration.ts
Due: eslint --fix

Vendor new latest changs
  apps/server/vendor-be/package.json
  apps/server/vendor-be/src/data2.ts
  apps/server/vendor-be/src/shared/typeorm/typeorm.service.ts
  apps/server/vendor-be/src/vendor-registration/controllers/areas-of-business-interest.controller.ts
  apps/server/vendor-be/src/vendor-registration/controllers/file.controller.ts
  apps/server/vendor-be/src/vendor-registration/dto/areas-of-business-interest.ts
  apps/server/vendor-be/src/vendor-registration/dto/save-all.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/shareholder.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/vendor-initiation.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/vendor.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/areas-of-business-interest.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/file.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/shareholder.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
  apps/server/vendor-be/src/vendor-registration/services/areas-of-business-interest.service.ts
  apps/server/vendor-be/src/vendor-registration/services/file.service.ts
  apps/server/vendor-be/src/vendor-registration/services/tus.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write
