Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

implement Workflow instance, Task handler and task tracker models
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/business-process/dtos/business-process.dto.ts
  apps/server/vendor-be/src/bpm/business-process/entities/business-process.ts
  apps/server/vendor-be/src/bpm/controllers/bp-service.controller.ts
  apps/server/vendor-be/src/bpm/controllers/business-process.controller.ts
  apps/server/vendor-be/src/bpm/controllers/task.controller.ts
  apps/server/vendor-be/src/bpm/controllers/workflow-instance.controller.ts
  apps/server/vendor-be/src/bpm/services/dtos/bp-service.dto.ts
  apps/server/vendor-be/src/bpm/services/service.service.ts
  apps/server/vendor-be/src/bpm/tasks/dtos/task-assignmment.dto.ts
  apps/server/vendor-be/src/bpm/tasks/dtos/task.dto.ts
  apps/server/vendor-be/src/bpm/tasks/entities/task-assignment.ts
  apps/server/vendor-be/src/bpm/tasks/entities/task.entity.ts
  apps/server/vendor-be/src/bpm/tasks/task-assignment.response.ts
  apps/server/vendor-be/src/bpm/tasks/task.service.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/task-handler.dto.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/task-tracker.dto.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/workflow-instance.dto.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/task-handler.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/task-tracker.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/workflow-instance.ts
  apps/server/vendor-be/src/bpm/workflow-instances/task-handler.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/task-tracker.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
  apps/server/vendor-be/src/main.ts
Due: eslint --fix

fix(egp): env change, modify signup
  apps/portal/egp/src/app/auth/signup/page.tsx
  apps/portal/egp/src/app/auth/supertokensUtilities.ts
  apps/server/iam-be/src/authentication/auth/supertokens/supertokens.service.ts
  apps/server/iam-be/src/main.ts
Due: eslint --fix

fix(egp): reshuffle supertoken fields
  apps/server/iam-be/src/authentication/auth/supertokens/supertokens.service.ts
Due: eslint --fix

fix(egp): remove security questions from organziation
  apps/server/iam-be/src/organization/organization.service.ts
Due: eslint --fix

feat(vendor-be): service model update
  pnpm-lock.yaml
Due: none

feat(vendor-be): model change
  apps/server/vendor-be/src/vendor-registration/entities/services.entity.ts
Due: eslint --fix

fix: fix bug
  apps/back-office/iam-fe/package.json
  apps/back-office/iam-fe/src/app/_shared/entity-list/component/entity-list.tsx
  apps/back-office/iam-fe/src/app/my-mandate/page.tsx
  apps/back-office/iam-fe/src/app/organizations/detail/[Id]/mandate-assignment.tsx
  apps/back-office/iam-fe/src/app/roles/detail/[Id]/roleDetailForm.tsx
  apps/back-office/iam-fe/src/app/units/detail/[Id]/detailUnitForm.tsx
  apps/back-office/iam-fe/src/app/units/detail/[Id]/employee-assignment.tsx
  apps/back-office/iam-fe/src/app/units/detail/[Id]/unitDetailForm.tsx
  apps/back-office/iam-fe/src/app/units/detail/[Id]/unitTree.tsx
  apps/back-office/iam-fe/src/app/users/detail/[Id]/page.tsx
  apps/back-office/iam-fe/src/app/users/detail/[Id]/unitDetailForm.tsx
  apps/back-office/iam-fe/src/app/users/new/page.tsx
  apps/back-office/iam-fe/src/app/users/page.tsx
  apps/back-office/iam-fe/src/store/api/organization/organization.api.ts
  apps/back-office/iam-fe/src/store/api/user/user.api.ts
Due: eslint --fix, prettier --write

Feature email verification
  apps/server/iam-be/src/authentication/auth/supertokens/supertokens.service.ts
Due: eslint --fix

feat(vendor-be): work flow tasks, invoice, reciept
  apps/server/vendor-be/src/bpm/application-execution.controller.ts
  apps/server/vendor-be/src/bpm/application-execution.service.ts
  apps/server/vendor-be/src/bpm/tasks/entities/taskType.ts
  apps/server/vendor-be/src/vendor-registration/dto/invoice.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/payment-receipt.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/vendor.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/application.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/invoice.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/receipt-attachment.ts
  apps/server/vendor-be/src/vendor-registration/entities/service-price.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
Due: eslint --fix

feat: working on workflow xstate integration
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/business-process/business-process.service.ts
  apps/server/vendor-be/src/bpm/business-process/dtos/business-process.dto.ts
  apps/server/vendor-be/src/bpm/controllers/workflow-instance.controller.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/task-handler.dto.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/task-tracker.dto.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/workflow-instance.dto.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/task-handler.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/task-tracker.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/workflow-instance.ts
  apps/server/vendor-be/src/bpm/workflow-instances/state-metadata.ts
  apps/server/vendor-be/src/bpm/workflow-instances/task-handler.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/task-tracker.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/task-type.enum.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
  apps/server/vendor-be/src/shared/workflow-engine/workflow-engine.service.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(vendor-be): workflow tasks
  apps/server/vendor-be/src/bpm/application-execution.controller.ts
  apps/server/vendor-be/src/bpm/application-execution.service.ts
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/invoice.entity.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/receipt-attachment.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/workflow-instance.ts
  apps/server/vendor-be/src/vendor-registration/dto/invoice.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/payment-receipt.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/application.entity.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
Due: eslint --fix

fix(egp/vendor): beneficial ownership table
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/form.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/initialValues.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/parts/beneficialOwnership.tsx
Due: eslint --fix

feat(vendor-be): service and service pricing fix
  apps/server/vendor-be/src/bpm/application-execution.controller.ts
  apps/server/vendor-be/src/bpm/application-execution.service.ts
  apps/server/vendor-be/src/bpm/services/bp-service.response.ts
  apps/server/vendor-be/src/bpm/services/dtos/bp-service.dto.ts
  apps/server/vendor-be/src/bpm/services/entities/bp-service.ts
  apps/server/vendor-be/src/bpm/workflow-instances/task-handler.response.ts
  apps/server/vendor-be/src/vendor-registration/dto/service-price.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/service-price.entity.ts
  apps/server/vendor-be/src/vendor-registration/service-pricing.service.ts
Due: eslint --fix

feat(vendor-be): api name changed
  apps/server/vendor-be/src/bpm/application-execution.controller.ts
  apps/server/vendor-be/src/bpm/application-execution.service.ts
Due: eslint --fix

Feature global exception handler
  apps/server/iam-be/src/authentication/auth/supertokens/supertokens.service.ts
  apps/server/iam-be/src/main.ts
  apps/server/iam-be/src/organization/organization.controller.ts
  apps/server/iam-be/src/organization/organization.service.ts
  apps/server/iam-be/src/shared/exceptions/global-exception.filter.ts
Due: eslint --fix

feat(vendor-be): get currunt taxt fixes
  apps/server/vendor-be/src/bpm/application-execution.service.ts
  apps/server/vendor-be/src/bpm/workflow-instances/task-handler.response.ts
  apps/server/vendor-be/src/vendor-registration/dto/vendor.dto.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
Due: eslint --fix

Feature update folder structure
  apps/server/iam-be/.env.example
  apps/server/iam-be/src/app.module.ts
  apps/server/iam-be/src/main.ts
  apps/server/iam-be/src/organization/organization.controller.ts
  apps/server/iam-be/src/organization/organization.service.ts
  apps/server/iam-be/src/supertokens/auth/auth.module.ts
  apps/server/iam-be/src/supertokens/auth/config.interface.ts
  apps/server/iam-be/src/supertokens/auth/decorators/allow-anonymous.decorator.ts
  apps/server/iam-be/src/supertokens/auth/decorators/index.ts
  apps/server/iam-be/src/supertokens/auth/decorators/session.decorator.ts
  apps/server/iam-be/src/supertokens/auth/filters/auth.filter.ts
  apps/server/iam-be/src/supertokens/auth/guards/auth.guard.ts
  apps/server/iam-be/src/supertokens/auth/guards/index.ts
  apps/server/iam-be/src/supertokens/auth/guards/permissions.guard.ts
  apps/server/iam-be/src/supertokens/auth/middlewares/auth.middleware.ts
  apps/server/iam-be/src/supertokens/auth/service/supertokens.service.ts
  apps/server/iam-be/src/supertokens/authentication.controller.ts
  apps/server/iam-be/src/supertokens/authentication.module.ts
  apps/server/iam-be/src/supertokens/index.ts
  apps/server/iam-be/src/supertokens/supertokens-config-helper.ts
Due: eslint --fix

feat(iam): login updated
  apps/server/iam-be/src/supertokens/auth/service/supertokens.service.ts
Due: eslint --fix

Feature login without verify enabled
  apps/server/iam-be/src/shared/exceptions/global-exception.filter.ts
  apps/server/iam-be/src/supertokens/auth/service/supertokens.service.ts
Due: eslint --fix

Vendor registration service frontend v.3.3
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/form.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/_shared/lib/url/helper.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/layout.tsx
  apps/portal/egp/src/app/_shared/layout/mobile-header.tsx
Due: eslint --fix

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix(egp-portal): fixed undefined in env vars
  apps/portal/egp/src/app/auth/config/frontendConfig.ts
Due: eslint --fix

feta(vendor-be bankdetail and share holders and removed from the metadatajson...
  apps/server/vendor-be/src/bpm/workflow-instances/entities/workflow-instance.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
Due: eslint --fix

feat: pipeline change
  .gitlab-ci.yml
Due: none

chore: lint fix
  apps/back-office/vendor-fe/src/app/_shared/ui/notification/utility/notify.tsx
  apps/server/supertoken-auth/.eslintrc.js
  apps/server/supertoken-auth/.gitignore
  apps/server/supertoken-auth/README.md
  apps/server/supertoken-auth/nest-cli.json
  apps/server/supertoken-auth/package-lock.json
  apps/server/supertoken-auth/package.json
  apps/server/supertoken-auth/src/app.controller.ts
  apps/server/supertoken-auth/src/app.module.ts
  apps/server/supertoken-auth/src/app.service.ts
  apps/server/supertoken-auth/src/auth/auth.filter.ts
  apps/server/supertoken-auth/src/auth/auth.guard.ts
  apps/server/supertoken-auth/src/auth/auth.middleware.ts
  apps/server/supertoken-auth/src/auth/auth.module.ts
  apps/server/supertoken-auth/src/auth/config.interface.ts
  apps/server/supertoken-auth/src/auth/session.decorator.ts
  apps/server/supertoken-auth/src/auth/supertokens/supertokens.service.ts
  apps/server/supertoken-auth/src/authentication.module.ts
  apps/server/supertoken-auth/src/index.ts
  apps/server/supertoken-auth/src/main.ts
  apps/server/supertoken-auth/test/app.e2e-spec.ts
  apps/server/supertoken-auth/test/jest-e2e.json
  apps/server/supertoken-auth/tsconfig.build.json
  apps/server/supertoken-auth/tsconfig.json
  packages/config/theme/package.json
  packages/fe/core-fe/.eslintrc.json
  packages/fe/core-fe/src/components/phone-input/phone-input.tsx
  packages/fe/core-fe/src/components/shell/navbar-link-group.tsx
  packages/fe/core-fe/src/components/shell/shell.tsx
  packages/fe/core-fe/src/utility/logger.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: iam build fix
  apps/back-office/iam-fe/src/app/_shared/collection-selector/components/collection-selector.tsx
  apps/back-office/iam-fe/src/app/_shared/collection-selector/components/modal-collection-selector.tsx
  apps/back-office/iam-fe/src/app/_shared/entity-list/component/entity-list.tsx
  apps/back-office/iam-fe/src/app/_shared/ui/page.tsx
  apps/back-office/iam-fe/src/app/inviteOa/detail/[Id]/inviteOaDetailForm.tsx
  apps/back-office/iam-fe/src/app/inviteOa/detail/[Id]/personnelDetail.tsx
  apps/back-office/iam-fe/src/app/mandate/detail/[Id]/extendedProfile.tsx
  apps/back-office/iam-fe/src/app/mandate/detail/[Id]/mandateDetailForm.tsx
  apps/back-office/iam-fe/src/app/my-organization/basicProfile.tsx
  apps/back-office/iam-fe/src/app/my-organization/extendedProfile.tsx
  apps/back-office/iam-fe/src/app/my-organization/organizationAdress.tsx
  apps/back-office/iam-fe/src/app/organization-sector/detail/[Id]/sectorDetailForm.tsx
  apps/back-office/iam-fe/src/app/organization-type/detail/[Id]/typeDetailForm.tsx
  apps/back-office/iam-fe/src/app/organizations/detail/[Id]/manageOrgAdmin.tsx
  apps/back-office/iam-fe/src/app/organizations/detail/[Id]/organizationDetailForm.tsx
  apps/back-office/iam-fe/src/app/organizations/detail/[Id]/resetPassword.tsx
  apps/back-office/iam-fe/src/app/roles/detail/[Id]/roleDetailForm.tsx
  apps/back-office/iam-fe/src/app/super-administration/lookups/detail/[Id]/LookupDetailForm.tsx
  apps/back-office/iam-fe/src/app/super-administration/organization-section/detail/[Id]/sectorDetailForm.tsx
  apps/back-office/iam-fe/src/app/unit-type/detail/[Id]/typeDetailForm.tsx
  apps/back-office/iam-fe/src/app/units/detail/[Id]/unitDetailForm.tsx
  apps/back-office/iam-fe/src/app/users/detail/[Id]/unitDetailForm.tsx
  apps/back-office/vendor-fe/src/app/_shared/collection-selector/components/collection-selector.tsx
  apps/back-office/vendor-fe/src/app/_shared/collection-selector/components/modal-collection-selector.tsx
  apps/back-office/vendor-fe/src/app/_shared/entity-list/component/entity-list.tsx
Due: eslint --fix

feat(vendor-be): workflow fix
  apps/server/vendor-be/src/bpm/business-process/dtos/business-process.dto.ts
  apps/server/vendor-be/src/bpm/controllers/workflow-instance.controller.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/workflow-instance.dto.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/workflow-instance.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
Due: eslint --fix

feat(vendor-be): yamp
  pnpm-lock.yaml
Due: none

feat(vendor-be): model refactoring
  apps/server/vendor-be/src/bpm/services/entities/bp-service.ts
  apps/server/vendor-be/src/vendor-registration/service-pricing.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
Due: eslint --fix

feat(vendor-be): response object mapping fix
  apps/server/vendor-be/src/bpm/workflow-instances/task-handler.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
Due: eslint --fix

feta(vendor-be bankdetail and share holders and removed from the metadatajson...
  apps/server/vendor-be/src/data.ts
  apps/server/vendor-be/src/vendor-registration/controllers/areas-of-business-interest.controller.ts
  apps/server/vendor-be/src/vendor-registration/dto/areas-of-business-interest.ts
  apps/server/vendor-be/src/vendor-registration/dto/vendor.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/area-of-interst.ts
  apps/server/vendor-be/src/vendor-registration/entities/areas-of-business-interest.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
  apps/server/vendor-be/src/vendor-registration/services/areas-of-business-interest.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
  packages/fe/core-fe/src/components/shell/navbar-link-group.tsx
Due: eslint --fix

feat(vendor-be): workflow fix
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
  apps/server/vendor-be/src/shared/typeorm/typeorm.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
Due: eslint --fix

feat(planning-be): new app added
  apps/server/planning-be/.env.example
  apps/server/planning-be/.eslintrc.js
  apps/server/planning-be/.gitignore
  apps/server/planning-be/.prettierrc
  apps/server/planning-be/README.md
  apps/server/planning-be/nest-cli.json
  apps/server/planning-be/package.json
  apps/server/planning-be/src/app.controller.spec.ts
  apps/server/planning-be/src/app.controller.ts
  apps/server/planning-be/src/app.module.ts
  apps/server/planning-be/src/app.service.ts
  apps/server/planning-be/src/main.ts
  apps/server/planning-be/src/shared/api-data/api-paginated-response.ts
  apps/server/planning-be/src/shared/api-data/data-response-format.ts
  apps/server/planning-be/src/shared/api-data/index.ts
  apps/server/planning-be/src/shared/collection-query/collection-query.ts
  apps/server/planning-be/src/shared/collection-query/filter_operators.ts
  apps/server/planning-be/src/shared/collection-query/index.ts
  apps/server/planning-be/src/shared/collection-query/query-constructor.ts
  apps/server/planning-be/src/shared/entities/audit.entity.ts
  apps/server/planning-be/src/shared/typeorm/typeorm-config-helper.ts
  apps/server/planning-be/src/shared/typeorm/typeorm.service.ts
  apps/server/planning-be/test/app.e2e-spec.ts
  apps/server/planning-be/test/jest-e2e.json
  apps/server/planning-be/tsconfig.build.json
  apps/server/planning-be/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(vendor-be): entity update , WFI API
  apps/server/vendor-be/src/bpm/application-execution.controller.ts
  apps/server/vendor-be/src/bpm/application-execution.service.ts
  apps/server/vendor-be/src/bpm/business-process/business-process.response.ts
  apps/server/vendor-be/src/bpm/services/bp-service.response.ts
  apps/server/vendor-be/src/bpm/tasks/task.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/invoice.entity.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/receipt-attachment.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/workflow-instance.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
  apps/server/vendor-be/src/shared/typeorm/typeorm.service.ts
  apps/server/vendor-be/src/vendor-registration/dto/application.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/invoice.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/services.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/vendor.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/application.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/invoice.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/message-thread.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/service-price.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/services.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
  apps/server/vendor-be/src/vendor-registration/service-pricing.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
Due: eslint --fix

feat(planning-be): new app added and authorization fixed on vendor-be
  apps/server/vendor-be/src/app.module.ts
  apps/server/vendor-be/src/authentication/auth/auth.filter.ts
  apps/server/vendor-be/src/authentication/auth/auth.guard.ts
  apps/server/vendor-be/src/authentication/auth/auth.middleware.ts
  apps/server/vendor-be/src/authentication/auth/auth.module.ts
  apps/server/vendor-be/src/authentication/auth/config.interface.ts
  apps/server/vendor-be/src/authentication/auth/supertokens/supertokens.service.ts
  apps/server/vendor-be/src/authentication/authentication.module.ts
  apps/server/vendor-be/src/authentication/index.ts
  apps/server/vendor-be/src/authorization/authorization.module.ts
  apps/server/vendor-be/src/authorization/decorator/allow-anonymous.decorator.ts
  apps/server/vendor-be/src/authorization/decorator/current-user.decorator.ts
  apps/server/vendor-be/src/authorization/guard/jwt-auth.guard.ts
  apps/server/vendor-be/src/authorization/guard/permissions.guard.ts
  apps/server/vendor-be/src/authorization/index.ts
  apps/server/vendor-be/src/authorization/utils/extract-current-user.ts
  apps/server/vendor-be/src/authorization/utils/jwt-constant.ts
  apps/server/vendor-be/src/main.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx})
  prettier --write: any of: *.json
