Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": ["eslint --fix"],
  "packages/**/*.{js,ts,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

ci: fix merge request
  .gitlab-ci.yml
  apps/back-office/iam-fe/package.json
Due: prettier --write

Update package.json
  apps/back-office/iam-fe/package.json
Due: prettier --write

Update Dockerfile
  apps/back-office/planning-fe/Dockerfile
Due: none

Update package.json
  apps/back-office/planning-fe/package.json
Due: prettier --write

Vendor registration service frontend v.3.9.4
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/draft-applications/page.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/_components/areasOfBusinessInterest.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/_components/bankAccountDetails.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/_components/beneficialOwnership.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/_components/formShell.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/_components/schema.ts
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/_components/tabs.module.scss
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/page.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/track-applications/page.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/_components/cardList/index.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/_components/modal/index.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/_components/multiCheckBox/index.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/_components/notification/index.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/_components/sidebar/sidebar.module.scss
  apps/portal/egp/src/app/(home)/egp/vendors/_components/sidebar/sidebar.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/layout.tsx
  apps/portal/egp/src/models/vendorRegistration.ts
  apps/portal/egp/src/store/api/vendor_registration/query.ts
Due: eslint --fix

Update portal.yaml
  deployment/portal/portal.yaml
Due: none

Feature jwt auth
  apps/server/iam-be/src/modules/authorization/controllers/auth.controller.ts
  apps/server/iam-be/src/modules/authorization/guards/jwt.guard.ts
  apps/server/iam-be/src/modules/authorization/helper/auth.helper.ts
  apps/server/iam-be/src/modules/authorization/services/account.service.ts
  apps/server/iam-be/src/organization/organization.controller.ts
  apps/server/iam-be/src/shared/controller/index.ts
  apps/server/iam-be/src/shared/service/index.ts
  apps/server/iam-be/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Feature jwt auth
  apps/server/iam-be/src/app.module.ts
  apps/server/iam-be/src/modules/authorization/authorization.module.ts
  apps/server/iam-be/src/modules/authorization/services/account.service.ts
  apps/server/iam-be/src/shared/email/email.config.ts
  apps/server/iam-be/src/shared/email/email.service.ts
  apps/server/iam-be/src/shared/typeorm/typeorm.service.ts
  pnpm-lock.yaml
Due: eslint --fix

Update Dockerfile
  apps/server/iam-be/Dockerfile
Due: none

Update package.json
  apps/server/iam-be/package.json
Due: prettier --write

Feature jwt auth
  apps/server/iam-be/src/modules/authorization/helper/auth.helper.ts
  apps/server/iam-be/src/modules/authorization/services/account.service.ts
Due: eslint --fix

Update vendor-be.yaml
  deployment/vendor-be/vendor-be.yaml
Due: none

Update Dockerfile
  apps/server/vendor-be/Dockerfile
Due: none

Update main.ts
  apps/server/vendor-be/src/main.ts
Due: eslint --fix

Feature jwt auth
  apps/server/iam-be/package.json
  apps/server/iam-be/src/app.module.ts
  apps/server/iam-be/src/entities/account-verification.entity.ts
  apps/server/iam-be/src/entities/account.entity.ts
  apps/server/iam-be/src/migrations/1697579594710-Initail.ts
  apps/server/iam-be/src/migrations/1697579707520-Initail.ts
  apps/server/iam-be/src/modules/authorization/authorization.module.ts
  apps/server/iam-be/src/modules/authorization/controllers/auth.controller.ts
  apps/server/iam-be/src/modules/authorization/helper/auth.helper.ts
  apps/server/iam-be/src/modules/authorization/services/account.service.ts
  apps/server/iam-be/src/shared/enums/account-verification-type.enum.ts
  apps/server/iam-be/src/shared/enums/index.ts
  apps/server/iam-be/src/shared/interceptors/transaction-interceptor.ts
  apps/server/iam-be/src/shared/typeorm/typeorm-config-helper.ts
  apps/server/iam-be/src/shared/typeorm/typeorm.service.ts
Due: eslint --fix, prettier --write

feat(vendor-be): recreate files
  apps/server/vendor-be/src/categories/category.controller.ts
  apps/server/vendor-be/src/categories/category.module.ts
  apps/server/vendor-be/src/categories/category.service.ts
  apps/server/vendor-be/src/categories/dto/category.dto.ts
  apps/server/vendor-be/src/categories/entities/category.ts
  apps/server/vendor-be/src/handling/controllers/application-execution.controller.ts
  apps/server/vendor-be/src/handling/controllers/workflow-instance.controller.ts
  apps/server/vendor-be/src/handling/dtos/task-handler.dto.ts
  apps/server/vendor-be/src/handling/dtos/task-handler.response.ts
  apps/server/vendor-be/src/handling/dtos/task-tracker.dto.ts
  apps/server/vendor-be/src/handling/dtos/task-tracker.response.ts
  apps/server/vendor-be/src/handling/dtos/workflow-instance.dto.ts
  apps/server/vendor-be/src/handling/dtos/workflow-instance.enum.ts
  apps/server/vendor-be/src/handling/dtos/workflow-instance.response.ts
  apps/server/vendor-be/src/handling/entities/receipt-attachment.ts
  apps/server/vendor-be/src/handling/entities/task-handler.ts
  apps/server/vendor-be/src/handling/entities/task-tracker.ts
  apps/server/vendor-be/src/handling/entities/workflow-instance.ts
  apps/server/vendor-be/src/handling/services/application-execution.service.ts
  apps/server/vendor-be/src/handling/services/handling-common-services.ts
  apps/server/vendor-be/src/handling/services/workflow-instance.service.ts
  apps/server/vendor-be/src/pricing/entities/service-price.ts
  apps/server/vendor-be/src/pricing/service-price.dto.ts
  apps/server/vendor-be/src/pricing/service-pricing.controller.ts
  apps/server/vendor-be/src/pricing/service-pricing.service.ts
  apps/server/vendor-be/src/shared/controller/entity-crud.controller.ts
  apps/server/vendor-be/src/shared/controller/extra-crud.controller.ts
  apps/server/vendor-be/src/shared/controller/index.ts
  apps/server/vendor-be/src/shared/controller/relation-crud.controller.ts
  apps/server/vendor-be/src/shared/decorators/crud-options.decorator.ts
  apps/server/vendor-be/src/shared/service/entity-crud.service.ts
  apps/server/vendor-be/src/shared/service/extra-crud.service.ts
  apps/server/vendor-be/src/shared/service/index.ts
  apps/server/vendor-be/src/shared/service/relation-crud.service.ts
  apps/server/vendor-be/src/shared/typeorm/typeorm.service.ts
  apps/server/vendor-be/src/shared/types/crud-option.type.ts
Due: eslint --fix

feat(iam-be): update on security questions
  apps/server/iam-be/src/modules/authorization/services/account.service.ts
  apps/server/iam-be/src/shared/exceptions/global-exception.filter.ts
Due: eslint --fix

feat(egp/vendors): ui update and functionality
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/_components/areasOfBusinessInterest.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/_components/bankAccountDetails.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/_components/contactPersons.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/_components/formShell.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/_components/schema.ts
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/_components/shareHolders.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/[vendorId]/page.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/_components/alertMessageCard.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/_components/requestForm.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(features)/new/page.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/_components/autoFillForm.tsx
  apps/portal/egp/src/models/vendorRegistration.ts
Due: eslint --fix
