Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": ["eslint --fix"],
  "packages/**/*.{js,ts,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

chore: ci
  pnpm-lock.yaml
Due: none

feat: relation list
  apps/back-office/+demo-fe/package.json
  apps/back-office/administration-fe/package.json
  apps/back-office/iam-fe/package.json
  apps/back-office/iam-fe/src/app/(features)/groups/[id]/page.tsx
  apps/back-office/iam-fe/src/app/(features)/groups/layout.tsx
  apps/back-office/iam-fe/src/app/mantine.tsx
  apps/back-office/planning-fe/package.json
  apps/back-office/tendering-fe/package.json
  apps/back-office/vendor-fe/package.json
  packages/config/eslint-config-custom/next.js
  packages/fe/core-fe/src/components/section/section.module.scss
  packages/fe/core-fe/src/components/section/section.tsx
  packages/fe/core-fe/src/components/shell/shell.tsx
  packages/fe/entity/src/components/index.ts
  packages/fe/entity/src/components/relation/relation.tsx
  packages/fe/entity/src/components/table/grid.module.scss
  packages/fe/entity/src/components/table/grid.tsx
  packages/fe/entity/src/components/table/header-column.tsx
  packages/fe/entity/src/models/entity.ts
  packages/fe/entity/src/models/index.ts
  packages/fe/entity/src/models/list.ts
  packages/fe/entity/src/models/relation.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(vendor-be): vendor registration
  apps/server/vendor-be/src/bpm/application-execution.controller.ts
  apps/server/vendor-be/src/bpm/application-execution.service.ts
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/controllers/workflow-instance.controller.ts
  apps/server/vendor-be/src/bpm/workflow-instance.enum.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/active-vendor-response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/workflow-instance.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
  apps/server/vendor-be/src/main.ts
  apps/server/vendor-be/src/shared/entities/common.entity.ts
  apps/server/vendor-be/src/shared/typeorm/typeorm.service.ts
  apps/server/vendor-be/src/vendor-registration/dto/beneficial-ownership.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/business-category.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/file.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/payment-receipt.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/business-category.entity.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
Due: eslint --fix

chore(egp-portal): upgrade to mantine v7
  apps/portal/egp/package.json
  apps/portal/egp/src/app/auth/forgot-password/page.tsx
  apps/portal/egp/src/app/auth/login/page.tsx
  apps/portal/egp/src/app/auth/reset-password/page.tsx
  apps/portal/egp/src/app/auth/signup/page.tsx
  apps/portal/egp/src/app/mantine.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(iam-be): refactoring initial commit
  apps/server/+demo-be/src/todo/items.controller.ts
  apps/server/iam-be/src/groups/controllers/user-group-relation.controller.ts
  apps/server/iam-be/src/groups/controllers/user-group.controller.ts
  apps/server/iam-be/src/groups/entity/group.entity.ts
  apps/server/iam-be/src/groups/entity/user-group.entity.ts
  apps/server/iam-be/src/groups/group.module.ts
  apps/server/iam-be/src/groups/services/group-bulk-relation.service.ts
  apps/server/iam-be/src/groups/services/group-bulk.service.ts
  apps/server/iam-be/src/organization/entities/user.entity.ts
  apps/server/iam-be/src/shared/controller/generic-bulk-crud.controller.ts
  apps/server/iam-be/src/shared/controller/generic-relation-crud.controller.ts
  apps/server/iam-be/src/shared/decorators/crud-options.decorator.ts
  apps/server/iam-be/src/shared/service/generic-bulk-crud.service.ts
  apps/server/iam-be/src/shared/service/generic-relation-crud.service.ts
  apps/server/iam-be/src/shared/types/crud-option.type.ts
Due: eslint --fix

feat(vendor-be): vendor user-id not unique
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
Due: eslint --fix

vendor App handling
  apps/server/vendor-be/src/bpm/application-execution.controller.ts
  apps/server/vendor-be/src/bpm/application-execution.service.ts
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/controllers/workflow-instance.controller.ts
  apps/server/vendor-be/src/bpm/workflow-instance.enum.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/active-vendor-response.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/workflow-instance.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
  apps/server/vendor-be/src/main.ts
  apps/server/vendor-be/src/shared/entities/common.entity.ts
  apps/server/vendor-be/src/shared/typeorm/typeorm.service.ts
  apps/server/vendor-be/src/vendor-registration/dto/beneficial-ownership.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/business-category.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/file.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/payment-receipt.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/business-category.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
Due: eslint --fix

feat(iam-be): updated main and organization service
  apps/server/iam-be/src/main.ts
  apps/server/iam-be/src/organization/organization.service.ts
  apps/server/iam-be/src/shared/exceptions/global-exception.filter.ts
  apps/server/iam-be/src/supertokens/auth/service/supertokens.service.ts
Due: eslint --fix

feat(iam-be): update on generic classes
  apps/server/+demo-be/src/shared/controller/generic-crud.controller.ts
  apps/server/+demo-be/src/shared/service/generic-crud.service.ts
  apps/server/+demo-be/src/todo/items.controller.ts
  apps/server/+demo-be/src/todo/items.service.ts
  apps/server/iam-be/src/application/controllers/application.controller.ts
  apps/server/iam-be/src/application/controllers/permission.controller.ts
  apps/server/iam-be/src/application/services/application.service.ts
  apps/server/iam-be/src/application/services/permission.service.ts
  apps/server/iam-be/src/groups/controllers/extra-user-group.controller.ts
  apps/server/iam-be/src/groups/controllers/group.controller.ts
  apps/server/iam-be/src/groups/controllers/relation-user-group.controller.ts
  apps/server/iam-be/src/groups/group.module.ts
  apps/server/iam-be/src/groups/services/group-bulk-relation.service.ts
  apps/server/iam-be/src/groups/services/group-bulk.service.ts
  apps/server/iam-be/src/groups/services/group.service.ts
  apps/server/iam-be/src/mandate/controllers/mandate-permission.controller.ts
  apps/server/iam-be/src/mandate/controllers/mandate.controller.ts
  apps/server/iam-be/src/mandate/controllers/organization-mandate.controller.ts
  apps/server/iam-be/src/mandate/services/mandate-permission.service.ts
  apps/server/iam-be/src/mandate/services/mandate.service.ts
  apps/server/iam-be/src/mandate/services/organization-mandate.service.ts
  apps/server/iam-be/src/shared/controller/entity-crud.controller.ts
  apps/server/iam-be/src/shared/controller/extra-crud.controller.ts
  apps/server/iam-be/src/shared/controller/relation-crud.controller.ts
  apps/server/iam-be/src/shared/decorators/crud-options.decorator.ts
  apps/server/iam-be/src/shared/exceptions/global-exception.filter.ts
  apps/server/iam-be/src/shared/service/entity-crud.service.ts
  apps/server/iam-be/src/shared/service/extra-crud.service.ts
  apps/server/iam-be/src/shared/service/relation-crud.service.ts
  apps/server/iam-be/src/shared/types/crud-option.type.ts
  apps/server/iam-be/src/supertokens/auth/guards/auth.guard.ts
Due: eslint --fix

chore: cui
  apps/back-office/iam-fe/Dockerfile
  apps/back-office/iam-fe/package.json
Due: prettier --write

chore: ci test
  apps/back-office/iam-fe/src/config/menu.ts
Due: eslint --fix

feat(iam-be): update on global exception handler
  apps/server/iam-be/src/shared/exceptions/global-exception.filter.ts
  apps/server/iam-be/src/supertokens/auth/guards/auth.guard.ts
Due: eslint --fix

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

chore: ci
  apps/back-office/iam-fe/src/config/menu.ts
Due: eslint --fix

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update package.json
  apps/back-office/iam-fe/package.json
Due: prettier --write

Update Dockerfile
  apps/back-office/iam-fe/Dockerfile
Due: none

feat(planning-be-be): update planning
  apps/server/iam-be/src/groups/services/group.service.ts
  apps/server/planning-be/src/shared/controller/entity-crud.controller.ts
  apps/server/planning-be/src/shared/controller/extra-crud.controller.ts
  apps/server/planning-be/src/shared/controller/relation-crud.controller.ts
  apps/server/planning-be/src/shared/decorators/crud-options.decorator.ts
  apps/server/planning-be/src/shared/domain/contact-number.dto.ts
  apps/server/planning-be/src/shared/domain/file-response.dto.ts
  apps/server/planning-be/src/shared/domain/index.ts
  apps/server/planning-be/src/shared/entities/base.entity.ts
  apps/server/planning-be/src/shared/entities/contact-number.ts
  apps/server/planning-be/src/shared/entities/file-response.ts
  apps/server/planning-be/src/shared/exceptions/global-exception.filter.ts
  apps/server/planning-be/src/shared/service/entity-crud.service.ts
  apps/server/planning-be/src/shared/service/extra-crud.service.ts
  apps/server/planning-be/src/shared/service/relation-crud.service.ts
  apps/server/planning-be/src/shared/types/crud-option.type.ts
Due: eslint --fix
