Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: git
  apps/portal/egp/.bin/gitops.sh
Due: none

ci: revert back
  .gitlab-ci.yml
  apps/portal/egp/.bin/gitops.sh
Due: none

ci: egp full
  .gitlab-ci.yml
  apps/portal/egp/.bin/gitops.sh
Due: none

ci: gitops
  .gitops/docker.sh
  .gitops/gitops.sh
  apps/back-office/+demo-fe/.bin/docker-build.sh
  apps/back-office/+demo-fe/package.json
  apps/back-office/administration-fe/.bin/docker-build.sh
  apps/back-office/administration-fe/package.json
  apps/back-office/iam-fe/.bin/docker-build.sh
  apps/back-office/iam-fe/.bin/gitops.sh
  apps/back-office/iam-fe/package.json
  apps/back-office/planning-fe/.bin/docker-build.sh
  apps/back-office/planning-fe/package.json
  apps/back-office/tendering-fe/.bin/docker-build.sh
  apps/back-office/tendering-fe/package.json
  apps/back-office/vendor-fe/.bin/docker-build.sh
  apps/back-office/vendor-fe/package.json
  apps/portal/egp/.bin/docker-build.sh
  apps/portal/egp/package.json
  apps/server/+demo-be/.bin/docker-build.sh
  apps/server/+demo-be/package.json
  apps/server/administration-be/package.json
  apps/server/iam-be/.bin/docker-build.sh
  apps/server/iam-be/package.json
  apps/server/planning-be/.bin/.gitkeep
  apps/server/planning-be/.bin/docker-build.sh
  apps/server/planning-be/package.json
  apps/server/vendor-be/.bin/docker-build.sh
  apps/server/vendor-be/package.json
Due: prettier --write

ci: back-office
  apps/back-office/+demo-fe/package.json
  apps/back-office/administration-fe/package.json
  apps/back-office/iam-fe/package.json
  apps/back-office/planning-fe/package.json
  apps/back-office/tendering-fe/package.json
  apps/back-office/vendor-fe/package.json
Due: prettier --write

feat: css
  apps/portal/egp/src/app/auth/[[...slug]]/page.tsx
  packages/fe/auth/src/components/layout/auth.tsx
Due: eslint --fix

ci: egp only
  .gitops/gitops.sh
  apps/portal/egp/next.config.js
Due: eslint --fix

feat: gitops
  .gitlab-ci.yml
  .gitops/docker.sh
  .gitops/gitops.sh
  apps/back-office/+demo-fe/package.json
  apps/back-office/administration-fe/package.json
  apps/back-office/iam-fe/package.json
  apps/back-office/planning-fe/package.json
  apps/back-office/tendering-fe/package.json
  apps/back-office/vendor-fe/package.json
  apps/portal/egp/package.json
  apps/server/+demo-be/package.json
  apps/server/administration-be/package.json
  apps/server/iam-be/package.json
  apps/server/planning-be/package.json
  apps/server/vendor-be/package.json
Due: prettier --write

feat: team
  apps/portal/egp/src/app/layout.tsx
Due: eslint --fix

ci: fix
  apps/back-office/+demo-fe/package.json
  apps/back-office/administration-fe/package.json
  apps/back-office/iam-fe/package.json
  apps/back-office/planning-fe/package.json
  apps/back-office/tendering-fe/package.json
  apps/back-office/vendor-fe/package.json
  apps/portal/egp/package.json
  apps/server/+demo-be/package.json
  apps/server/administration-be/package.json
  apps/server/iam-be/package.json
  apps/server/planning-be/package.json
  apps/server/vendor-be/package.json
Due: prettier --write

ci: egp
  apps/portal/egp/src/app/mantine.tsx
Due: eslint --fix

feat: auth page
  apps/portal/egp/src/app/auth/[[...slug]]/page.tsx
  apps/portal/egp/src/app/layout.tsx
  packages/fe/auth/index.ts
  packages/fe/auth/src/components/auth/forgot-password/forgot-password.tsx
  packages/fe/auth/src/components/auth/login/login.tsx
  packages/fe/auth/src/components/auth/questions-reset/questions-reset.tsx
  packages/fe/auth/src/components/auth/reset-password/reset-password.tsx
  packages/fe/auth/src/components/auth/setSecurity/change-security.tsx
  packages/fe/auth/src/components/auth/setSecurity/set-security.tsx
  packages/fe/auth/src/components/auth/signup/signup.tsx
  packages/fe/auth/src/components/auth/verification/otp.tsx
  packages/fe/auth/src/components/index.ts
  packages/fe/auth/src/components/layout/auth.tsx
Due: eslint --fix

fix: submit button color
  apps/back-office/+demo-fe/package.json
  apps/back-office/administration-fe/package.json
  apps/back-office/iam-fe/package.json
  apps/back-office/planning-fe/package.json
  apps/back-office/tendering-fe/package.json
  apps/back-office/vendor-fe/package.json
  apps/portal/egp/package.json
  apps/portal/egp/src/app/(features)/my/my-profile/phoneOTP.tsx
  apps/portal/egp/src/app/(features)/my/security/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/basic/basicInformation.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/formShell.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/ppda/formShell.tsx
  apps/portal/egp/src/app/layout.tsx
  packages/config/theme/package.json
  packages/fe/auth/index.ts
  packages/fe/auth/package.json
  packages/fe/auth/postcss.config.js
  packages/fe/auth/src/components/auth/forgot-password/forgot-password.tsx
  packages/fe/auth/src/components/auth/login/login.module.scss
  packages/fe/auth/src/components/auth/login/login.tsx
  packages/fe/auth/src/components/auth/questions-reset/questions-reset.tsx
  packages/fe/auth/src/components/auth/reset-password/reset-password.tsx
  packages/fe/auth/src/components/auth/setSecurity/change-security.tsx
  packages/fe/auth/src/components/auth/signup/signup.tsx
  packages/fe/core-fe/package.json
  packages/fe/entity/package.json
  packages/fe/entity/src/components/entity/entity-button.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: auth change
  packages/fe/auth/src/components/auth/login/login.module.scss
  packages/fe/auth/src/components/auth/login/login.tsx
Due: eslint --fix

feat: tailwind preflight fix
  apps/back-office/iam-fe/src/app/globals.css
  apps/back-office/iam-fe/src/app/mantine.tsx
  apps/back-office/iam-fe/src/app/preflight.css
  apps/portal/egp/src/app/globals.css
  apps/portal/egp/src/app/layout.tsx
  apps/portal/egp/src/app/mantine.tsx
  apps/portal/egp/src/app/preflight.css
  packages/fe/entity/src/components/entity/entity-button.tsx
Due: eslint --fix

feat: iam - egp
  apps/back-office/iam-fe/src/app/mantine.tsx
  apps/portal/egp/src/app/auth/[[...slug]]/page.tsx
Due: eslint --fix

fix: iam css
  apps/back-office/iam-fe/src/app/layout.tsx
  apps/back-office/iam-fe/src/app/preflight.css
Due: eslint --fix

Migrate auth fe fix
  apps/portal/egp/src/app/(features)/my/security/page.tsx
  packages/fe/auth/src/components/auth/forgot-password/forgot-password.tsx
  packages/fe/auth/src/components/auth/login/login.tsx
  packages/fe/auth/src/components/auth/questions-reset/questions-reset.tsx
  packages/fe/auth/src/components/auth/reset-password/reset-password.tsx
  packages/fe/auth/src/components/auth/setSecurity/change-security.tsx
  packages/fe/auth/src/components/auth/verification/otp.tsx
  packages/fe/auth/src/components/index.ts
  packages/fe/auth/src/context/auth.context.tsx
Due: eslint --fix

Migrate auth fix
  packages/fe/auth/src/components/auth/signup/signup.tsx
Due: eslint --fix

Migrate auth fe fix
  packages/fe/auth/src/components/auth/signup/signup.tsx
  packages/fe/auth/src/components/auth/verification/otp.tsx
Due: eslint --fix

feat: common preflight
  apps/back-office/iam-fe/src/app/globals.css
  packages/config/theme/preflight.css
Due: none

Migrate auth fe
  packages/fe/auth/src/components/layout/auth.tsx
Due: eslint --fix

priceing by key
  apps/server/vendor-be/src/bpm/workflow-instance.enum.ts
  apps/server/vendor-be/src/pricing/service-pricing.controller.ts
  apps/server/vendor-be/src/pricing/service-pricing.service.ts
Due: eslint --fix

Protected userinfo fix
  apps/portal/egp/src/app/(features)/my/Protected.tsx
  apps/portal/egp/src/app/(features)/my/layout.tsx
  apps/portal/egp/src/app/(features)/my/my-profile/page.tsx
  apps/portal/egp/src/shared/components/header/header.tsx
  packages/fe/auth/src/context/auth.context.tsx
Due: eslint --fix

Planning
  apps/back-office/planning-fe/src/app/(features)/initiation/[id]/page.tsx
  apps/back-office/planning-fe/src/app/(features)/initiation/_api/initiation.api.ts
  apps/back-office/planning-fe/src/app/(features)/initiation/_components/form-detail.tsx
  apps/back-office/planning-fe/src/app/(features)/initiation/entity.tsx
  apps/back-office/planning-fe/src/app/(features)/initiation/new/page.tsx
  apps/back-office/planning-fe/src/app/(features)/initiation/page.tsx
  apps/back-office/planning-fe/src/app/(features)/item/[id]/page.tsx
  apps/back-office/planning-fe/src/app/(features)/item/_api/item.api.ts
  apps/back-office/planning-fe/src/app/(features)/item/_components/item-form.tsx
  apps/back-office/planning-fe/src/app/(features)/item/entity.tsx
  apps/back-office/planning-fe/src/app/(features)/item/new/page.tsx
  apps/back-office/planning-fe/src/app/(features)/item/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[budgetYear]/activities/(activities)/[id]/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[budgetYear]/activities/(activities)/_components/form-detail.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[budgetYear]/activities/(activities)/entity.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[budgetYear]/activities/(activities)/layout.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[budgetYear]/activities/(activities)/new/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[budgetYear]/activities/(activities)/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[budgetYear]/activities/items/[activityId]/[id]/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[budgetYear]/activities/items/[activityId]/_components/form-detail.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[budgetYear]/activities/items/[activityId]/entity.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[budgetYear]/activities/items/[activityId]/layout.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[budgetYear]/activities/items/[activityId]/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[id]/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/_api/pre-budget-plan.api.ts
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/_components/form-detail.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/_components/plan-year-tab.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/entity.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/layout.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/new/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/page.tsx
  apps/back-office/planning-fe/src/models/initiation.ts
  apps/back-office/planning-fe/src/models/item.ts
  apps/back-office/planning-fe/src/models/pre-budget-plan-activities.ts
  apps/back-office/planning-fe/src/models/pre-budget-plan-items.ts
  apps/back-office/planning-fe/src/models/pre-budget-plan.ts
Due: eslint --fix

chore: remove supertoken
  .vscode/launch.json
  apps/back-office/iam-fe/src/app/(features)/users/_components/form-detail.tsx
  apps/portal/egp/package.json
  apps/server/+demo-be/tsconfig.json
  apps/server/administration-be/tsconfig.json
  apps/server/iam-be/package.json
  apps/server/iam-be/src/entities/user.entity.ts
  apps/server/iam-be/src/migrations/1697579594710-Initail.ts
  apps/server/iam-be/src/migrations/1697579707520-Initail.ts
  apps/server/iam-be/src/modules/organization/dto/user.dto.ts
  apps/server/planning-be/package.json
  apps/server/vendor-be/package.json
  packages/be/authorization/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: preflight fix
  apps/back-office/+demo-fe/next.config.js
  apps/back-office/+demo-fe/src/app/globals.css
  apps/back-office/+demo-fe/src/app/layout.tsx
  apps/back-office/+demo-fe/src/app/mantine.tsx
  apps/back-office/administration-fe/next.config.js
  apps/back-office/administration-fe/src/app/(features)/layout.tsx
  apps/back-office/administration-fe/src/app/globals.css
  apps/back-office/administration-fe/src/app/layout.tsx
  apps/back-office/administration-fe/src/app/mantine.tsx
  apps/back-office/iam-fe/next.config.js
  apps/back-office/iam-fe/src/app/(features)/layout.tsx
  apps/back-office/iam-fe/src/app/globals.css
  apps/back-office/iam-fe/src/app/layout.tsx
  apps/back-office/planning-fe/next.config.js
  apps/back-office/planning-fe/src/app/globals.css
  apps/back-office/planning-fe/src/app/layout.tsx
  apps/back-office/planning-fe/src/app/mantine.tsx
  apps/back-office/tendering-fe/next.config.js
  apps/back-office/tendering-fe/src/app/globals.css
  apps/back-office/tendering-fe/src/app/layout.tsx
  apps/back-office/tendering-fe/src/app/mantine.tsx
  apps/back-office/vendor-fe/next.config.js
  apps/back-office/vendor-fe/src/app/globals.css
  apps/back-office/vendor-fe/src/app/mantine.tsx
  packages/config/theme/theme.css
Due: eslint --fix

workflow
  apps/server/vendor-be/package.json
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/services/workflow.service.ts
  apps/server/vendor-be/src/handling/services/workflow-instance.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

workflow iso
  apps/server/vendor-be/src/bpm/bpm.module.ts
Due: eslint --fix

Vendor updated folder structure v1.5
  apps/portal/egp/src/app/(features)/vendor/_components/UppyAttachmentDashboard/UppyAttachmentDashboard.tsx
  apps/portal/egp/src/app/(features)/vendor/_components/sidebar/sidebar.module.scss
  apps/portal/egp/src/app/(features)/vendor/_components/sidebar/sidebar.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_api/query.ts
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/bankAccountDetails.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/basicInfo.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/formShell.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/schema.ts
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/formContext/form-context-provider.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/mockup/autoFillForm.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/ppda/areasOfBusinessInterest.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/ppda/formShell.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/detail/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/doc/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/payment/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/ppda/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/review/page.tsx
  apps/portal/egp/src/models/vendorRegistration.ts
Due: eslint --fix

Registration bug
  apps/back-office/administration-fe/src/app/(features)/item-master/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/applications/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/applications/_components/permission-form.tsx
  apps/back-office/iam-fe/src/app/(features)/applications/_components/permission.tsx
  apps/back-office/iam-fe/src/app/(features)/applications/entity.tsx
  apps/back-office/iam-fe/src/app/(features)/groups/entity.tsx
  apps/back-office/iam-fe/src/app/(features)/mandate/[id]/page.tsx
  apps/back-office/iam-fe/src/app/(features)/mandate/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/mandate/entity.tsx
  apps/back-office/iam-fe/src/app/(features)/my-mandate/entity.tsx
  apps/back-office/iam-fe/src/app/(features)/my-organization/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/my-organization/_components/organizationAdress.tsx
  apps/back-office/iam-fe/src/app/(features)/my-organization/page.tsx
  apps/back-office/iam-fe/src/app/(features)/organization-sector/entity.tsx
  apps/back-office/iam-fe/src/app/(features)/organization-type/[id]/page.tsx
  apps/back-office/iam-fe/src/app/(features)/organization-type/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/organization-type/entity.tsx
  apps/back-office/iam-fe/src/app/(features)/organizations/_components/add-mandate.tsx
  apps/back-office/iam-fe/src/app/(features)/organizations/entity.tsx
  apps/back-office/iam-fe/src/app/(features)/roles/[id]/page.tsx
  apps/back-office/iam-fe/src/app/(features)/roles/_components/add-permission.tsx
  apps/back-office/iam-fe/src/app/(features)/roles/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/roles/_components/read-role.tsx
  apps/back-office/iam-fe/src/app/(features)/roles/entity.tsx
  apps/back-office/iam-fe/src/app/(features)/roles/new/page.tsx
  apps/back-office/iam-fe/src/app/(features)/unit-type/[id]/page.tsx
  apps/back-office/iam-fe/src/app/(features)/unit-type/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/unit-type/entity.tsx
  apps/back-office/iam-fe/src/app/(features)/unit-type/new/page.tsx
  apps/back-office/iam-fe/src/app/(features)/units/entity.tsx
  apps/back-office/iam-fe/src/app/(features)/users/entity.tsx
  apps/back-office/iam-fe/src/store/entity/api.ts
  packages/fe/entity/src/components/relation/relation.tsx
  packages/fe/entity/src/components/table/grid.module.scss
  packages/fe/entity/src/components/table/grid.tsx
  packages/fe/entity/src/components/table/header-column.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx})
  prettier --write: any of: *.json
