Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": ["eslint --fix"],
  "packages/**/*.{js,ts,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

feat(vendor-be): task and bp changed
  apps/server/vendor-be/src/bpm/controllers/business-process.controller.ts
  apps/server/vendor-be/src/bpm/controllers/task.controller.ts
  apps/server/vendor-be/src/bpm/dtos/business-process.response.ts
  apps/server/vendor-be/src/bpm/dtos/task-assignment.response.ts
  apps/server/vendor-be/src/bpm/dtos/task-ckeck-list.dto.ts
  apps/server/vendor-be/src/bpm/dtos/task.dto.ts
  apps/server/vendor-be/src/bpm/dtos/task.response.ts
  apps/server/vendor-be/src/bpm/entities/business-process.ts
  apps/server/vendor-be/src/bpm/entities/task-assignment.ts
  apps/server/vendor-be/src/bpm/entities/task.entity.ts
  apps/server/vendor-be/src/bpm/services/business-process.service.ts
  apps/server/vendor-be/src/bpm/services/task.service.ts
Due: eslint --fix

code restructured and refind
  apps/server/vendor-be/src/bpm/entities/business-process.ts
  apps/server/vendor-be/src/handling/dtos/workflow-instance.response.ts
  apps/server/vendor-be/src/handling/entities/task-tracker.ts
  apps/server/vendor-be/src/handling/entities/workflow-instance.ts
  apps/server/vendor-be/src/handling/services/handling-common-services.ts
  apps/server/vendor-be/src/handling/services/workflow-instance.service.ts
  apps/server/vendor-be/src/pricing/entities/service-price.entity.ts
  apps/server/vendor-be/src/services/entities/bp-service.ts
  apps/server/vendor-be/src/shared/controller/generic-bulk-crud.controller.ts
  apps/server/vendor-be/src/shared/controller/generic-crud.controller.ts
  apps/server/vendor-be/src/shared/controller/generic-relation-crud.controller.ts
  apps/server/vendor-be/src/shared/service/generic-bulk-crud.service.ts
  apps/server/vendor-be/src/shared/service/generic-crud.service.ts
  apps/server/vendor-be/src/shared/service/generic-relation-crud.service.ts
  apps/server/vendor-be/src/vendor-registration/entities/beneficial-ownership.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/business-category.entity.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
Due: eslint --fix

feat(vendor-be): recreate files
  apps/server/vendor-be/src/categories/category.controller.ts
  apps/server/vendor-be/src/categories/category.module.ts
  apps/server/vendor-be/src/categories/category.service.ts
  apps/server/vendor-be/src/categories/dto/category.dto.ts
  apps/server/vendor-be/src/categories/entities/category.ts
  apps/server/vendor-be/src/handling/controllers/application-execution.controller.ts
  apps/server/vendor-be/src/handling/controllers/workflow-instance.controller.ts
  apps/server/vendor-be/src/handling/dtos/task-handler.dto.ts
  apps/server/vendor-be/src/handling/dtos/task-handler.response.ts
  apps/server/vendor-be/src/handling/dtos/task-tracker.dto.ts
  apps/server/vendor-be/src/handling/dtos/task-tracker.response.ts
  apps/server/vendor-be/src/handling/dtos/workflow-instance.dto.ts
  apps/server/vendor-be/src/handling/dtos/workflow-instance.enum.ts
  apps/server/vendor-be/src/handling/dtos/workflow-instance.response.ts
  apps/server/vendor-be/src/handling/entities/receipt-attachment.ts
  apps/server/vendor-be/src/handling/entities/task-handler.ts
  apps/server/vendor-be/src/handling/entities/task-tracker.ts
  apps/server/vendor-be/src/handling/entities/workflow-instance.ts
  apps/server/vendor-be/src/handling/services/application-execution.service.ts
  apps/server/vendor-be/src/handling/services/handling-common-services.ts
  apps/server/vendor-be/src/handling/services/workflow-instance.service.ts
  apps/server/vendor-be/src/pricing/entities/service-price.ts
  apps/server/vendor-be/src/pricing/service-price.dto.ts
  apps/server/vendor-be/src/pricing/service-pricing.controller.ts
  apps/server/vendor-be/src/pricing/service-pricing.service.ts
  apps/server/vendor-be/src/shared/controller/entity-crud.controller.ts
  apps/server/vendor-be/src/shared/controller/extra-crud.controller.ts
  apps/server/vendor-be/src/shared/controller/index.ts
  apps/server/vendor-be/src/shared/controller/relation-crud.controller.ts
  apps/server/vendor-be/src/shared/decorators/crud-options.decorator.ts
  apps/server/vendor-be/src/shared/service/entity-crud.service.ts
  apps/server/vendor-be/src/shared/service/extra-crud.service.ts
  apps/server/vendor-be/src/shared/service/index.ts
  apps/server/vendor-be/src/shared/service/relation-crud.service.ts
  apps/server/vendor-be/src/shared/typeorm/typeorm.service.ts
  apps/server/vendor-be/src/shared/types/crud-option.type.ts
Due: eslint --fix

puppeteer added
  apps/server/vendor-be/package.json
  pnpm-lock.yaml
Due: prettier --write

Planning initiation
  apps/back-office/administration-fe/package.json
  apps/back-office/planning-fe/.gitignore
  apps/back-office/planning-fe/package.json
  apps/back-office/planning-fe/src/app/(features)/initiation/[id]/page.tsx
  apps/back-office/planning-fe/src/app/(features)/initiation/_api/initiation.api.ts
  apps/back-office/planning-fe/src/app/(features)/initiation/_components/form-detail.tsx
  apps/back-office/planning-fe/src/app/(features)/initiation/entity.tsx
  apps/back-office/planning-fe/src/app/(features)/initiation/layout.tsx
  apps/back-office/planning-fe/src/app/(features)/initiation/new/page.tsx
  apps/back-office/planning-fe/src/app/(features)/initiation/page.tsx
  apps/back-office/planning-fe/src/app/(features)/item/[id]/page.tsx
  apps/back-office/planning-fe/src/app/(features)/item/_api/item.api.ts
  apps/back-office/planning-fe/src/app/(features)/item/_components/item-form.tsx
  apps/back-office/planning-fe/src/app/(features)/item/entity.tsx
  apps/back-office/planning-fe/src/app/(features)/item/layout.tsx
  apps/back-office/planning-fe/src/app/(features)/item/new/page.tsx
  apps/back-office/planning-fe/src/app/(features)/item/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[id]/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/_api/pre-budget-plan.api.ts
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/_components/form-detail.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/entity.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/layout.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/new/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/page.tsx
  apps/back-office/planning-fe/src/config/menu.ts
  apps/back-office/planning-fe/src/models/initiation.ts
  apps/back-office/planning-fe/src/models/item.ts
  apps/back-office/planning-fe/src/models/pre-budget-plan.ts
  apps/back-office/planning-fe/src/store/api/other/other.api.ts
  apps/back-office/planning-fe/src/store/entity/list.ts
  apps/back-office/planning-fe/turbo.json
  apps/server/planning-be/.gitignore
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Feature updating security question
  apps/server/iam-be/src/modules/authorization/dto/login.dto.ts
  apps/server/iam-be/src/modules/authorization/helper/auth.helper.ts
  apps/server/iam-be/src/modules/authorization/services/account.service.ts
Due: eslint --fix

Feature updating security question
  apps/server/iam-be/src/modules/authorization/controllers/auth.controller.ts
  apps/server/iam-be/src/modules/authorization/services/account.service.ts
Due: eslint --fix

feat(iam-be): update on generic
  apps/server/iam-be/src/shared/controller/entity-crud.controller.ts
  apps/server/iam-be/src/shared/controller/extra-crud.controller.ts
  apps/server/iam-be/src/shared/controller/relation-crud.controller.ts
Due: eslint --fix

Update Dockerfile
  apps/server/vendor-be/Dockerfile
Due: none

Planning item master be
  apps/server/planning-be/src/app.module.ts
  apps/server/planning-be/src/item-master/controllers/extra-item-tag.controller.ts
  apps/server/planning-be/src/item-master/controllers/item-master-controller.ts
  apps/server/planning-be/src/item-master/dtos/create-item-master.dto.ts
  apps/server/planning-be/src/item-master/dtos/item-master-response.dto.ts
  apps/server/planning-be/src/item-master/dtos/update-item-master.dto.ts
  apps/server/planning-be/src/item-master/entities/classification.entity.ts
  apps/server/planning-be/src/item-master/entities/item-category.entity.ts
  apps/server/planning-be/src/item-master/entities/item-code-sequence.ts
  apps/server/planning-be/src/item-master/entities/item-master.entity.ts
  apps/server/planning-be/src/item-master/entities/item-tag.entity.ts
  apps/server/planning-be/src/item-master/entities/measurement.entity.ts
  apps/server/planning-be/src/item-master/entities/tag.entity.ts
  apps/server/planning-be/src/item-master/entities/uom.entity.ts
  apps/server/planning-be/src/item-master/item-master.module.ts
  apps/server/planning-be/src/item-master/services/extra-services/extra-tem-tag.service.ts
  apps/server/planning-be/src/item-master/services/item-code-generator.service.ts
  apps/server/planning-be/src/item-master/services/item-master.service.ts
  apps/server/planning-be/src/shared/controller/extra-crud.controller.ts
Due: eslint --fix

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Case handling new -bug fix
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/controllers/business-process.controller.ts
  apps/server/vendor-be/src/bpm/controllers/task.controller.ts
  apps/server/vendor-be/src/bpm/dtos/business-process.dto.ts
  apps/server/vendor-be/src/bpm/dtos/business-process.response.ts
  apps/server/vendor-be/src/bpm/dtos/task-assignment.response.ts
  apps/server/vendor-be/src/bpm/dtos/task-check-list.dto.ts
  apps/server/vendor-be/src/bpm/dtos/task.dto.ts
  apps/server/vendor-be/src/bpm/dtos/task.response.ts
  apps/server/vendor-be/src/bpm/entities/task.entity.ts
  apps/server/vendor-be/src/bpm/services/task.service.ts
  apps/server/vendor-be/src/handling/dtos/task-assignmment.dto.ts
  apps/server/vendor-be/src/handling/dtos/task-handler.dto.ts
  apps/server/vendor-be/src/handling/dtos/task-handler.response.ts
  apps/server/vendor-be/src/handling/dtos/task-tracker.dto.ts
  apps/server/vendor-be/src/handling/dtos/task-tracker.response.ts
  apps/server/vendor-be/src/handling/dtos/workflow-instance.dto.ts
  apps/server/vendor-be/src/handling/dtos/workflow-instance.response.ts
  apps/server/vendor-be/src/handling/entities/task-assignment.ts
  apps/server/vendor-be/src/handling/services/workflow-instance.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
Due: eslint --fix

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update iam-be.yaml
  deployment/iam-be/iam-be.yaml
Due: none

Update Dockerfile
  apps/back-office/vendor-fe/Dockerfile
Due: none

feat(iam-be): update on OTP
  apps/server/iam-be/src/modules/authorization/helper/auth.helper.ts
  apps/server/iam-be/src/modules/authorization/services/account.service.ts
Due: eslint --fix

Update portal.yaml
  deployment/portal/portal.yaml
Due: none

Add new directory
  apps/server/planning-be/.bin/.gitkeep
Due: none

Add new file
  apps/server/planning-be/.bin/docker-build.sh
Due: none

Update package.json
  apps/server/planning-be/package.json
Due: prettier --write

Add new file
  apps/server/planning-be/Dockerfile
Due: none

Update Dockerfile
  apps/server/planning-be/Dockerfile
Due: none
