Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": ["eslint --fix"],
  "packages/**/*.{js,ts,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Add new file
  apps/server/vendor-be/Dockerfile
Due: none

Update package.json
  apps/back-office/iam-fe/package.json
Due: prettier --write

Update package.json
  apps/server/vendor-be/package.json
Due: prettier --write

dev-env-deploy
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add new file
  deployment/vendor-be/vendor-be.yaml
Due: none

Update vendor-be.yaml
  deployment/vendor-be/vendor-be.yaml
Due: none

Update Dockerfile
  apps/server/iam-be/Dockerfile
Due: none

Update docker-build.sh
  apps/server/iam-be/.bin/docker-build.sh
Due: none

Update iam-be.yaml
  deployment/iam-be/iam-be.yaml
Due: none

Update 2 files
  apps/server/vendor-be/.bin/docker-build.sh
  apps/server/vendor-be/package.json
Due: prettier --write

Update file package.json
  apps/server/vendor-be/package.json
Due: prettier --write

Update Dockerfile
  apps/back-office/tendering-fe/Dockerfile
Due: none

Update 2 files
  apps/back-office/tendering-fe/package.json
  deployment/tendering/tendering-fe.yaml
Due: prettier --write

Update file tendering-fe.yaml
  deployment/tendering/tendering-fe.yaml
Due: none

Update Dockerfile
  apps/back-office/vendor-fe/Dockerfile
Due: none

Update package.json
  apps/back-office/vendor-fe/package.json
Due: prettier --write

Update docker-build.sh
  apps/back-office/vendor-fe/.bin/docker-build.sh
Due: none

Update package.json
  apps/back-office/tendering-fe/package.json
Due: prettier --write

Feature refactoring iam be
  apps/server/iam-be/src/app.module.ts
  apps/server/iam-be/src/groups/services/group.service.ts
  apps/server/iam-be/src/shared/collection-query/query-constructor-new.ts
  apps/server/iam-be/src/shared/interceptors/transaction-interceptor.ts
  apps/server/iam-be/src/supertokens/auth.controller.ts
  apps/server/iam-be/src/supertokens/auth/auth.module.ts
  apps/server/iam-be/src/supertokens/auth/service/supertokens.service.ts
  apps/server/iam-be/src/supertokens/authentication.module.ts
  apps/server/iam-be/src/users/dto/security-question.dto.ts
  apps/server/iam-be/src/users/entities/security-question.entity.ts
  apps/server/iam-be/src/users/entities/user.entity.ts
  apps/server/iam-be/src/users/services/security-question.service.ts
  apps/server/iam-be/src/users/services/user-auth.service.ts
  apps/server/iam-be/src/users/services/user.service.ts
  apps/server/iam-be/src/users/user.module.ts
Due: eslint --fix
