Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(administration): bug fix on item master
  apps/back-office/administration-fe/src/app/(features)/item-category/_api/item-category.ts
  apps/back-office/administration-fe/src/app/(features)/item-master/_components/form-detail.tsx
  apps/back-office/administration-fe/src/store/entity/list.ts
Due: eslint --fix

fix: add oa invitation n filter shell menu
  apps/back-office/iam-fe/src/app/(features)/organizations/[id]/page.tsx
  apps/back-office/iam-fe/src/app/(features)/organizations/_api/adress.api.ts
  apps/back-office/iam-fe/src/app/(features)/organizations/_components/Invitation.tsx
  apps/back-office/iam-fe/src/app/(features)/organizations/_components/Invite-oa.tsx
  apps/back-office/iam-fe/src/app/(features)/organizations/_components/action.tsx
  apps/back-office/iam-fe/src/app/(features)/organizations/_components/form.tsx
  apps/back-office/iam-fe/src/app/shell.tsx
  apps/back-office/iam-fe/src/config/menu.ts
  apps/back-office/iam-fe/src/store/api/other/adress.api.ts
  packages/fe/auth/src/context/auth.context.tsx
  packages/fe/core-fe/src/components/shell/shell.tsx
  packages/fe/core-fe/src/models/shell.ts
Due: eslint --fix

Vendor registration bug fix v1
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/schema.ts
  apps/portal/egp/src/app/(features)/vendor/registration/new/_context/privilege-context.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/payment/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/renewal/_components/review/data-review.module.scss
  apps/portal/egp/src/app/(features)/vendor/registration/renewal/_components/review/data-review.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/renewal/layout.module.scss
Due: eslint --fix

fix(administration): build failed
  apps/back-office/administration-fe/src/app/(features)/item-category/_api/item-category.ts
Due: eslint --fix

fix: filter menu on only iam
  packages/fe/core-fe/src/components/shell/shell.tsx
Due: eslint --fix

feat(planning): change path
  apps/server/planning-be/src/shared/typeorm/typeorm-config-helper.ts
Due: eslint --fix

feat(administration-be): camel case
  apps/server/administration-be/src/modules/tax-payer/dto/taxpayer-data-response .ts
  apps/server/administration-be/src/modules/tax-payer/dto/tin-validation.model.ts
  apps/server/administration-be/src/modules/tcc-document-validation/dto/document-data.ts
  apps/server/administration-be/src/modules/tcc-document-validation/dto/document-validation-response.ts
  apps/server/administration-be/src/modules/tcc-document-validation/dto/taxpayer-certificate.ts
  apps/server/administration-be/src/modules/tcc-document-validation/services/tcc-document-validation.service.ts
Due: eslint --fix

feat(administration-be): tin validation
  apps/server/administration-be/src/modules/tax-payer/dto/tin-validation.model.ts
Due: eslint --fix

feat(tendering-be): fix migration and release tednering
  apps/server/tendering-be/Dockerfile
  apps/server/tendering-be/package.json
  apps/server/tendering-be/src/migrations/1701939103289-Initail.ts
  apps/server/tendering-be/src/shared/typeorm/typeorm-config-helper.ts
  apps/server/tendering-be/src/shared/typeorm/typeorm.service.ts
Due: eslint --fix, prettier --write

fix: fix user not saving
  apps/back-office/iam-fe/src/app/(features)/organizations/_components/Invitation.tsx
  apps/back-office/iam-fe/src/app/(features)/organizations/_components/form.tsx
Due: eslint --fix

fix(administration): context fix
  apps/back-office/planning-fe/src/app/(features)/_components/activity-form-detail.tsx
  apps/back-office/planning-fe/src/app/(features)/_components/timeline-tab.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/(budget-years)/page.tsx
  packages/fe/auth/src/context/auth.context.tsx
Due: eslint --fix

Vendor certification data
  apps/server/vendor-be/src/entities/bp-service.entity.ts
  apps/server/vendor-be/src/entities/business-area.entity.ts
  apps/server/vendor-be/src/entities/isr-vendors.entity.ts
  apps/server/vendor-be/src/modules/vendor-registration/controllers/file.controller.ts
  apps/server/vendor-be/src/modules/vendor-registration/controllers/vendor-registration.controller.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/file.service.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/vendor-registration.service.ts
Due: eslint --fix

fix: validation issue
  apps/portal/egp/src/app/(features)/vendor/registration/new/_context/privilege-context.tsx
Due: eslint --fix

Database seeder
  apps/server/iam-be/package.json
  apps/server/iam-be/src/app.module.ts
  apps/server/iam-be/src/entities/application.entity.ts
  apps/server/iam-be/src/entities/permission.entity.ts
  apps/server/iam-be/src/entities/role-permission.entity.ts
  apps/server/iam-be/src/entities/role.entity.ts
  apps/server/iam-be/src/migrations/1701937068732-UpdateOnKeysOfApplicationAndPermission.ts
  apps/server/iam-be/src/modules/application/application.module.ts
  apps/server/iam-be/src/modules/seeders/data.seeder.ts
  apps/server/iam-be/src/modules/seeders/seed-data.ts
  apps/server/iam-be/src/shared/typeorm/typeorm-config-helper.ts
  apps/server/iam-be/src/shared/typeorm/typeorm.service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(iam-be): fix build issue
  apps/server/iam-be/src/entities/role.entity.ts
  apps/server/iam-be/src/modules/application/services/permission.service.ts
  apps/server/iam-be/src/modules/seeders/data.seeder.ts
Due: eslint --fix

certificate generation
  apps/server/vendor-be/package.json
  apps/server/vendor-be/src/app.module.ts
  apps/server/vendor-be/src/entities/isr-vendors.entity.ts
  apps/server/vendor-be/src/modules/certificates/assets/fonts/Garet-Book.ttf
  apps/server/vendor-be/src/modules/certificates/assets/fonts/GreatVibes-Regular.ttf
  apps/server/vendor-be/src/modules/certificates/assets/fonts/UnifrakturMaguntia-Regular.ttf
  apps/server/vendor-be/src/modules/certificates/assets/headerImage.png
  apps/server/vendor-be/src/modules/certificates/assets/signature.png
  apps/server/vendor-be/src/modules/certificates/certificate.module.ts
  apps/server/vendor-be/src/modules/certificates/controllers/certificate.controller.ts
  apps/server/vendor-be/src/modules/certificates/dto/certificate.dto.ts
  apps/server/vendor-be/src/modules/certificates/services/certificate.service.ts
  apps/server/vendor-be/src/modules/certificates/templates/vendor-certificate.tsx
  apps/server/vendor-be/src/modules/pricing/pricing.module.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/vendor-registration.service.ts
  apps/server/vendor-be/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Vendor certification data
  apps/server/vendor-be/src/modules/vendor-registration/controllers/file.controller.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/file.service.ts
Due: eslint --fix

Change timeline model
  apps/server/planning-be/src/entities/budget.entity.ts
  apps/server/planning-be/src/entities/post-budget-plan-timeline.entity.ts
  apps/server/planning-be/src/entities/pre-budget-plan-timeline.entity.ts
  apps/server/planning-be/src/migrations/1702016803086-updateTimeline.ts
  apps/server/planning-be/src/migrations/1702021032978-addOrder.ts
  apps/server/planning-be/src/modules/planning/controllers/pre-budget-plan-timeline.controller.ts
  apps/server/planning-be/src/modules/planning/dtos/pre-budget-plan-timeline.dto.ts
  apps/server/planning-be/src/modules/planning/services/pre-budget-plan-timeline.service.ts
  apps/server/planning-be/src/modules/post-budget-plan/controllers/post-budget-plan-timeline.controller.ts
  apps/server/planning-be/src/modules/post-budget-plan/dtos/post-budget-plan-timeline.dto.ts
  apps/server/planning-be/src/modules/post-budget-plan/services/post-budget-plan-timeline.service.ts
Due: eslint --fix

Crud operation for threshold
  apps/back-office/administration-fe/src/app/(features)/procurement-thresholds/[id]/page.tsx
  apps/back-office/administration-fe/src/app/(features)/procurement-thresholds/_api/procurement-thresholds.api.ts
  apps/back-office/administration-fe/src/app/(features)/procurement-thresholds/_component/form-detail.tsx
  apps/back-office/administration-fe/src/app/(features)/procurement-thresholds/entity.tsx
  apps/back-office/administration-fe/src/app/(features)/procurement-thresholds/layout.tsx
  apps/back-office/administration-fe/src/app/(features)/procurement-thresholds/new/page.tsx
  apps/back-office/administration-fe/src/app/(features)/procurement-thresholds/page.tsx
  apps/back-office/administration-fe/src/config/menu.ts
  apps/back-office/administration-fe/src/models/procurement-threshold.ts
  apps/back-office/administration-fe/src/store/entity/list.ts
Due: eslint --fix

migration hot issues fix
  apps/server/vendor-be/src/migrations/1702037265185-VendorBaisrconstr.ts
  apps/server/vendor-be/src/shared/typeorm/typeorm.service.ts
Due: eslint --fix

Vendor certification data
  apps/server/vendor-be/src/entities/bp-service.entity.ts
  apps/server/vendor-be/src/entities/business-area.entity.ts
Due: eslint --fix

Planning
  apps/back-office/planning-fe/src/app/(features)/_components/plan-year-tab.tsx
  apps/back-office/planning-fe/src/app/(features)/_components/timeline-tab.tsx
  apps/back-office/planning-fe/src/app/(features)/post-budget-plan/[budgetYear]/activities/[id]/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/(budget-years)/page.tsx
  apps/back-office/planning-fe/src/app/(features)/pre-budget-plan/[budgetYear]/activities/[id]/page.tsx
  apps/back-office/planning-fe/src/store/api/post-budget-plan/post-budget-plan.api.ts
  apps/back-office/planning-fe/src/store/api/pre-budget-plan/pre-budget-plan.api.ts
  apps/back-office/planning-fe/src/store/entity/list.ts
Due: eslint --fix

fix(vendor-fe): fix undefined env issue
  packages/fe/auth/src/context/auth.context.tsx
Due: eslint --fix

Fix iam be
  apps/server/iam-be/src/app.module.ts
  apps/server/iam-be/src/entities/index.ts
  apps/server/iam-be/src/entities/role-system-permission.entity.ts
  apps/server/iam-be/src/entities/role-system.entity.ts
  apps/server/iam-be/src/entities/role.entity.ts
  apps/server/iam-be/src/entities/user-role-system.entity.ts
  apps/server/iam-be/src/entities/user.entity.ts
  apps/server/iam-be/src/migrations/1702023103263-RoleKeyUnique.ts
  apps/server/iam-be/src/migrations/1702040901795-SystemRoleAdded.ts
  apps/server/iam-be/src/migrations/1702041187961-UpdateOnSystemRole.ts
  apps/server/iam-be/src/modules/account/services/account.service.ts
  apps/server/iam-be/src/modules/organization/organization.module.ts
  apps/server/iam-be/src/modules/organization/services/organization.service.ts
  apps/server/iam-be/src/modules/organization/services/user.service.ts
  apps/server/iam-be/src/modules/role-system/controllers/role-system-permission.controller.ts
  apps/server/iam-be/src/modules/role-system/controllers/role-system.controller.ts
  apps/server/iam-be/src/modules/role-system/controllers/user-role-system.controller.ts
  apps/server/iam-be/src/modules/role-system/dto/role-system-permission.dto.ts
  apps/server/iam-be/src/modules/role-system/dto/role-system.dto.ts
  apps/server/iam-be/src/modules/role-system/dto/user-role-system.dto.ts
  apps/server/iam-be/src/modules/role-system/role-system.module.ts
  apps/server/iam-be/src/modules/role-system/services/role-system-permission.service.ts
  apps/server/iam-be/src/modules/role-system/services/role-system.service.ts
  apps/server/iam-be/src/modules/role-system/services/user-role-system.service.ts
  apps/server/iam-be/src/modules/role/services/role.service.ts
  apps/server/iam-be/src/modules/seeders/data.seeder.ts
  apps/server/iam-be/src/modules/seeders/seed-data.ts
Due: eslint --fix

handling getvapplications query changed
  apps/server/vendor-be/src/modules/handling/controllers/application-execution.controller.ts
  apps/server/vendor-be/src/modules/handling/controllers/workflow-instance.controller.ts
  apps/server/vendor-be/src/modules/handling/services/application-execution.service.ts
  apps/server/vendor-be/src/modules/handling/services/workflow-instance.service.ts
Due: eslint --fix

feat(administration-be): update path
  apps/server/administration-be/src/modules/ncic-vendors/services/ncic-vendors.service.ts
Due: eslint --fix

Feature seed application startup
  apps/server/iam-be/src/entities/account.entity.ts
  apps/server/iam-be/src/entities/mandate-permission.entity.ts
  apps/server/iam-be/src/entities/mandate.entity.ts
  apps/server/iam-be/src/entities/organization-mandate.entity.ts
  apps/server/iam-be/src/entities/organization.entity.ts
  apps/server/iam-be/src/entities/permission.entity.ts
  apps/server/iam-be/src/entities/role-permission.entity.ts
  apps/server/iam-be/src/entities/role-system-permission.entity.ts
  apps/server/iam-be/src/entities/role-system.entity.ts
  apps/server/iam-be/src/entities/role.entity.ts
  apps/server/iam-be/src/entities/unit.entity.ts
  apps/server/iam-be/src/entities/user-role-system.entity.ts
  apps/server/iam-be/src/entities/user-role.entity.ts
  apps/server/iam-be/src/entities/user-unit.entity.ts
  apps/server/iam-be/src/entities/user.entity.ts
  apps/server/iam-be/src/migrations/1702278093871-OnDeleteChangedToCascaded.ts
  apps/server/iam-be/src/modules/seeders/data.seeder.ts
  apps/server/iam-be/src/modules/seeders/seed-data.ts
Due: eslint --fix

feat(administration-be): camelCase respose http header
  apps/server/administration-be/src/modules/tax-payer/dto/taxpayer-data-response .ts
  apps/server/administration-be/src/modules/tax-payer/services/tax-payer.service.ts
  apps/server/administration-be/src/modules/tcc-document-validation/dto/document-data.ts
  apps/server/administration-be/src/modules/tcc-document-validation/dto/document-validation-response.ts
  apps/server/administration-be/src/modules/tcc-document-validation/dto/taxpayer-certificate.ts
  apps/server/administration-be/src/modules/tcc-document-validation/services/tcc-document-validation.service.ts
Due: eslint --fix

Permission under role
  apps/back-office/iam-fe/src/app/(features)/roles/_api/others.api.ts
  apps/back-office/iam-fe/src/app/(features)/roles/_components/add-permission.tsx
  apps/back-office/iam-fe/src/app/(features)/roles/_components/permission-assign.tsx
  packages/fe/entity/src/components/table/grid.tsx
Due: eslint --fix

Planning
  apps/back-office/planning-fe/src/app/(features)/_components/data-import.tsx
  apps/back-office/planning-fe/src/app/(features)/_components/item-selector.tsx
  apps/back-office/planning-fe/src/app/(features)/_components/items.tsx
  apps/back-office/planning-fe/src/app/(features)/budget/[id]/page.tsx
  apps/back-office/planning-fe/src/store/api/administration/administration.api.ts
Due: eslint --fix

Taxonomy list ui
  apps/back-office/administration-fe/package.json
  apps/back-office/administration-fe/src/app/(features)/taxonomy/_api/taxonomy.api.ts
  apps/back-office/administration-fe/src/app/(features)/taxonomy/_components/List.tsx
  apps/back-office/administration-fe/src/app/(features)/taxonomy/_components/TaxonomyList.tsx
  apps/back-office/administration-fe/src/app/(features)/taxonomy/_components/detail-commodity.tsx
  apps/back-office/administration-fe/src/app/(features)/taxonomy/taxonomy-layout.tsx
  apps/back-office/administration-fe/src/store/api/classification/classification.api.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(iam-be): administration rebuild
  apps/server/administration-be/Dockerfile
Due: none

Feature request scope transaction
  apps/server/iam-be/src/app.module.ts
  apps/server/iam-be/src/modules/organization/controllers/organization.controller.ts
  apps/server/iam-be/src/modules/organization/controllers/unit.controller.ts
  apps/server/iam-be/src/modules/organization/services/organization.service.ts
  apps/server/iam-be/src/shared/interceptors/index.ts
  apps/server/iam-be/src/shared/interceptors/transaction-interceptor.ts
  apps/server/iam-be/tsconfig.json
Due: eslint --fix, prettier --write

Feature request scope transaction
  apps/server/iam-be/src/modules/account/controllers/auth.controller.ts
  apps/server/iam-be/src/modules/organization/services/organization.service.ts
Due: eslint --fix

feat(administration-be): formating
  .vscode/settings.json
Due: prettier --write

Vendor certification data
  .vscode/settings.json
  apps/server/vendor-be/src/modules/vendor-registration/controllers/file.controller.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/file.service.ts
Due: eslint --fix, prettier --write

CRUD for Districts
  apps/back-office/administration-fe/src/app/(features)/lookup/district/[id]/page.tsx
  apps/back-office/administration-fe/src/app/(features)/lookup/district/_api/district.api.ts
  apps/back-office/administration-fe/src/app/(features)/lookup/district/_component/form-detail.tsx
  apps/back-office/administration-fe/src/app/(features)/lookup/district/entity.tsx
  apps/back-office/administration-fe/src/app/(features)/lookup/district/layout.tsx
  apps/back-office/administration-fe/src/app/(features)/lookup/district/new/page.tsx
  apps/back-office/administration-fe/src/app/(features)/lookup/district/page.tsx
  apps/back-office/administration-fe/src/app/(features)/procurement-thresholds/_component/form-detail.tsx
  apps/back-office/administration-fe/src/config/menu.ts
  apps/back-office/administration-fe/src/models/district.ts
  apps/back-office/administration-fe/src/store/entity/list.ts
Due: eslint --fix

Mandate permission
  apps/back-office/iam-fe/src/app/(features)/mandate/_api/mandate.api.ts
  apps/back-office/iam-fe/src/app/(features)/my-mandate/[id]/page.tsx
  apps/back-office/iam-fe/src/app/(features)/my-mandate/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/my-mandate/_components/mandate-permission.api.tsx
  apps/back-office/iam-fe/src/app/(features)/my-mandate/entity.tsx
  apps/back-office/iam-fe/src/config/menu.ts
  apps/back-office/iam-fe/src/models/mandate.ts
  packages/fe/entity/src/components/table/grid.tsx
Due: eslint --fix

Change post budget defaults
  apps/server/planning-be/src/entities/budget.entity.ts
  apps/server/planning-be/src/entities/post-budget-plan-activity.entity.ts
  apps/server/planning-be/src/entities/pre-budget-plan-activity.entity.ts
  apps/server/planning-be/src/migrations/1702285083859-modifyPostBudgetDefaults.ts
  apps/server/planning-be/src/migrations/1702293176901-changeTypeOfAllocatedBudget.ts
  apps/server/planning-be/src/migrations/1702293417772-changeTypeOfAllocatedBudgetfields.ts
  apps/server/planning-be/src/migrations/1702295174387-setDefaultForPreference.ts
  apps/server/planning-be/src/migrations/1702295612697-setDefaultForFundingSource.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx})
  prettier --write: any of: *.json
