Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Micky pr budget year
  apps/server/planning-be/src/modules/procurement-requistion/controllers/procurement-requisition.controller.ts
  apps/server/planning-be/src/modules/procurement-requistion/procurement-requisition.module.ts
  apps/server/planning-be/src/modules/procurement-requistion/services/procurement-requisition-document.service.ts
  apps/server/planning-be/src/modules/procurement-requistion/services/procurement-requisition.service.ts
  apps/server/planning-be/src/modules/utility/services/report-procurement-requisition.tsx
Due: eslint --fix

Item sub category
  apps/server/administration-be/src/entities/item-sub-category.entity.ts
  apps/server/administration-be/src/migrations/1713189874201-ItemSubCategory.ts
  apps/server/administration-be/src/modules/look-up-data/controller/item-sub-category.controller.ts
  apps/server/administration-be/src/modules/look-up-data/dto/item-sub-category.dto.ts
  apps/server/administration-be/src/modules/look-up-data/look-up.module.ts
  apps/server/administration-be/src/modules/look-up-data/service/item-sub-category.service.ts
  apps/server/administration-be/src/shared/service/entity-crud.service.ts
  apps/server/administration-be/src/shared/service/extra-crud.service.ts
Due: eslint --fix

feat(tendering-be): update on find by id
  apps/server/tendering-be/src/shared/service/entity-crud.service.ts
  apps/server/tendering-be/src/shared/service/extra-crud.service.ts
Due: eslint --fix

fix: make vote code string
  apps/back-office/iam-fe/src/app/(features)/organizations/_components/form-detail.tsx
Due: eslint --fix

fix: modify existing value
  apps/back-office/planning-fe/src/app/(features)/procurement-requisition/_components/budget.tsx
  apps/back-office/planning-fe/src/app/(features)/procurement-requisition/_components/mannual-pr.tsx
Due: eslint --fix

Fix iam migration issus
  apps/server/iam-be/src/migrations/1706343126089-Initail.ts
  apps/server/iam-be/src/migrations/1707307168585-UpdateOnAccount.ts
  apps/server/iam-be/src/migrations/1708692463935-UpdateOnOrgTypes.ts
  apps/server/iam-be/src/migrations/1708693810946-UpdateUniquenessOnOrganizaitonName.ts
  apps/server/iam-be/src/migrations/1709237167293-EnumUpdated.ts
  apps/server/iam-be/src/migrations/1709292071726-EnumStatusAdded.ts
  apps/server/iam-be/src/migrations/1709647257368-uniquenessOnEnties.ts
  apps/server/iam-be/src/migrations/1710740340209-procurementInstitution.ts
  apps/server/iam-be/src/migrations/1711391622150-UpdateOnPI.ts
  apps/server/iam-be/src/migrations/1711546716032-EmailChangeRequestAdded.ts
  apps/server/iam-be/src/migrations/1712057516419-IsPhoneVerifiedAdded.ts
  apps/server/iam-be/src/migrations/1712126031472-AccountPhoneUniqueness.ts
  apps/server/iam-be/src/migrations/1712223826681-TeamenumStatus.ts
  apps/server/iam-be/src/migrations/1713403808336-addVoteCode.ts
  apps/server/iam-be/src/migrations/1713532938396-Init.ts
Due: eslint --fix

Fix iam migration issus
  apps/server/iam-be/src/modules/seeders/data.seeder.ts
  apps/server/iam-be/src/modules/seeders/seed-data.ts
Due: eslint --fix

Revert "Merge branch 'fix-iam_migration_issus' into 'main'"
  apps/server/iam-be/src/modules/seeders/data.seeder.ts
  apps/server/iam-be/src/modules/seeders/seed-data.ts
Due: eslint --fix

Revert "Merge branch 'fix-iam_migration_issus' into 'main'"
  apps/server/iam-be/src/migrations/1706343126089-Initail.ts
  apps/server/iam-be/src/migrations/1707307168585-UpdateOnAccount.ts
  apps/server/iam-be/src/migrations/1708692463935-UpdateOnOrgTypes.ts
  apps/server/iam-be/src/migrations/1708693810946-UpdateUniquenessOnOrganizaitonName.ts
  apps/server/iam-be/src/migrations/1709237167293-EnumUpdated.ts
  apps/server/iam-be/src/migrations/1709292071726-EnumStatusAdded.ts
  apps/server/iam-be/src/migrations/1709647257368-uniquenessOnEnties.ts
  apps/server/iam-be/src/migrations/1710740340209-procurementInstitution.ts
  apps/server/iam-be/src/migrations/1711391622150-UpdateOnPI.ts
  apps/server/iam-be/src/migrations/1711546716032-EmailChangeRequestAdded.ts
  apps/server/iam-be/src/migrations/1712057516419-IsPhoneVerifiedAdded.ts
  apps/server/iam-be/src/migrations/1712126031472-AccountPhoneUniqueness.ts
  apps/server/iam-be/src/migrations/1712223826681-TeamenumStatus.ts
  apps/server/iam-be/src/migrations/1713403808336-addVoteCode.ts
  apps/server/iam-be/src/migrations/1713532938396-Init.ts
Due: eslint --fix

Vendor registration and workflow data
  apps/server/vendor-be/src/modules/handling/services/application-execution.service.ts
  apps/server/vendor-be/src/modules/seeders/seed-data.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/vendor-registration.service.ts
Due: eslint --fix

feat(tendering-be): bid security fix
  apps/server/tendering-be/src/entities/bid-security.entity.ts
  apps/server/tendering-be/src/entities/index.ts
  apps/server/tendering-be/src/modules/opening/controller/bid-security.controller.ts
  apps/server/tendering-be/src/modules/opening/opening.module.ts
  apps/server/tendering-be/src/modules/opening/service/bid-security.service.ts
Due: eslint --fix

feat(tendering-be): share bidder key fixed
  apps/server/tendering-be/src/modules/opening/controller/shared-bidder-key.controller.ts
Due: eslint --fix

feat(tendering-be): min ion service updated
  apps/server/tendering-be/src/shared/min-io/min-io.service.ts
Due: eslint --fix

feat(market-place): added item catalogue filter
  apps/back-office/administration-fe/src/app/(features)/rule-designer/page.tsx
  apps/back-office/contract-management/next-env.d.ts
  apps/back-office/market-place-fe/package.json
  apps/back-office/market-place-fe/src/app/(features)/form-builder/page.tsx
  apps/back-office/market-place-fe/src/app/(features)/layout.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/[id]/filter/[filter]/page.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/[id]/page.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_api/activities.api.ts
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_api/mechanization.api.ts
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_api/procurement-requisition.api.ts
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_components/detail-activity.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_components/detail-item.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_components/detail-requisition-list.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_components/detail-requisition.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_components/detail-table.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_components/form-builder-2.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_components/form-builder.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_components/item-form-detail.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_components/items.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_components/schemas.ts
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_components/select.module.scss
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_components/template.ts
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/_constants/procurement-method.ts
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/layout.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/new/page.tsx
  apps/back-office/market-place-fe/src/app/(features)/procurement-requisition/page.tsx
  apps/back-office/market-place-fe/src/app/layout.tsx
  apps/back-office/market-place-fe/src/config/menu.ts
  apps/back-office/market-place-fe/src/models/annual-procurement-plan.ts
  apps/back-office/market-place-fe/src/models/procurement-requsition.ts
  apps/back-office/market-place-fe/src/store/api/administration/administration.api.ts
  apps/back-office/market-place-fe/src/store/api/pr/pr.api.ts
  apps/back-office/market-place-fe/src/store/api/rfx/rfx.api.ts
  apps/back-office/market-place-fe/src/store/entity/list.ts
  apps/back-office/market-place-fe/src/store/store.ts
  apps/back-office/market-place-fe/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(market-place): added turbo.json
  apps/back-office/market-place-fe/turbo.json
Due: prettier --write

feat(tendering-be): tender spd fixed
  apps/server/tendering-be/src/modules/tenders/service/tender-spd.service.ts
Due: eslint --fix

vendor-registration document review
  apps/server/vendor-be/src/modules/certificates/templates/pdf-tamplate.tsx
  apps/server/vendor-be/src/modules/vendor-registration/controllers/vendor-registration.controller.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/file.service.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/vendor-registration.service.ts
Due: eslint --fix

Item sub category fe
  apps/back-office/administration-fe/src/app/(features)/currency/entity.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/_components/form-detail.tsx
  apps/back-office/administration-fe/src/app/(features)/item-sub-category/[id]/page.tsx
  apps/back-office/administration-fe/src/app/(features)/item-sub-category/_api/item-sub-category.ts
  apps/back-office/administration-fe/src/app/(features)/item-sub-category/_component/form-detail.tsx
  apps/back-office/administration-fe/src/app/(features)/item-sub-category/entity.tsx
  apps/back-office/administration-fe/src/app/(features)/item-sub-category/layout.tsx
  apps/back-office/administration-fe/src/app/(features)/item-sub-category/new/page.tsx
  apps/back-office/administration-fe/src/app/(features)/item-sub-category/page.tsx
  apps/back-office/administration-fe/src/app/(features)/measurement/_components/unit.tsx
  apps/back-office/administration-fe/src/app/(features)/region/_component/district.tsx
  apps/back-office/administration-fe/src/app/(features)/tag/new/page.tsx
  apps/back-office/administration-fe/src/config/menu.ts
  apps/back-office/administration-fe/src/models/item-master.ts
  apps/back-office/administration-fe/src/models/item-sub-category.ts
  apps/back-office/administration-fe/src/store/entity/list.ts
  apps/back-office/administration-fe/src/store/store.ts
Due: eslint --fix

submit bid guarantee issue fixed
  apps/portal/egp/src/app/(features)/tender-workspace/[id]/my-lots/[lotId]/guarantee/_components/form-detail.tsx
Due: eslint --fix

fix(administartion): fix error
  apps/back-office/administration-fe/src/app/(features)/rule-designer/page.tsx
Due: eslint --fix

vendor reg-changes-forredeployment
  apps/server/vendor-be/src/modules/vendor-registration/controllers/file.controller.ts
Due: eslint --fix

feat(administration-be): donors for lookup data
  apps/server/administration-be/src/entities/donor.entity.ts
  apps/server/administration-be/src/migrations/1713777597690-CreatedDonors.ts
  apps/server/administration-be/src/modules/look-up-data/controller/donor.controller.ts
  apps/server/administration-be/src/modules/look-up-data/dto/donor.dto.ts
  apps/server/administration-be/src/modules/look-up-data/look-up.module.ts
  apps/server/administration-be/src/modules/look-up-data/service/donor.service.ts
Due: eslint --fix

Resolve "form validation"
  apps/portal/egp/src/app/(features)/my-workspace/my-tenders/page.tsx
  apps/portal/egp/src/app/(features)/tender-workspace/_api/item-bid-response.api.ts
  apps/portal/egp/src/app/(features)/tender-workspace/_api/tender-spd.ts
  apps/portal/egp/src/app/(features)/tender-workspace/prepare-bid/[tenderId]/_components/financial-offer/_components/forms/bill-of-material/bill-of-material-tree.tsx
  apps/portal/egp/src/app/(features)/tender-workspace/prepare-bid/[tenderId]/_components/financial-offer/_components/forms/bill-of-material/bill-of-material.tsx
  apps/portal/egp/src/app/(features)/tender-workspace/prepare-bid/[tenderId]/_components/financial-offer/_components/forms/equipment/equipment.tsx
  apps/portal/egp/src/app/(features)/tender-workspace/prepare-bid/[tenderId]/_components/financial-offer/_components/forms/fee/fee.tsx
  apps/portal/egp/src/app/(features)/tender-workspace/prepare-bid/[tenderId]/_components/financial-offer/_components/forms/items.tsx
  apps/portal/egp/src/app/(features)/tender-workspace/prepare-bid/[tenderId]/_components/financial-offer/_components/forms/labour/labour.tsx
  apps/portal/egp/src/app/(features)/tender-workspace/prepare-bid/[tenderId]/_components/financial-offer/_components/forms/material/material.tsx
  apps/portal/egp/src/app/(features)/tender-workspace/prepare-bid/[tenderId]/_components/financial-offer/_components/forms/reimburseable-expense/reimburseable-expense.tsx
  apps/portal/egp/src/app/(features)/tender-workspace/prepare-bid/[tenderId]/_components/technical-offer/_components/forms/technical-requirement/technical-requirement.tsx
Due: eslint --fix

fix(portal): portal validation issue fixes
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/detail/beneficialOwnership.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/detail/schema.ts
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/review/renderTable.tsx
Due: eslint --fix

ci: rebuild
  apps/portal/egp/src/utilities/theme.ts
Due: eslint --fix

fix(portal): added works classification and user-type change
  apps/portal/egp/src/app/(features)/my-workspace/_constants/user-type.ts
  apps/portal/egp/src/app/(features)/my-workspace/registration/add-service/ppda/_components/areasOfBusinessInterest.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/add-service/ppda/_components/formShell.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/new/_components/ppda/areasOfBusinessInterest.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/new/_components/ppda/formShell.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/new/_components/preferential/formShell.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/new/_components/stepper/stepper.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/new/payment/page.tsx
Due: eslint --fix

ci: pnpm update
  package.json
Due: prettier --write

ci: pnpm version bump
  .gitlab-ci.yml
  apps/back-office/administration-fe/Dockerfile
  apps/back-office/guarantee-fe/Dockerfile
  apps/back-office/iam-fe/Dockerfile
  apps/back-office/planning-fe/Dockerfile
  apps/back-office/tendering-fe/Dockerfile
  apps/back-office/vendor-fe/Dockerfile
  apps/portal/egp/Dockerfile
  apps/server/administration-be/Dockerfile
  apps/server/iam-be/Dockerfile
  apps/server/infrastructure-be/Dockerfile
  apps/server/planning-be/Dockerfile
  apps/server/procurement-requisition-be/Dockerfile
  apps/server/tendering-be/Dockerfile
  apps/server/vendor-be/Dockerfile
Due: none

ci: pnpm lock file
  pnpm-lock.yaml
Due: none

ci: rebuild
  .gitlab-ci.yml
Due: none

ci: add python
  .gitlab-ci.yml
Due: none

ci: rebuild
  .gitlab-ci.yml
  apps/portal/egp/src/utilities/theme.ts
Due: eslint --fix

feat: new
  .gitlab-ci.yml
  apps/portal/egp/src/app/(features)/about-us/page.tsx
Due: eslint --fix

feat(tendering-be): fix item length check added
  apps/server/tendering-be/src/modules/bid/service/bid-response-item.service.ts
Due: eslint --fix

fix(tendering-be): fix on spd documentary evidence
  apps/server/tendering-be/src/modules/spd/controller/spd-documentary-evidence.controller.ts
  apps/server/tendering-be/src/modules/spd/service/spd-documentary-evidence.service.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx})
  prettier --write: any of: *.json
