Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": ["eslint --fix"],
  "packages/**/*.{js,ts,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

feat(vendor-be): vendor registration service
  apps/server/vendor-be/src/categories/category.controller.ts
  apps/server/vendor-be/src/categories/category.module.ts
  apps/server/vendor-be/src/categories/category.service.ts
  apps/server/vendor-be/src/categories/dto/category.dto.ts
  apps/server/vendor-be/src/categories/entities/category.entity.ts
  apps/server/vendor-be/src/shared/entities/common.entity.ts
  apps/server/vendor-be/src/shared/enums/vendor-enums.ts
  apps/server/vendor-be/src/vendor-registration/dto/application.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/business-category.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/custom-category.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/service-price.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/services.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/application.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/business-category.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/custom-category.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/invoice.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/message-thread.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/service-price.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/services.entity.ts
  apps/server/vendor-be/src/vendor-registration/service-pricing.controller.ts
  apps/server/vendor-be/src/vendor-registration/service-pricing.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
Due: eslint --fix

feat(vendor-be): vendor registration service
  apps/server/vendor-be/src/app.module.ts
  apps/server/vendor-be/src/categories/dto/category.dto.ts
  apps/server/vendor-be/src/categories/entities/category.entity.ts
  apps/server/vendor-be/src/shared/enums/vendor-enums.ts
  apps/server/vendor-be/src/vendor-registration/dto/application.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/service-price.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/application.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/business-category.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/message-thread.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/service-price.entity.ts
  apps/server/vendor-be/src/vendor-registration/service-pricing.controller.ts
  apps/server/vendor-be/src/vendor-registration/service-pricing.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
Due: eslint --fix

feat(vendor-be): service to application relation
  apps/server/vendor-be/src/vendor-registration/entities/application.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/services.entity.ts
Due: eslint --fix

chore: vendor-fe setup
  apps/back-office/vendor-fe/package.json
  apps/back-office/vendor-fe/src/app/_shared/auth/logout.tsx
  apps/back-office/vendor-fe/src/app/auth/layout.tsx
  apps/back-office/vendor-fe/src/app/auth/login.tsx
  apps/back-office/vendor-fe/src/app/auth/page.tsx
  apps/back-office/vendor-fe/src/app/dashboard/page.tsx
  apps/back-office/vendor-fe/src/app/globals.css
  apps/back-office/vendor-fe/src/app/group/page.tsx
  apps/back-office/vendor-fe/src/app/layout.tsx
  apps/back-office/vendor-fe/src/app/mantine.tsx
  apps/back-office/vendor-fe/src/app/organization/page.tsx
  apps/back-office/vendor-fe/src/app/page.module.scss
  apps/back-office/vendor-fe/src/app/page.tsx
  apps/back-office/vendor-fe/src/app/unit/page.tsx
  apps/back-office/vendor-fe/src/app/user/page.tsx
  apps/back-office/vendor-fe/src/models/user.ts
  apps/back-office/vendor-fe/src/store/api/user/user.api.ts
  apps/back-office/vendor-fe/src/store/hooks.ts
  apps/back-office/vendor-fe/src/store/provider.tsx
  apps/back-office/vendor-fe/src/store/store.ts
  apps/back-office/vendor-fe/tailwind.config.ts
  apps/back-office/vendor-fe/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Resolve "Portal home page(land page) Design"
  apps/portal/egp/public/perago.png
  apps/portal/egp/public/ppda.png
  apps/portal/egp/src/app/_shared/landing/circle-card.tsx
  apps/portal/egp/src/app/_shared/landing/egp-process-svg.tsx
  apps/portal/egp/src/app/_shared/landing/features-card.tsx
  apps/portal/egp/src/app/_shared/landing/highlight-card.tsx
  apps/portal/egp/src/app/_shared/landing/nav-dropdown-menus.tsx
  apps/portal/egp/src/app/_shared/landing/wave-svg.tsx
  apps/portal/egp/src/app/layout.tsx
  apps/portal/egp/src/app/page.module.scss
  apps/portal/egp/src/app/page.tsx
Due: eslint --fix

feat(egp): implemented frontend for sign in and signup
  apps/portal/egp/package.json
  apps/portal/egp/src/app/auth/config/frontendConfig.ts
  apps/portal/egp/src/app/auth/layout.module.scss
  apps/portal/egp/src/app/auth/layout.tsx
  apps/portal/egp/src/app/auth/login/page.module.scss
  apps/portal/egp/src/app/auth/login/page.tsx
  apps/portal/egp/src/app/auth/signup/countries.tsx
  apps/portal/egp/src/app/auth/signup/page.module.scss
  apps/portal/egp/src/app/auth/signup/page.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(egp): portal layout change
  apps/portal/egp/src/app/(home)/layout.tsx
  apps/portal/egp/src/app/(home)/page.module.scss
  apps/portal/egp/src/app/(home)/page.tsx
  apps/portal/egp/src/app/_shared/landing/circle-card.tsx
  apps/portal/egp/src/app/_shared/landing/features-card.tsx
  apps/portal/egp/src/app/_shared/landing/highlight-card.tsx
  apps/portal/egp/src/app/_shared/landing/page.module.scss
  apps/portal/egp/src/app/layout.tsx
  apps/portal/egp/src/app/vendor/layout.tsx
  apps/portal/egp/src/app/vendor/registration/page.tsx
Due: eslint --fix

feat(vendor-be): vendor profile CRUD
  .vscode/settings.json
  apps/server/vendor-be/src/vendor-registration/dto/application.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/vendor.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/application.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
  apps/server/vendor-be/src/vendor-registration/service-pricing.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-basics.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
  apps/server/vendor-be/src/vendor-registration/vendors.controller.ts
Due: eslint --fix, prettier --write

Feat organization crud
  apps/portal/egp/public/perago.png
  apps/portal/egp/public/ppda.png
  apps/portal/egp/src/app/_shared/landing/egp-process-svg.tsx
  apps/portal/egp/src/app/_shared/landing/nav-dropdown-menus.tsx
  apps/portal/egp/src/app/_shared/landing/page.module.scss
  apps/portal/egp/src/app/_shared/landing/wave-svg.tsx
  apps/server/iam-be/package.json
  apps/server/iam-be/src/organization/dto/employee.dto.ts
  apps/server/iam-be/src/organization/dto/office.dto.ts
  apps/server/iam-be/src/organization/dto/organization.dto.ts
  apps/server/iam-be/src/organization/dto/security-question.dto.ts
  apps/server/iam-be/src/organization/dto/unit.dto.ts
  apps/server/iam-be/src/organization/entities/employee.entity.ts
  apps/server/iam-be/src/organization/entities/office.entity.ts
  apps/server/iam-be/src/organization/entities/organization.entity.ts
  apps/server/iam-be/src/organization/entities/security-question.entity.ts
  apps/server/iam-be/src/organization/organization.controller.ts
  apps/server/iam-be/src/organization/organization.module.ts
  apps/server/iam-be/src/organization/organization.service.ts
Due: eslint --fix, prettier --write

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add new file
  apps/back-office/+demo-fe/Dockerfile
Due: none

Add new file
  apps/back-office/iam-fe/Dockerfile
Due: none

Add new file
  apps/back-office/administration-fe/Dockerfile
Due: none

Add new file
  apps/back-office/vendor-fe/Dockerfile
Due: none

Update Dockerfile
  apps/back-office/+demo-fe/Dockerfile
Due: none

Revert "Merge branch 'feat-organization-crud' into 'main'"
  apps/portal/egp/public/perago.png
  apps/portal/egp/public/ppda.png
  apps/portal/egp/src/app/_shared/landing/egp-process-svg.tsx
  apps/portal/egp/src/app/_shared/landing/nav-dropdown-menus.tsx
  apps/portal/egp/src/app/_shared/landing/page.module.scss
  apps/portal/egp/src/app/_shared/landing/wave-svg.tsx
  apps/server/iam-be/package.json
  apps/server/iam-be/src/organization/dto/employee.dto.ts
  apps/server/iam-be/src/organization/dto/office.dto.ts
  apps/server/iam-be/src/organization/dto/organization.dto.ts
  apps/server/iam-be/src/organization/dto/security-question.dto.ts
  apps/server/iam-be/src/organization/dto/unit.dto.ts
  apps/server/iam-be/src/organization/entities/employee.entity.ts
  apps/server/iam-be/src/organization/entities/office.entity.ts
  apps/server/iam-be/src/organization/entities/organization.entity.ts
  apps/server/iam-be/src/organization/entities/security-question.entity.ts
  apps/server/iam-be/src/organization/organization.controller.ts
  apps/server/iam-be/src/organization/organization.module.ts
  apps/server/iam-be/src/organization/organization.service.ts
Due: eslint --fix, prettier --write

Update Dockerfile
  apps/back-office/administration-fe/Dockerfile
Due: none

Update Dockerfile
  apps/back-office/iam-fe/Dockerfile
Due: none

Update Dockerfile
  apps/back-office/vendor-fe/Dockerfile
Due: none

Add new file
  apps/portal/egp/Dockerfile
Due: none

Add new file
  docker-compose.yml
Due: none

Feat organization crud
  apps/server/iam-be/package.json
  apps/server/iam-be/src/organization/dto/employee.dto.ts
  apps/server/iam-be/src/organization/dto/office.dto.ts
  apps/server/iam-be/src/organization/dto/organization.dto.ts
  apps/server/iam-be/src/organization/dto/security-question.dto.ts
  apps/server/iam-be/src/organization/dto/unit.dto.ts
  apps/server/iam-be/src/organization/entities/employee.entity.ts
  apps/server/iam-be/src/organization/entities/office.entity.ts
  apps/server/iam-be/src/organization/entities/organization.entity.ts
  apps/server/iam-be/src/organization/entities/security-question.entity.ts
  apps/server/iam-be/src/organization/organization.controller.ts
  apps/server/iam-be/src/organization/organization.module.ts
  apps/server/iam-be/src/organization/organization.service.ts
Due: eslint --fix, prettier --write

Update docker-compose.yml
  docker-compose.yml
Due: none

Update Dockerfile
  apps/portal/egp/Dockerfile
Due: none
