Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add new directory
  deployment/iam-fe/.gitkeep
Due: none

Add new file
  deployment/iam-fe/iam-fe.yaml
Due: none

Update Dockerfile
  apps/back-office/iam-fe/Dockerfile
Due: none

Update iam-fe.yaml
  deployment/iam-fe/iam-fe.yaml
Due: none

Feature refactoring iam be
  apps/server/iam-be/src/shared/collection-query/filter_operators.ts
  apps/server/iam-be/src/shared/collection-query/query-constructor-new.ts
  apps/server/iam-be/src/shared/collection-query/query.ts
Due: eslint --fix

Pricing Setting
  apps/back-office/vendor-fe/package.json
  apps/back-office/vendor-fe/src/app/(features)/settings/page.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/[service]/[area]/[id]/page.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/[service]/[area]/_api/price.api.ts
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/[service]/[area]/_components/form-detail.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/[service]/[area]/entity.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/[service]/[area]/layout.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/[service]/[area]/new/page.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/[service]/[area]/page.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/[service]/page.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/new/page.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/page.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/renew/page.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/sidebar.tsx
  apps/back-office/vendor-fe/src/app/mantine.tsx
  apps/back-office/vendor-fe/src/config/menu.ts
  apps/back-office/vendor-fe/src/models/price.ts
  apps/back-office/vendor-fe/src/models/service.ts
  apps/back-office/vendor-fe/src/store/api/service/service.api.ts
  apps/back-office/vendor-fe/src/store/base-query.ts
  apps/back-office/vendor-fe/src/store/entity/api.ts
  apps/back-office/vendor-fe/src/store/entity/list.ts
  apps/back-office/vendor-fe/src/store/store.ts
  apps/server/planning-be/src/main.ts
  apps/server/planning-be/src/prebudget/controllers/prebudget-plan.controller.ts
  apps/server/planning-be/src/shared/service/entity-crud.service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci: revert iam docker
  README.md
  apps/back-office/iam-fe/Dockerfile
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Add new directory
  deployment/portal/.gitkeep
Due: none

Add new directory
  deployment/iam-be/.gitkeep
Due: none

Add new directory
  deployment/vendor-fe/.gitkeep
Due: none

Add new directory
  deployment/vendor-be/.gitkeep
Due: none

Add new file
  deployment/portal/portal.yaml
Due: none

Update package.json
  apps/portal/egp/package.json
Due: prettier --write

Resolve "My Profile, security questions for Portal"
  apps/back-office/vendor-fe/next.config.js
  apps/portal/egp/next.config.js
  apps/portal/egp/src/app/(home)/my/Protected.tsx
  apps/portal/egp/src/app/(home)/my/layout.tsx
  apps/portal/egp/src/app/(home)/my/my-profile/page.tsx
  apps/portal/egp/src/app/(home)/my/my-profile/phoneOTP.tsx
  apps/portal/egp/src/app/(home)/my/navItems.tsx
  apps/portal/egp/src/app/(home)/my/security/changeSecurity.tsx
  apps/portal/egp/src/app/(home)/my/security/page.tsx
  apps/portal/egp/src/app/_shared/layout/nav-action.tsx
  apps/portal/egp/src/app/auth/checkToken.tsx
  apps/portal/egp/src/app/auth/config/frontendConfig.ts
  apps/portal/egp/src/app/auth/forgot-password/page.tsx
  apps/portal/egp/src/app/auth/login/page.tsx
  apps/portal/egp/src/app/auth/pass-reset-by-que/page.tsx
  apps/portal/egp/src/app/auth/reset-password/page.tsx
  apps/portal/egp/src/app/auth/setSecurity/page.tsx
  apps/portal/egp/src/app/auth/signup/page.module.scss
  apps/portal/egp/src/app/auth/signup/page.tsx
  apps/portal/egp/src/app/auth/supertokensUtilities.ts
  apps/portal/egp/src/app/auth/verification/page.tsx
  apps/portal/egp/src/app/mantine.tsx
  apps/portal/egp/src/models/auth.ts
  apps/portal/egp/src/store/api/auth/auth.api.ts
  apps/portal/egp/src/store/middleware.ts
  apps/portal/egp/src/store/store.ts
  apps/portal/egp/src/utilities/theme.ts
  apps/portal/egp/turbo.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx})
  prettier --write: any of: *.json
