Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Feat tendering scoring
  apps/server/tendering-be/src/modules/technical-evaluation/controller/technical-scoring-assessment-detail.controller.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-scoring-assessment-detail.service.ts
  apps/server/tendering-be/src/shared/authorization/guards/team-member.guard.ts
Due: eslint --fix

Fix evalution bugs
  apps/back-office/tendering-fe/src/app/(features)/evaluation/[tenderId]/[lotId]/financial/items/[itemId]/[bidderId]/page.tsx
Due: eslint --fix

fix(sol): update titles and dimensions in ui components
  apps/back-office/marketplace-fe/src/app/(features)/evaluation-approval/[id]/page.tsx
  apps/back-office/marketplace-fe/src/app/(features)/evaluation/_component/assesment.layout.tsx
  apps/back-office/marketplace-fe/src/app/(features)/evaluation/_component/bidder-header.component.tsx
  apps/back-office/marketplace-fe/src/app/(features)/evaluation/_component/preview-submitted-document.tsx
  apps/back-office/marketplace-fe/src/app/(features)/evaluation/_component/rfx-header.tsx
  apps/back-office/marketplace-fe/src/app/(features)/evaluation/page.tsx
  apps/back-office/marketplace-fe/src/app/(features)/revision/[id]/page.tsx
  apps/back-office/marketplace-fe/src/app/(features)/revision/page.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/bidding-procedure/bid-submission.component.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/configuration/rfx-detail-card.component.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/configuration/rfx-detail.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/invitation/invitation.component.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/item/item-catalogue.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/item/item-configuration.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/new/page.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/page.tsx
  apps/back-office/marketplace-fe/src/store/api/rfx/rfx.api.ts
  apps/portal/egp/src/app/(features)/(landing)/_components/hero/HeroImageRight.module.css
  apps/portal/egp/src/app/(features)/_components/tender-card/TenderCard.module.css
  apps/portal/egp/src/app/(features)/invitations-workspace/prepare-bid/_components/bid-declaration/documentary-evidence.component.tsx
  apps/portal/egp/src/app/(features)/invitations-workspace/prepare-bid/_components/rfx-tab.layout.tsx
Due: eslint --fix

fix(plannng-be): endorsement
  apps/server/tendering-be/package.json
  apps/server/tendering-be/src/entities/document.entity.ts
  apps/server/tendering-be/src/entities/index.ts
  apps/server/tendering-be/src/entities/submitted-evaluations.entity.ts
  apps/server/tendering-be/src/modules/opening/service/bid-opening-checklist-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-endorsement.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-qualification-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/utility/pdf-generator/controller/document.controller.ts
  apps/server/tendering-be/src/modules/utility/pdf-generator/service/document.service.ts
  apps/server/tendering-be/src/modules/utility/pdf-generator/service/pdf-generator.service.ts
  apps/server/tendering-be/src/modules/utility/pdf-generator/templates/technicalEndorsementReportPdf.tsx
  apps/server/tendering-be/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

rfx description migration
  apps/server/marketplace-be/src/entities/rfx.entity.ts
  apps/server/marketplace-be/src/migrations/1719334414311-rfx-description.ts
  apps/server/marketplace-be/src/modules/evaluation/controllers/eval-response.controller.ts
  apps/server/marketplace-be/src/modules/rfx/controllers/rfx.controller.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-product-invitation.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx.service.ts
  apps/server/marketplace-be/src/modules/solicitation/controllers/registration.controller.ts
  apps/server/marketplace-be/src/modules/solicitation/services/registration.service.ts
Due: eslint --fix

Fix bug product portal
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/card.tsx
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/catalog-form.tsx
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/catalog-only-form.tsx
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/deatil-item.tsx
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/image-upload.tsx
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/table-delivery-days.tsx
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/upload-image.tsx
Due: eslint --fix

fix(portal): show only new notification and add an indicator
  apps/portal/egp/src/app/(features)/_api/notifications.api.ts
  apps/portal/egp/src/app/(features)/_components/Notifications/index.tsx
  apps/portal/egp/src/shared/components/header/header.tsx
Due: eslint --fix

feat(tendering-be): endorsement get lots
  apps/server/tendering-be/src/modules/technical-evaluation/controller/technical-endorsement.controller.ts
  apps/server/tendering-be/src/modules/technical-evaluation/controller/technical-responsiveness-assessment-detail.controller.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-endorsement.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-preliminary-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-qualification-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-responsiveness-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/technical-evaluation.module.ts
Due: eslint --fix

Filter product organization
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/card.tsx
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/catalog-only-form.tsx
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/page.tsx
Due: eslint --fix

feat(tendering-be): team member count fix
  apps/server/tendering-be/src/modules/technical-evaluation/controller/technical-responsiveness-assessment-detail.controller.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-endorsement.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-preliminary-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-qualification-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-responsiveness-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/technical-evaluation.module.ts
Due: eslint --fix

fix(tendering-be): update on team
  apps/server/tendering-be/src/modules/tenders/service/tender.service.ts
Due: eslint --fix

Tendering endorsment
  apps/back-office/tendering-fe/src/app/(features)/evaluation-endorsement/[lotId]/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/evaluation-endorsement/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/opening/team-assessment/[tenderId]/[lotId]/[bidderId]/[checklistId]/page.tsx
  apps/back-office/tendering-fe/src/config/menu.ts
  apps/back-office/tendering-fe/src/store/api/tendering/technical-endorsement.api.ts
  apps/back-office/tendering-fe/src/store/store.ts
  apps/back-office/vendor-fe/src/app/(features)/shell.tsx
  packages/fe/core-fe/src/components/shell/shell.tsx
Due: eslint --fix

Vendor registration business interest area
  apps/server/vendor-be/src/entities/areas-of-business-interest.entity.ts
  apps/server/vendor-be/src/migrations/1719314691897-BusinessInterstAreaEntityChange.ts
  apps/server/vendor-be/src/modules/vendor-registration/controllers/invoice.controller.ts
  apps/server/vendor-be/src/modules/vendor-registration/dto/AdditionalService.dto.ts
  apps/server/vendor-be/src/modules/vendor-registration/dto/areas-of-business-interest.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/business-area.service.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/invoice.service.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/vendor-registration.service.ts
Due: eslint --fix

fix(mp): fix marketplace
  apps/back-office/marketplace-fe/src/app/(features)/_components/pdf-template.tsx
  apps/back-office/marketplace-fe/src/app/(features)/evaluation/_component/compliance-form.component.tsx
  apps/back-office/marketplace-fe/src/app/(features)/evaluation/page.tsx
  apps/back-office/marketplace-fe/src/app/(features)/revision/[id]/page.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/[id]/(item-detail)/layout.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/[id]/(rfx)/layout.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/bidding-procedure/bid-submission.component.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/contract-conditions/contract-conditions.component.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/evaluation-criteria/documentery-evidence/documentary-evidence.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/evaluation-criteria/qualification-form-detail.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/item/item-catalogue.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/rfx-tabs/rfx-tab.layout.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/page.tsx
  apps/back-office/marketplace-fe/src/contexts/rfx-status.context.tsx
  apps/back-office/marketplace-fe/src/enums/rfx-status.ts
  apps/back-office/marketplace-fe/src/store/api/rfx/rfx.api.ts
Due: eslint --fix

fix(marketplace-be): update on package
  apps/server/marketplace-be/package.json
  packages/be/shared/package.json
  packages/be/shared/src/service/entity-crud.service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(marketplace-be): update on package
  apps/server/tendering-be/src/modules/eqc/service/eqc-technical-scoring.service.ts
Due: eslint --fix

Marketplace fix
  apps/back-office/marketplace-fe/src/app/(features)/award/[rfxId]/[itemId]/page.tsx
  apps/back-office/marketplace-fe/src/app/(features)/award/[rfxId]/page.tsx
  apps/back-office/marketplace-fe/src/app/(features)/award/_components/item-detail.component.tsx
  apps/back-office/marketplace-fe/src/app/(features)/award/_components/rfx-header.component.tsx
  apps/back-office/marketplace-fe/src/app/(features)/award/page.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/bidding-procedure/bid-submission.component.tsx
  apps/back-office/marketplace-fe/src/config/menu.ts
  apps/back-office/marketplace-fe/src/store/api/rfx/rfx.api.ts
  apps/portal/egp/src/app/(features)/invitations-workspace/[id]/award-notice/page.tsx
  apps/portal/egp/src/app/(features)/invitations-workspace/_api/items.api.ts
  apps/portal/egp/src/app/(features)/invitations-workspace/_components/sidebar/_constants/menu.ts
  apps/portal/egp/src/app/(features)/invitations-workspace/prepare-bid/_components/price-schedule/invitation-detail.component.tsx
  apps/portal/egp/src/app/(features)/my-workspace/_api/invitation-registration.api.ts
  apps/portal/egp/src/app/(features)/my-workspace/registered-invitations/page.tsx
Due: eslint --fix

Pb bug fix
  apps/back-office/planning-fe/src/app/(features)/(app)/_components/activity-form-detail.tsx
  apps/back-office/planning-fe/src/app/(features)/(app)/_components/item-form-detail.tsx
  apps/back-office/planning-fe/src/app/(features)/(app)/_components/item-selector.tsx
  apps/back-office/planning-fe/src/app/(features)/(app)/_components/items.tsx
  apps/back-office/planning-fe/src/app/(features)/(app)/post-budget-plan/[budgetYear]/activities/[id]/page.tsx
  apps/back-office/planning-fe/src/app/(features)/(app)/pre-budget-plan/[budgetYear]/activities/[id]/page.tsx
  apps/back-office/planning-fe/src/store/api/post-budget-plan/post-budget-plan.api.ts
  apps/back-office/planning-fe/src/store/api/pre-budget-plan/pre-budget-plan.api.ts
Due: eslint --fix

fix(mp): remove status
  apps/server/marketplace-be/src/modules/evaluation/services/eval-response.service.ts
  apps/server/marketplace-be/src/modules/rfx/controllers/rfx.controller.ts
  apps/server/marketplace-be/src/modules/rfx/dtos/rfx.dto.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-bid-procedure.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-product-invitation.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/workflow-handler.service.ts
  apps/server/marketplace-be/src/modules/solicitation/controllers/registration.controller.ts
  apps/server/marketplace-be/src/modules/solicitation/controllers/round-award.controller.ts
  apps/server/marketplace-be/src/modules/solicitation/services/registration.service.ts
  apps/server/marketplace-be/src/modules/solicitation/services/round-award.service.ts
  apps/server/marketplace-be/src/utils/enums/rfx.enum.ts
  apps/server/marketplace-be/src/utils/rfx-review.template.tsx
Due: eslint --fix

Feat mp state
  apps/server/marketplace-be/src/modules/evaluation/services/eval-response.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx.service.ts
Due: eslint --fix

feat: fix megp shard
  apps/server/infrastructure-be/package.json
  apps/server/rms-be/package.json
  pnpm-lock.yaml
Due: prettier --write

Tendering test issues
  apps/back-office/tendering-fe/src/app/(features)/preparation/[id]/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/contact-condition/contract/contract-delivarable.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/contact-condition/contract/general-provision.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/contact-condition/payment-terms/payment-schedule.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/lot/evaluation-criteria/technical-scoring/technical-scoring-form-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/tender/personnel-form-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/tender/procurement-mechanism-form.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/tender/tender-personnel-list.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/tender/tender-spd.tsx
Due: eslint --fix

fix(mp): megp package
  apps/server/marketplace-be/src/utils/rfx-review.template.tsx
Due: eslint --fix

Revert megp shared
  apps/server/marketplace-be/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(marketplace-be): update on package
  apps/server/marketplace-be/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(tendering-be): utility
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-endorsement.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-preliminary-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-scoring-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/technical-evaluation.module.ts
  apps/server/tendering-be/src/modules/utility/utility.module.ts
Due: eslint --fix

fix(inf-be): update on migration
  apps/server/infrastructure-be/src/migrations/1705992542919-Initail.ts
  apps/server/infrastructure-be/src/migrations/1706018212461-RuleDesignerAdded.ts
  apps/server/infrastructure-be/src/migrations/1706093276322-UpdateOnWorkflowActivity.ts
  apps/server/infrastructure-be/src/migrations/1706686993513-NotificationUpdtade.ts
  apps/server/infrastructure-be/src/migrations/1706859453279-cc-null.ts
  apps/server/infrastructure-be/src/migrations/1707234742849-note.ts
  apps/server/infrastructure-be/src/migrations/1707471379638-createInstanceState.ts
  apps/server/infrastructure-be/src/migrations/1707803205735-nullable-parentId.ts
  apps/server/infrastructure-be/src/migrations/1708320573212-note-key-state-joinColumn.ts
  apps/server/infrastructure-be/src/migrations/1710223064892-reasons-unique-constraint.ts
  apps/server/infrastructure-be/src/migrations/1710225155891-rule-remove-unique-keu.ts
  apps/server/infrastructure-be/src/migrations/1710488609905-PaymentInvoiceAdded.ts
  apps/server/infrastructure-be/src/migrations/1711705968841-changeRelationOfInstance.ts
  apps/server/infrastructure-be/src/migrations/1711763895157-changePermissinTypeToString.ts
  apps/server/infrastructure-be/src/migrations/1712239312563-UpdateOnPaymentInvoiceModel.ts
  apps/server/infrastructure-be/src/migrations/1715061748122-workflowApplication.ts
Due: eslint --fix

vendor registration migration fix
  apps/server/vendor-be/src/migrations/1719314691897-BusinessInterstAreaEntityChange.ts
  apps/server/vendor-be/src/modules/certificates/templates/pdf-tamplate.tsx
  apps/server/vendor-be/src/modules/vendor-registration/controllers/vendor-registration.controller.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/business-area.service.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/vendor-registration.service.ts
Due: eslint --fix

fix(marketplace-be): update on package
  apps/server/marketplace-be/src/main.ts
Due: eslint --fix

fix(inf-be): update on migration
  apps/server/infrastructure-be/src/main.ts
Due: eslint --fix

fix(mp): latest offer
  apps/server/marketplace-be/src/modules/solicitation/services/offer.service.ts
Due: eslint --fix

fix: remove unnecessary logger statements and add Protected component to RFXDetailLayout
  apps/back-office/marketplace-fe/src/app/(features)/evaluation/_component/bidder-header.component.tsx
  apps/back-office/marketplace-fe/src/app/(features)/rfx/_components/bidding-procedure/bid-submission.component.tsx
  apps/portal/egp/src/app/(features)/invitations-workspace/prepare-bid/[rfxId]/layout.tsx
  apps/portal/egp/src/app/(features)/invitations-workspace/prepare-bid/_components/bid-declaration/documentary-evidence.component.tsx
  apps/portal/egp/src/app/(features)/invitations-workspace/prepare-bid/_components/price-schedule/invitation-detail.component.tsx
  apps/portal/egp/src/app/(features)/invitations-workspace/prepare-bid/_components/rfx-tab.layout.tsx
Due: eslint --fix

chore: add ItemSpecification component to AsssesmentLayout
  apps/back-office/marketplace-fe/src/app/(features)/evaluation/_component/assesment.layout.tsx
  apps/back-office/marketplace-fe/src/app/(features)/evaluation/_component/item-specification.component.tsx
  apps/back-office/marketplace-fe/src/store/api/rfx/rfx.api.ts
Due: eslint --fix

fix(mp): megp vendors registraiton
  apps/server/marketplace-be/package.json
  apps/server/marketplace-be/src/modules/evaluation/services/opener.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-bid-contract-condition.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-bid-procedure.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx.service.ts
  apps/server/marketplace-be/src/modules/solicitation/controllers/offer.controller.ts
  apps/server/marketplace-be/src/modules/solicitation/services/offer.service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(workflow-be): fix build
  apps/server/infrastructure-be/src/modules/workflow/controllers/step.controller.ts
Due: eslint --fix

fix(inf-be): update on migration
  packages/be/shared/package.json
  packages/be/shared/src/service/entity-crud.service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(inf-be): update on migration
  apps/server/marketplace-be/package.json
Due: prettier --write

fix(mp): my invitaions
  apps/server/marketplace-be/src/modules/rfx/services/rfx-product-invitation.service.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx})
  prettier --write: any of: *.json
