Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update Dockerfile
  apps/back-office/vendor-fe/Dockerfile
Due: none

Update package.json
  apps/back-office/vendor-fe/package.json
Due: prettier --write

ci: vendor docker
  apps/back-office/vendor-fe/package.json
Due: prettier --write

workflow and case handling after merge
  apps/server/vendor-be/src/handling/controllers/application-execution.controller.ts
  apps/server/vendor-be/src/handling/controllers/workflow-instance.controller.ts
  apps/server/vendor-be/src/handling/dtos/workflow-instance.dto.ts
  apps/server/vendor-be/src/handling/dtos/workflow-instance.enum.ts
  apps/server/vendor-be/src/handling/entities/invoice.entity.ts
  apps/server/vendor-be/src/handling/services/application-execution.service.ts
  apps/server/vendor-be/src/handling/services/handling-common-services.ts
  apps/server/vendor-be/src/handling/services/workflow-instance.service.ts
Due: eslint --fix

ci: vendor
  apps/back-office/iam-fe/Dockerfile
  apps/back-office/vendor-fe/Dockerfile
  apps/back-office/vendor-fe/next.config.js
  packages/fe/core-fe/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci: vendors
  apps/back-office/vendor-fe/next.config.js
Due: eslint --fix

feat(core-fe): tree
  packages/fe/core-fe/package.json
  packages/fe/core-fe/src/components/index.ts
  packages/fe/core-fe/src/components/tree/tree-nodes.tsx
  packages/fe/core-fe/src/components/tree/tree.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Update docker-build.sh
  apps/back-office/vendor-fe/.bin/docker-build.sh
Due: none

ci: iam-fe
  .gitlab-ci.yml
  .vscode/settings.json
  apps/back-office/iam-fe/.bin/docker-build.sh
  apps/back-office/iam-fe/.bin/gitops.sh
  apps/back-office/iam-fe/package.json
Due: prettier --write

ci: iam-fe
  .gitlab-ci.yml
  apps/back-office/iam-fe/.bin/gitops.sh
Due: none

ci: iam-fe
  .gitlab-ci.yml
Due: none

ci: fix
  .gitlab-ci.yml
Due: none

ci: fix with iam
  .gitlab-ci.yml
  apps/back-office/iam-fe/.bin/gitops.sh
Due: none

ci: iam-fe
  apps/back-office/iam-fe/.bin/docker-build.sh
Due: none

ci: iam-docker
  apps/back-office/iam-fe/.bin/docker-build.sh
Due: none

ci: docker tag
  apps/back-office/iam-fe/.bin/docker-build.sh
Due: none

ci: docker pull
  apps/back-office/iam-fe/.bin/docker-build.sh
Due: none

ci: docker
  apps/back-office/iam-fe/.bin/docker-build.sh
Due: none

ci: build all
  apps/back-office/+demo-fe/.bin/docker-build.sh
  apps/back-office/administration-fe/.bin/docker-build.sh
  apps/back-office/planning-fe/.bin/docker-build.sh
  apps/back-office/tendering-fe/.bin/docker-build.sh
  apps/back-office/vendor-fe/.bin/docker-build.sh
  apps/portal/egp/.bin/docker-build.sh
  apps/server/+demo-be/.bin/docker-build.sh
  apps/server/administration-be/.bin/docker-build.sh
  apps/server/iam-be/.bin/docker-build.sh
  apps/server/planning-be/.bin/docker-build.sh
  apps/server/vendor-be/.bin/docker-build.sh
Due: none

ci: backend
  apps/server/administration-be/package.json
  apps/server/iam-be/package.json
Due: prettier --write

ci: turbo task
  turbo.json
Due: prettier --write

Classification tree2
  apps/server/administration-be/src/app.module.ts
  apps/server/administration-be/src/entities/classification-path.ts
  apps/server/administration-be/src/entities/classification.entity.ts
  apps/server/administration-be/src/entities/classification.ts
  apps/server/administration-be/src/entities/item-master.entity.ts
  apps/server/administration-be/src/modules/classification/classification.module.ts
  apps/server/administration-be/src/modules/classification/controllers/classification-controller.ts
  apps/server/administration-be/src/modules/classification/controllers/classification-path.controller.ts
  apps/server/administration-be/src/modules/classification/services/classification-path.service.ts
  apps/server/administration-be/src/modules/classification/services/classification.service.ts
  apps/server/administration-be/src/modules/item-master/item-master.module.ts
Due: eslint --fix

feat(iam-be): update on base api
  apps/server/iam-be/.env.example
  apps/server/iam-be/src/main.ts
Due: eslint --fix

feat(iam-be): update on authorization
  apps/server/iam-be/src/shared/controller/entity-crud.controller.ts
  apps/server/iam-be/src/shared/controller/extra-crud.controller.ts
  apps/server/iam-be/src/shared/controller/relation-crud.controller.ts
Due: eslint --fix

feat: item tag ui created
  apps/back-office/administration-fe/src/app/(features)/lookup/item-tag/[id]/page.tsx
  apps/back-office/administration-fe/src/app/(features)/lookup/item-tag/_api/tag.api.ts
  apps/back-office/administration-fe/src/app/(features)/lookup/item-tag/_components/form-detail.tsx
  apps/back-office/administration-fe/src/app/(features)/lookup/item-tag/entity.tsx
  apps/back-office/administration-fe/src/app/(features)/lookup/item-tag/layout.tsx
  apps/back-office/administration-fe/src/app/(features)/lookup/item-tag/new/page.tsx
  apps/back-office/administration-fe/src/app/(features)/lookup/item-tag/page.tsx
  apps/back-office/administration-fe/src/models/Tag.ts
  apps/back-office/administration-fe/src/store/entity/list.ts
Due: eslint --fix

Classification commodity
  apps/server/administration-be/src/entities/classification-path.ts
  apps/server/administration-be/src/entities/classification.ts
  apps/server/administration-be/src/entities/measurement.entity.ts
  apps/server/administration-be/src/modules/classification/controllers/classification-controller.ts
  apps/server/administration-be/src/modules/classification/controllers/classification-path.controller.ts
  apps/server/administration-be/src/modules/classification/services/classification-path.service.ts
  apps/server/administration-be/src/modules/classification/services/classification.service.ts
Due: eslint --fix

feat(item-master): item master
  apps/back-office/administration-fe/src/app/(features)/item-master/[id]/page.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/_components/classification-selector.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/_components/form-detail.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/_components/tree/tree-builder.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/_components/tree/tree.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/entity.tsx
  apps/back-office/administration-fe/src/app/(features)/item-master/new/page.tsx
  apps/back-office/administration-fe/src/config/env.ts
  apps/back-office/administration-fe/src/models/config.ts
  apps/back-office/administration-fe/src/models/item-master.ts
  apps/back-office/administration-fe/src/store/api/categories/categories.api.ts
  apps/back-office/administration-fe/src/store/api/classification/classification.api.ts
  apps/back-office/administration-fe/src/store/api/measurements/measurements.api.ts
  apps/back-office/administration-fe/src/store/entity/list.ts
  apps/back-office/administration-fe/src/store/store.ts
  packages/fe/core-fe/src/components/tree/tree-nodes.tsx
  packages/fe/core-fe/src/components/tree/tree.tsx
  packages/fe/entity/src/components/entity/entity-list.tsx
  packages/fe/entity/src/components/relation/relation.tsx
  packages/fe/entity/src/components/table/grid.tsx
  packages/fe/entity/src/models/list.ts
  packages/fe/entity/src/models/relation.ts
Due: eslint --fix

Vendor updated folder structure v1.4
  .vscode/settings.json
  apps/portal/egp/src/app/(features)/vendor/_components/cardList/cardListShell.tsx
  apps/portal/egp/src/app/(features)/vendor/_components/dynamicPrintComponent/invoice-sm.tsx
  apps/portal/egp/src/app/(features)/vendor/_components/useForm/form.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_api/query.ts
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/basic/basicInformation.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/formShell.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/detail/schema.ts
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/formContext/form-context-provider.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/page-title/title.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/payment/invoice-list.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/payment/payment-method.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/ppda/areasOfBusinessInterest.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/ppda/formShell.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/review/form-preview.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/_components/stepper/stepper.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/detail/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/doc/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/payment/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/ppda/page.tsx
  apps/portal/egp/src/app/(features)/vendor/registration/new/review/page.tsx
Due: eslint --fix, prettier --write

chore: refactor env
  apps/back-office/iam-fe/.env.example
  apps/back-office/iam-fe/src/app/layout.tsx
  apps/back-office/iam-fe/src/config/env.ts
  apps/back-office/iam-fe/src/contexts/config.tsx
  apps/back-office/iam-fe/src/models/config.ts
  apps/back-office/iam-fe/src/store/entity/api.ts
  apps/back-office/iam-fe/src/store/entity/list.ts
  apps/back-office/iam-fe/turbo.json
  apps/portal/egp/.env.example
  apps/portal/egp/Dockerfile
  turbo.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx})
  prettier --write: any of: *.json
