Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": ["eslint --fix"],
  "packages/**/*.{js,ts,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

Resolve "Define and Modify Fee settings - front end"
  apps/back-office/vendor-fe/package.json
  apps/back-office/vendor-fe/src/app/_shared/Loading.tsx
  apps/back-office/vendor-fe/src/app/_shared/Menu.tsx
  apps/back-office/vendor-fe/src/app/_shared/Pannel.tsx
  apps/back-office/vendor-fe/src/app/_shared/collection-selector-config.tsx
  apps/back-office/vendor-fe/src/app/_shared/collection-selector/components/modal-collection-selector.stories.tsx
  apps/back-office/vendor-fe/src/app/_shared/collection-selector/components/modal-collection-selector.tsx
  apps/back-office/vendor-fe/src/app/_shared/collection-selector/components/page.tsx
  apps/back-office/vendor-fe/src/app/_shared/confirmation.tsx
  apps/back-office/vendor-fe/src/app/_shared/core/utilities/axios-base-query.ts
  apps/back-office/vendor-fe/src/app/_shared/core/utilities/axiosClient.ts
  apps/back-office/vendor-fe/src/app/_shared/core/utilities/get-region-key.ts
  apps/back-office/vendor-fe/src/app/_shared/core/utilities/get-region-label.ts
  apps/back-office/vendor-fe/src/app/_shared/core/utilities/index.ts
  apps/back-office/vendor-fe/src/app/_shared/pannel.style.css
  apps/back-office/vendor-fe/src/app/_shared/pannel.style.scss
  apps/back-office/vendor-fe/src/app/_shared/ui/card/card.stories.tsx
  apps/back-office/vendor-fe/src/app/_shared/ui/delete-confirmation-modal/delete-confirmation.stories.tsx
  apps/back-office/vendor-fe/src/app/_shared/ui/file-input/components/file-preview.tsx
  apps/back-office/vendor-fe/src/app/_shared/ui/file-input/file-input.stories.tsx
  apps/back-office/vendor-fe/src/app/_shared/ui/file-input/file-input.tsx
  apps/back-office/vendor-fe/src/app/_shared/ui/file-input/model/file-type.ts
  apps/back-office/vendor-fe/src/app/_shared/ui/file-input/utilities/audio-extensions.ts
  apps/back-office/vendor-fe/src/app/_shared/ui/file-input/utilities/get-file-type.ts
  apps/back-office/vendor-fe/src/app/_shared/ui/file-input/utilities/image-extensions.ts
  apps/back-office/vendor-fe/src/app/_shared/ui/file-input/utilities/video-extensions.ts
  apps/back-office/vendor-fe/src/app/_shared/ui/next-progress/next-progress-bar.stories.tsx
  apps/back-office/vendor-fe/src/app/_shared/ui/next-progress/next-progress-bar.tsx
  apps/back-office/vendor-fe/src/app/_shared/ui/notification/components/notification.tsx
  apps/back-office/vendor-fe/src/app/_shared/ui/page-loader/page-loader.stories.tsx
  apps/back-office/vendor-fe/src/app/_shared/ui/page.tsx
  apps/back-office/vendor-fe/src/app/_shared/ui/shared-button/shared-button.stories.tsx
  apps/back-office/vendor-fe/src/app/settings/pricing/_shared/pricing-detail-form.tsx
  apps/back-office/vendor-fe/src/store/api/pricing/pricing.api.ts
Due: eslint --fix, prettier --write

feat(vendor-be): bug fix
  apps/server/vendor-be/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(vendor-be): test
  apps/server/vendor-be/src/bpm/workflow-instances/entities/invoice.entity.ts
Due: eslint --fix

feat(vendor-be): workflow fixes
  apps/server/vendor-be/src/bpm/workflow-instance.enum.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/invoice.entity.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/workflow-instance.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
Due: eslint --fix

feat(vendor-be): workflow
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.response.ts
Due: eslint --fix

feat(vendor-be): remove console
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
Due: eslint --fix

Vendor registration service frontend v.3.5
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/form.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/initialValues.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/parts/bankAccountDetails.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/parts/beneficialOwnership.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/parts/businessSizeAndOwnership.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/parts/contactPersons.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/parts/shareHolders.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/page.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/_shared/components/cardForm/index.tsx
  apps/portal/egp/src/store/api/vendor_registration/query.ts
  apps/portal/egp/src/store/api/vendor_registration/type.ts
  pnpm-lock.yaml
Due: eslint --fix

feat(vendor-be): code clear
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
Due: eslint --fix

Feature adding planning app
  apps/server/+demo-be/src/main.ts
  apps/server/+demo-be/src/shared/controller/generic-crud.controller.ts
  apps/server/+demo-be/src/shared/entities/base.entity.ts
  apps/server/+demo-be/src/shared/service/generic-crud.service.ts
  apps/server/+demo-be/src/todo/items.controller.ts
  apps/server/+demo-be/src/todo/items.service.ts
  apps/server/+demo-be/src/todo/todo.module.ts
  apps/server/iam-be/src/app.module.ts
  apps/server/iam-be/src/groups/controllers/group.controller.ts
  apps/server/iam-be/src/groups/dto/group.dto.ts
  apps/server/iam-be/src/groups/entity/group.entity.ts
  apps/server/iam-be/src/groups/group.module.ts
  apps/server/iam-be/src/groups/services/group.service.ts
  apps/server/iam-be/src/shared/controller/generic-crud.controller.ts
  apps/server/iam-be/src/shared/entities/base.entity.ts
  apps/server/iam-be/src/shared/service/generic-crud.service.ts
Due: eslint --fix

Feature adding planning app
  apps/server/iam-be/src/shared/typeorm/typeorm.service.ts
Due: eslint --fix

Vendor registration service frontend v.3.6
  apps/portal/egp/src/app/(home)/egp/vendors/layout.tsx
Due: eslint --fix

Vendor registration service frontend v.3.7
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/form.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/page.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/_shared/lib/objectParser/object.tsx
Due: eslint --fix

fix(iam-be): allow cors
  apps/server/iam-be/src/main.ts
Due: eslint --fix

Feature adding planning app
  apps/server/iam-be/src/groups/controllers/group.controller.ts
  apps/server/iam-be/src/main.ts
  apps/server/iam-be/src/organization/controllers/user.controller.ts
  apps/server/iam-be/src/organization/dto/employee-profile.dto.ts
  apps/server/iam-be/src/organization/dto/employee-role.dto.ts
  apps/server/iam-be/src/organization/dto/employee-unit.dto.ts
  apps/server/iam-be/src/organization/dto/employee.dto.ts
  apps/server/iam-be/src/organization/dto/security-question.dto.ts
  apps/server/iam-be/src/organization/entities/application.entity.ts
  apps/server/iam-be/src/organization/entities/mandate-permission.entity.ts
  apps/server/iam-be/src/organization/entities/mandate.entity.ts
  apps/server/iam-be/src/organization/entities/organization-mandate.entity.ts
  apps/server/iam-be/src/organization/entities/organization-sector.entity.ts
  apps/server/iam-be/src/organization/entities/organization-type.entity.ts
  apps/server/iam-be/src/organization/entities/organization.entity.ts
  apps/server/iam-be/src/organization/entities/permission.entity.ts
  apps/server/iam-be/src/organization/entities/role-permission.entity.ts
  apps/server/iam-be/src/organization/entities/role.entity.ts
  apps/server/iam-be/src/organization/entities/security-question.entity.ts
  apps/server/iam-be/src/organization/entities/unit-type.entity.ts
  apps/server/iam-be/src/organization/entities/unit.entity.ts
  apps/server/iam-be/src/organization/entities/user-profile.entity.ts
  apps/server/iam-be/src/organization/entities/user-role.entity.ts
  apps/server/iam-be/src/organization/entities/user-unit.entity.ts
  apps/server/iam-be/src/organization/entities/user.entity.ts
  apps/server/iam-be/src/organization/organization.module.ts
  apps/server/iam-be/src/organization/organization.service.ts
  apps/server/iam-be/src/organization/services/mandate.service.ts
  apps/server/iam-be/src/organization/services/role.service.ts
  apps/server/iam-be/src/organization/services/user.service.ts
  apps/server/iam-be/src/shared/controller/generic-crud.controller.ts
  apps/server/iam-be/src/shared/domain/contact-number.dto.ts
  apps/server/iam-be/src/shared/domain/contact-number.ts
  apps/server/iam-be/src/shared/domain/index.ts
  apps/server/iam-be/src/shared/entities/contact-number.ts
  apps/server/iam-be/src/shared/entities/file-response.ts
  apps/server/iam-be/src/shared/exceptions/global-exception.filter.ts
  apps/server/iam-be/src/supertokens/auth/decorators/current-user.decorator.ts
Due: eslint --fix

fix: add dependancy
  apps/back-office/iam-fe/src/app/organizations/page.tsx
Due: eslint --fix

feat(iam-be): api prefix removed
  apps/server/iam-be/src/main.ts
Due: eslint --fix

feat(iam-be): updating generic services
  apps/server/iam-be/src/shared/controller/generic-crud.controller.ts
  apps/server/iam-be/src/shared/service/generic-crud.service.ts
Due: eslint --fix

feat(vendor-be): moded update
  apps/server/vendor-be/src/bpm/application-execution.controller.ts
Due: eslint --fix

feat(vendor-be): vendor-detail coppying
  apps/server/vendor-be/src/bpm/application-execution.service.ts
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/controllers/workflow-instance.controller.ts
  apps/server/vendor-be/src/bpm/workflow-instances/entities/receipt-attachment.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
  apps/server/vendor-be/src/vendor-registration/entities/service-price.entity.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
Due: eslint --fix

feat(vendor-be): invoice
  apps/server/vendor-be/src/bpm/application-execution.service.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
Due: eslint --fix

feat(vendor-be): vendor object on list
  apps/server/vendor-be/src/bpm/application-execution.service.ts
Due: eslint --fix

feat(vendor-be): review of payment
  apps/server/vendor-be/src/bpm/controllers/workflow-instance.controller.ts
  apps/server/vendor-be/src/shared/typeorm/typeorm.service.ts
Due: eslint --fix

feat(vendor-be): vendor-submit
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/workflow-instances/dtos/workflow-instance.dto.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
Due: eslint --fix

feat(vendor-be): vendor registration module remove
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/workflow-instances/workflow-instance.service.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
Due: eslint --fix

Feature refactoring iam be
  apps/server/iam-be/src/app.module.ts
  apps/server/iam-be/src/application/application.module.ts
  apps/server/iam-be/src/application/controllers/application.controller.ts
  apps/server/iam-be/src/application/controllers/permission.controller.ts
  apps/server/iam-be/src/application/dto/application.dto.ts
  apps/server/iam-be/src/application/dto/permission.dto.ts
  apps/server/iam-be/src/application/entities/application.entity.ts
  apps/server/iam-be/src/application/entities/permission.entity.ts
  apps/server/iam-be/src/application/services/application.service.ts
  apps/server/iam-be/src/application/services/permission.service.ts
  apps/server/iam-be/src/groups/controllers/group.controller.ts
  apps/server/iam-be/src/groups/dto/group.dto.ts
  apps/server/iam-be/src/mandate/controllers/mandate-permission.controller.ts
  apps/server/iam-be/src/mandate/controllers/mandate.controller.ts
  apps/server/iam-be/src/mandate/controllers/organization-mandate.controller.ts
  apps/server/iam-be/src/mandate/dto/mandate-permission.dto.ts
  apps/server/iam-be/src/mandate/dto/mandate.dto.ts
  apps/server/iam-be/src/mandate/dto/organization-mandate.dto.ts
  apps/server/iam-be/src/mandate/entities/mandate-permission.entity.ts
  apps/server/iam-be/src/mandate/entities/mandate.entity.ts
  apps/server/iam-be/src/mandate/entities/organization-mandate.entity.ts
  apps/server/iam-be/src/mandate/mandate.module.ts
  apps/server/iam-be/src/mandate/services/mandate-permission.service.ts
  apps/server/iam-be/src/mandate/services/mandate.service.ts
  apps/server/iam-be/src/mandate/services/organization-mandate.service.ts
  apps/server/iam-be/src/organization/organization.service.ts
  apps/server/iam-be/src/shared/controller/generic-crud.controller.ts
  apps/server/iam-be/src/shared/service/generic-crud.service.ts
  apps/server/iam-be/src/supertokens/auth.controller.ts
  apps/server/iam-be/src/supertokens/auth/guards/auth.guard.ts
  apps/server/iam-be/src/supertokens/auth/service/supertokens.service.ts
  apps/server/iam-be/src/supertokens/authentication.controller.ts
  apps/server/iam-be/src/supertokens/authentication.module.ts
Due: eslint --fix

chore: ci cleanup
  .gitlab-ci.yml
  apps/back-office/+demo-fe/.gitlab-ci.yml
  apps/back-office/administration-fe/.gitlab-ci.yml
  apps/back-office/iam-fe/.gitlab-ci.yml
  apps/back-office/vendor-fe/.gitlab-ci.yml
  apps/portal/egp/.gitlab-ci.yml
  apps/server/iam-be/.gitlab-ci.yml
  pnpm-lock.yaml
Due: none

chore: mantine update
  apps/back-office/+demo-fe/package.json
  apps/back-office/administration-fe/package.json
  apps/back-office/iam-fe/package.json
  apps/back-office/vendor-fe/package.json
  apps/portal/egp/package.json
  packages/config/theme/package.json
  packages/fe/core-fe/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: test entity refactor
  apps/back-office/iam-fe/next.config.js
  apps/back-office/iam-fe/package.json
  apps/back-office/iam-fe/src/app/(features)/groups/_api/group.api.ts
  apps/back-office/iam-fe/src/app/(features)/groups/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/groups/entity.tsx
  packages/config/tsconfig/react-library.json
  packages/fe/core-fe/src/components/entity/api/entity-endpoints.ts
  packages/fe/core-fe/src/components/entity/entity-btn.tsx
  packages/fe/core-fe/src/components/entity/entity-layout.tsx
  packages/fe/core-fe/src/components/entity/entity.module.scss
  packages/fe/core-fe/src/components/entity/entity.tsx
  packages/fe/core-fe/src/components/entity/index.ts
  packages/fe/core-fe/src/components/entity/models/collection.ts
  packages/fe/core-fe/src/components/entity/models/entity-store-config.ts
  packages/fe/core-fe/src/components/entity/models/entity.ts
  packages/fe/core-fe/src/components/entity/table/default-column.tsx
  packages/fe/core-fe/src/components/entity/table/header-column.tsx
  packages/fe/core-fe/src/components/entity/table/widget.tsx
  packages/fe/core-fe/src/components/entity/utility.ts
  packages/fe/core-fe/src/components/index.ts
  packages/fe/entity/.eslintrc.js
  packages/fe/entity/index.ts
  packages/fe/entity/package.json
  packages/fe/entity/src/components/entity-layout.tsx
  packages/fe/entity/src/components/entity/entity-list.tsx
  packages/fe/entity/src/components/table/header-column.tsx
  packages/fe/entity/src/index.ts
  packages/fe/entity/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: lint
  .eslintrc.js
  apps/back-office/iam-fe/.eslintrc.js
  apps/back-office/iam-fe/.eslintrc.json
  apps/back-office/iam-fe/package.json
  apps/back-office/iam-fe/src/app/(features)/groups/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/groups/new/page.tsx
  apps/back-office/iam-fe/src/app/auth/login.tsx
  apps/back-office/iam-fe/src/store/base-query.ts
  apps/back-office/iam-fe/src/store/entity/api.ts
  apps/back-office/iam-fe/tsconfig.json
  apps/back-office/planning-fe/package.json
  apps/back-office/tendering-fe/package.json
  apps/back-office/vendor-fe/package.json
  apps/server/iam-be/package-lock.json
  apps/server/planning-be/.prettierrc
  apps/server/vendor-be/package-lock.json
  packages/config/eslint-config-custom/library.js
  packages/config/eslint-config-custom/next.js
  packages/config/eslint-config-custom/package.json
  packages/config/tsconfig/nextjs.json
  packages/fe/entity/src/components/table/header-column.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: linting
  apps/back-office/+demo-fe/.eslintrc.js
  apps/back-office/+demo-fe/.eslintrc.json
  apps/back-office/+demo-fe/package.json
  apps/back-office/administration-fe/.eslintrc.js
  apps/back-office/administration-fe/.eslintrc.json
  apps/back-office/administration-fe/package.json
  apps/back-office/iam-fe/package.json
  apps/back-office/iam-fe/src/app/(features)/groups/_components/form-detail.tsx
  apps/back-office/iam-fe/src/app/(features)/groups/entity.tsx
  apps/back-office/iam-fe/turbo.json
  apps/back-office/planning-fe/package.json
  apps/back-office/tendering-fe/.eslintrc.js
  apps/back-office/tendering-fe/.eslintrc.json
  apps/back-office/tendering-fe/package.json
  apps/back-office/vendor-fe/.eslintrc.js
  apps/back-office/vendor-fe/.eslintrc.json
  apps/back-office/vendor-fe/package.json
  apps/back-office/vendor-fe/src/app/(features)/new-registration/bpm-handling/supplier-registration.tsx
  apps/back-office/vendor-fe/src/app/(features)/new-registration/page.tsx
  apps/back-office/vendor-fe/src/app/(features)/vendor/_shared/sidebar/sidebar.tsx
  apps/back-office/vendor-fe/src/app/(features)/vendor/body/mainContent.tsx
  apps/back-office/vendor-fe/src/app/(features)/vendor/page.tsx
  apps/back-office/vendor-fe/src/app/(features)/vendor/sidebar/sidebar.tsx
  apps/back-office/vendor-fe/tsconfig.json
  apps/back-office/vendor-fe/turbo.json
  apps/portal/egp/package.json
  apps/server/+demo-be/package.json
  packages/config/eslint-config-custom/next.js
  packages/fe/core-fe/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

chore: ci
  .npmrc
Due: none
