Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": ["eslint --fix"],
  "packages/**/*.{js,ts,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

ci: rebuild
  .gitlab-ci.yml
Due: none

ci: rebuild
  apps/back-office/administration-fe/Dockerfile
  apps/back-office/guarantee-fe/Dockerfile
  apps/back-office/iam-fe/Dockerfile
  apps/back-office/planning-fe/Dockerfile
  apps/back-office/tendering-fe/Dockerfile
  apps/back-office/vendor-fe/Dockerfile
  apps/portal/egp/Dockerfile
  apps/server/administration-be/Dockerfile
  apps/server/iam-be/Dockerfile
  apps/server/infrastructure-be/Dockerfile
  apps/server/planning-be/Dockerfile
  apps/server/procurement-requisition-be/Dockerfile
  apps/server/tendering-be/Dockerfile
  apps/server/vendor-be/Dockerfile
  package.json
Due: prettier --write

ci: trigger
  apps/portal/egp/src/app/(features)/about-us/page.tsx
Due: eslint --fix

ci: rebuild
  apps/portal/egp/src/app/(features)/about-us/page.tsx
Due: eslint --fix

ci: rebuild previous
  .gitlab-ci.yml
Due: none

ci: dind test
  .gitlab-ci.yml
Due: none

fix: docker pnpm
  apps/back-office/iam-fe/Dockerfile
  apps/back-office/planning-fe/Dockerfile
  apps/portal/egp/Dockerfile
  apps/server/tendering-be/Dockerfile
Due: none

ci: rebuild
  .gitlab-ci.yml
  apps/server/administration-be/.env.example
Due: none

feat(tendering-be): fix admin
  apps/server/administration-be/package.json
  pnpm-lock.yaml
Due: prettier --write

Vendor registration workflow seed data update
  apps/server/vendor-be/src/entities/invoice.entity.ts
  apps/server/vendor-be/src/migrations/1713863880601-InvoiceEntityChange.ts
  apps/server/vendor-be/src/modules/bpm/services/workflow.service.ts
  apps/server/vendor-be/src/modules/notifications/controllers/notifications.controller.ts
  apps/server/vendor-be/src/modules/notifications/dto/notification.dto.ts
  apps/server/vendor-be/src/modules/seeders/seed-data.ts
  apps/server/vendor-be/src/modules/vendor-registration/controllers/invoice.controller.ts
  apps/server/vendor-be/src/modules/vendor-registration/dto/payment-command.dto.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/vendor-registration.service.ts
Due: eslint --fix

fix(vendor-be): mbrs mock data for testing
  apps/server/vendor-be/src/modules/vendor-registration/dto/api-mbrs.dto.ts
  apps/server/vendor-be/src/modules/vendor-registration/services/vendor-registration.service.ts
Due: eslint --fix

Opening
  apps/back-office/tendering-fe/src/app/(features)/opening/[tenderId]/lots/[lotId]/[bidderId]/_components/assesment.tsx
  apps/back-office/tendering-fe/src/app/(features)/opening/[tenderId]/lots/[lotId]/[bidderId]/_components/checklist.tsx
  apps/back-office/tendering-fe/src/app/(features)/opening/[tenderId]/lots/[lotId]/[bidderId]/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/opening/[tenderId]/lots/[lotId]/page.tsx
  apps/back-office/tendering-fe/src/store/api/tendering/tendering.api.ts
Due: eslint --fix

Bid guarantee tender
  apps/back-office/tendering-fe/src/app/(features)/guarantee-extension/[id]/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/guarantee-extension/_api/guarantee-forfeit.api.ts
  apps/back-office/tendering-fe/src/app/(features)/guarantee-extension/layout.tsx
  apps/back-office/tendering-fe/src/app/(features)/guarantee-extension/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/guarantee-forfeit/[id]/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/guarantee-forfeit/_api/guarantee-forfeit.api.ts
  apps/back-office/tendering-fe/src/app/(features)/guarantee-forfeit/layout.tsx
  apps/back-office/tendering-fe/src/app/(features)/guarantee-forfeit/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/guarantee-release/[id]/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/guarantee-release/_api/guarantee-release.api.ts
  apps/back-office/tendering-fe/src/app/(features)/guarantee-release/layout.tsx
  apps/back-office/tendering-fe/src/app/(features)/guarantee-release/page.tsx
  apps/back-office/tendering-fe/src/config/menu.ts
  apps/back-office/tendering-fe/src/models/guarantee-request/guarantee-request.ts
  apps/back-office/tendering-fe/src/store/entity/list.ts
Due: eslint --fix

feat(administration-be): added item sub category in item masters
  apps/server/administration-be/src/entities/item-category.entity.ts
  apps/server/administration-be/src/entities/item-master.entity.ts
  apps/server/administration-be/src/entities/item-sub-category.entity.ts
  apps/server/administration-be/src/migrations/1713965248358-RelationItemSubCatWithItemMaster.ts
  apps/server/administration-be/src/modules/item-master/controllers/item-master-controller.ts
  apps/server/administration-be/src/modules/item-master/dtos/create-item-master.dto.ts
  apps/server/administration-be/src/modules/item-master/dtos/item-master-response.dto.ts
  apps/server/administration-be/src/modules/item-master/dtos/item-master.dto.ts
  apps/server/administration-be/src/modules/item-master/dtos/update-item-master.dto.ts
Due: eslint --fix

feat(tendering-be): tender create fix
  apps/server/planning-be/src/modules/procurement-requistion/services/procurement-requisition.service.ts
  apps/server/tendering-be/src/modules/tenders/service/tender.service.ts
Due: eslint --fix

fix(administration-be): removed the deleted at column
  apps/server/administration-be/src/migrations/1713970441235-RemovedTheDeletedAtColumnInAdmin.ts
  apps/server/administration-be/src/shared/entities/audit.entity.ts
Due: eslint --fix

Resolve "boq portal done"
  apps/back-office/tendering-fe/src/app/(features)/_components/file-viewer/file-viewer.module.scss
  apps/back-office/tendering-fe/src/app/(features)/_components/file-viewer/file-viewer.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/item/document/document.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/item/sop/fee/fee.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/item/sop/reimburseable-expense/reimburseable-expense.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/item/sor/technical-requirement/technical-requirement.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/lot/bid-security/bid-security.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/lot/evaluation-criteria/preliminary-examination/preliminary-examination.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/lot/evaluation-criteria/qualification/qualification.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/tender/invitation/participation-fee.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/bid-form.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/contract-form.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/professional-setting.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/upload-template.tsx
  apps/portal/egp/src/app/(features)/tender-workspace/prepare-bid/[tenderId]/_components/financial-offer/_components/forms/bill-of-material/bill-of-material-tree.tsx
  apps/portal/egp/src/app/(features)/tender-workspace/prepare-bid/[tenderId]/_components/financial-offer/_components/forms/items.tsx
  apps/portal/egp/src/app/(features)/tender-workspace/prepare-bid/[tenderId]/_components/technical-offer/_components/forms/technical-requirement/technical-requirement.tsx
Due: eslint --fix

feat(workflow-be): build fix
  apps/server/infrastructure-be/src/modules/workflow/controllers/state.controller.ts
Due: eslint --fix

feat(tendering-be): tender create fix
  apps/server/tendering-be/src/modules/tenders/service/tender.service.ts
Due: eslint --fix

Planning revision
  apps/back-office/administration-fe/src/app/(features)/rule-designer/page.tsx
  apps/back-office/planning-fe/src/app/(features)/(app)/_components/planning-tab.tsx
  apps/back-office/planning-fe/src/app/(features)/(app)/post-budget-plan/[budgetYear]/history/[toBeCompare]/[comparedWith]/_components/compare.tsx
  apps/back-office/planning-fe/src/app/(features)/(app)/pre-budget-plan/[budgetYear]/activities/page.tsx
  packages/fe/core-fe/src/components/expandable-table/index.tsx
Due: eslint --fix

Planning bug fix
  apps/back-office/planning-fe/src/app/(features)/(app)/post-budget-plan/[budgetYear]/activities/_components/budget-selectorr.tsx
  apps/back-office/planning-fe/src/app/(features)/budget/[id]/page.tsx
  apps/server/planning-be/src/modules/utility/services/report-post-budget.tsx
  apps/server/planning-be/src/modules/utility/services/report-pre-budget.tsx
Due: eslint --fix

fix(portal): notification setup
  apps/portal/egp/src/app/(features)/_api/notifications.api.ts
  apps/portal/egp/src/app/(features)/_components/Notifications/index.tsx
  apps/portal/egp/src/app/(features)/my-workspace/_components/cardList/cardListShell.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/_api/query.ts
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/detail/addressInformation.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/review/form-preview.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/_constants/reviewTabs.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/new/_components/preferential/formShell.tsx
  apps/portal/egp/src/models/notification.ts
  apps/portal/egp/src/shared/components/header/header.tsx
  apps/portal/egp/src/store/api/administrationApi.ts
Due: eslint --fix

Planning bug fix
  apps/back-office/planning-fe/src/app/(features)/(app)/_components/activity-mechanization.tsx
  apps/back-office/planning-fe/src/config/menu.ts
  apps/back-office/planning-fe/src/store/api/administration/administration.api.ts
Due: eslint --fix

Micky catalog
  .vscode/launch.json
  apps/server/administration-be/package.json
  apps/server/administration-be/src/app.module.ts
  apps/server/administration-be/src/entities/contract-allocated-item.entity.ts
  apps/server/administration-be/src/entities/contract-beneficiary.entity.ts
  apps/server/administration-be/src/entities/contract-catalog.entity.ts
  apps/server/administration-be/src/entities/contract-item-price.entity.ts
  apps/server/administration-be/src/entities/contract-item.entity.ts
  apps/server/administration-be/src/entities/index.ts
  apps/server/administration-be/src/entities/product-catalog-image.entity.ts
  apps/server/administration-be/src/entities/product-catalog.entity.ts
  apps/server/administration-be/src/entities/specification-template.entity.ts
  apps/server/administration-be/src/main.ts
  apps/server/administration-be/src/migrations/1713659058217-initiateProductCatalog.ts
  apps/server/administration-be/src/migrations/1714016725945-intial_contarct_catalog.ts
  apps/server/administration-be/src/modules/contract-catalog/contract-catalog.module.ts
  apps/server/administration-be/src/modules/contract-catalog/controllers/contract-catalog.controller.ts
  apps/server/administration-be/src/modules/contract-catalog/dto/contract-catalog.dto.ts
  apps/server/administration-be/src/modules/contract-catalog/services/contract-catalog.service.ts
  apps/server/administration-be/src/modules/product-catalog/controllers/product-catalog-image.controller.ts
  apps/server/administration-be/src/modules/product-catalog/controllers/product-catalog.controller.ts
  apps/server/administration-be/src/modules/product-catalog/controllers/specification-template.controller.ts
  apps/server/administration-be/src/modules/product-catalog/dto/product-catalog-image.dto.ts
  apps/server/administration-be/src/modules/product-catalog/dto/product-catalog.dto.ts
  apps/server/administration-be/src/modules/product-catalog/dto/specification-template.dto.ts
  apps/server/administration-be/src/modules/product-catalog/product-catalog.module.ts
  apps/server/administration-be/src/modules/product-catalog/services/product-catalog-image.service.ts
  apps/server/administration-be/src/modules/product-catalog/services/product-catalog.service.ts
  apps/server/administration-be/src/modules/product-catalog/services/specification-template.service.ts
  apps/server/administration-be/src/shared/entities/audit.entity.ts
  apps/server/administration-be/src/shared/enums/contract-catalog-enum.ts
  apps/server/administration-be/src/shared/enums/product-catalog-enum.ts
  apps/server/administration-be/src/shared/min-io/bucket-name.enum.ts
  apps/server/administration-be/src/shared/min-io/index.ts
  apps/server/administration-be/src/shared/min-io/presigned-file-upload.dto.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Feat tender team
  apps/server/tendering-be/src/app.module.ts
  apps/server/tendering-be/src/entities/bid-opening-checklist.entity.ts
  apps/server/tendering-be/src/entities/bid-registration-detail.entity.ts
  apps/server/tendering-be/src/entities/index.ts
  apps/server/tendering-be/src/entities/lot.entity.ts
  apps/server/tendering-be/src/entities/spd-preliminary-evaluation.entity.ts
  apps/server/tendering-be/src/entities/team-member.entity.ts
  apps/server/tendering-be/src/entities/team.entity.ts
  apps/server/tendering-be/src/entities/technical-assesment-compliance.entity.ts
  apps/server/tendering-be/src/entities/technical-preliminary-assessment.entity.ts
  apps/server/tendering-be/src/entities/tender-milestone.entity.ts
  apps/server/tendering-be/src/entities/tender.entity.ts
  apps/server/tendering-be/src/migrations/1714035136998-createTenderMilestone.ts
  apps/server/tendering-be/src/modules/evaluation/controller/technical-preliminary-assessment.controller.ts
  apps/server/tendering-be/src/modules/evaluation/dto/technical-preliminary-assessment.dto.ts
  apps/server/tendering-be/src/modules/evaluation/service/technical-preliminary-assessment.service.ts
  apps/server/tendering-be/src/modules/evaluation/technical-evaluation.module.ts
  apps/server/tendering-be/src/modules/opening/controller/bid-opening-checklist.controller.ts
  apps/server/tendering-be/src/modules/opening/controller/bid-opening-minute.controller.ts
  apps/server/tendering-be/src/modules/opening/service/bid-opening-checklist.service.ts
  apps/server/tendering-be/src/modules/opening/service/bid-opening-minute.service.ts
  apps/server/tendering-be/src/modules/opening/service/opening.service.ts
  apps/server/tendering-be/src/shared/enums/tender-milestone.enum.ts
Due: eslint --fix

ci: test
  .gitlab-ci.yml
Due: none

ci: rebuild
  .gitlab-ci.yml
  apps/back-office/administration-fe/Dockerfile
  apps/back-office/guarantee-fe/Dockerfile
  apps/back-office/iam-fe/Dockerfile
  apps/back-office/planning-fe/Dockerfile
  apps/back-office/tendering-fe/Dockerfile
  apps/back-office/vendor-fe/Dockerfile
  apps/portal/egp/Dockerfile
  apps/server/administration-be/Dockerfile
  apps/server/iam-be/Dockerfile
  apps/server/infrastructure-be/Dockerfile
  apps/server/planning-be/Dockerfile
  apps/server/procurement-requisition-be/Dockerfile
  apps/server/tendering-be/Dockerfile
  apps/server/vendor-be/Dockerfile
Due: none

Integrate pdf highlighter
  apps/back-office/vendor-fe/.env.example
  apps/back-office/vendor-fe/next.config.js
  apps/back-office/vendor-fe/package.json
  apps/back-office/vendor-fe/src/app/(features)/_components/application-list/details.tsx
  apps/back-office/vendor-fe/src/app/(features)/_components/details-accordion/index.tsx
  apps/back-office/vendor-fe/src/app/(features)/_components/pdf-highlighter/pdf-highlighter-sidebar.tsx
  apps/back-office/vendor-fe/src/app/(features)/_components/pdf-highlighter/pdf-highlighter.tsx
  apps/back-office/vendor-fe/src/app/(features)/_components/task-details.tsx
  apps/back-office/vendor-fe/src/app/(features)/_components/task-handler.tsx
  apps/back-office/vendor-fe/src/app/(features)/_constants/reviewTabs.tsx
  apps/back-office/vendor-fe/src/app/(features)/util/renderTable.tsx
  apps/back-office/vendor-fe/src/app/(features)/vendors/(common)/Entity.tsx
  apps/back-office/vendor-fe/src/app/(features)/vendors/(common)/List.tsx
  apps/back-office/vendor-fe/src/app/(features)/vendors/(common)/details.tsx
  apps/back-office/vendor-fe/src/app/_shared/review/review/index.tsx
  apps/back-office/vendor-fe/src/store/api/notes/notes.api.ts
  apps/back-office/vendor-fe/src/store/entity/list.ts
  apps/back-office/vendor-fe/src/store/store.ts
  apps/back-office/vendor-fe/turbo.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci: git info
  .gitlab-ci.yml
Due: none

ci: t
  .gitlab-ci.yml
Due: none

ci: remotes
  .gitlab-ci.yml
Due: none

ci: quick
  .gitlab-ci.yml
Due: none

ci: quick 2
  .gitlab-ci.yml
Due: none

ci: see diff
  .gitlab-ci.yml
Due: none
