Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": ["eslint --fix"],
  "packages/**/*.{js,ts,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

Update docker-compose.yml
  docker-compose.yml
Due: none

Update Dockerfile
  apps/back-office/vendor-fe/Dockerfile
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

feat(vendor-be): category model updated
  apps/server/vendor-be/src/categories/category.controller.ts
  apps/server/vendor-be/src/categories/category.service.ts
  apps/server/vendor-be/src/categories/dto/category.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/service-price.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/application.entity.ts
  apps/server/vendor-be/src/vendor-registration/service-pricing.service.ts
  apps/server/vendor-be/src/vendor-registration/vendors.controller.ts
Due: eslint --fix

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

feat(vendor-be): model updated
  apps/server/vendor-be/src/categories/category.service.ts
  apps/server/vendor-be/src/vendor-registration/dto/application.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/custom-category.dto.ts
  apps/server/vendor-be/src/vendor-registration/dto/vendor.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/application.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/bank.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/business-category.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/custom-category.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/invoice.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/message-thread.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/service-price.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/services.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors-bank.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
Due: eslint --fix

Update Dockerfile
  apps/back-office/+demo-fe/Dockerfile
Due: none

Update .gitlab-ci.yml
  apps/back-office/+demo-fe/.gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  apps/back-office/administration-fe/.gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  apps/back-office/iam-fe/.gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  apps/back-office/vendor-fe/.gitlab-ci.yml
Due: none

Update Dockerfile
  apps/portal/egp/Dockerfile
Due: none

Update .gitlab-ci.yml
  apps/portal/egp/.gitlab-ci.yml
Due: none

feat: dynamic menu
  .vscode/settings.json
  apps/back-office/iam-fe/src/app/dashboard/page.tsx
  apps/back-office/iam-fe/src/app/globals.css
  apps/back-office/iam-fe/src/app/group/page.tsx
  apps/back-office/iam-fe/src/app/groups/page.tsx
  apps/back-office/iam-fe/src/app/layout.tsx
  apps/back-office/iam-fe/src/app/my-organization/page.tsx
  apps/back-office/iam-fe/src/app/organizations/page.tsx
  apps/back-office/iam-fe/src/app/page.module.scss
  apps/back-office/iam-fe/src/app/page.tsx
  apps/back-office/iam-fe/src/app/roles/page.tsx
  apps/back-office/iam-fe/src/app/shell.tsx
  apps/back-office/iam-fe/src/app/units/page.tsx
  apps/back-office/iam-fe/src/app/users/page.tsx
  apps/back-office/iam-fe/src/config/menu.ts
  apps/back-office/iam-fe/src/context/menu.tsx
  packages/fe/core-fe/components/section/section.tsx
  packages/fe/core-fe/components/shell/navbar-link-group.tsx
  packages/fe/core-fe/components/shell/shell.module.scss
  packages/fe/core-fe/components/shell/shell.tsx
  packages/fe/core-fe/config/applications.ts
  packages/fe/core-fe/context/index.tsx
  packages/fe/core-fe/context/shell.context.ts
  packages/fe/core-fe/global.d.ts
  packages/fe/core-fe/index.tsx
  packages/fe/core-fe/models/index.ts
  packages/fe/core-fe/models/shell.ts
  packages/fe/core-fe/package.json
  packages/fe/core-fe/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Resolve "Portal - User management (User Information) page"
  apps/portal/egp/src/app/(home)/egp/bids/all/page.tsx
  apps/portal/egp/src/app/(home)/egp/cms/faq/page.tsx
  apps/portal/egp/src/app/(home)/egp/cms/getting-started/page.module.scss
  apps/portal/egp/src/app/(home)/egp/cms/getting-started/page.tsx
  apps/portal/egp/src/app/(home)/egp/cms/getting-started/steps-card.tsx
  apps/portal/egp/src/app/(home)/egp/cms/help/page.tsx
  apps/portal/egp/src/app/(home)/egp/cms/page.tsx
  apps/portal/egp/src/app/(home)/egp/resources/page.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/page.tsx
  apps/portal/egp/src/app/(home)/layout.tsx
  apps/portal/egp/src/app/(home)/my/my-profile/page.tsx
  apps/portal/egp/src/app/(home)/page.module.scss
  apps/portal/egp/src/app/(home)/page.tsx
  apps/portal/egp/src/app/_shared/landing/circle-card.tsx
  apps/portal/egp/src/app/_shared/landing/features-card.tsx
  apps/portal/egp/src/app/_shared/landing/highlight-card.tsx
  apps/portal/egp/src/app/_shared/landing/landing.module.scss
  apps/portal/egp/src/app/_shared/landing/nav-dropdown-menus.tsx
Due: eslint --fix

chore: build check
  README.md
  apps/back-office/+demo-fe/src/app/(demo)/layout.tsx
  package.json
Due: eslint --fix, prettier --write

feat: ci check
  .gitlab-ci.yml
  README.md
Due: none
