Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(mp): workflow-queue
  apps/server/marketplace-be/src/modules/evaluation/services/opener.service.ts
  apps/server/marketplace-be/src/modules/rfx/controllers/rfx-bid-contract-condition.controller.ts
  apps/server/marketplace-be/src/modules/rfx/rfx.module.ts
Due: eslint --fix

build(mp): build
  apps/server/marketplace-be/src/modules/rfx/services/rfx.service.ts
Due: eslint --fix

feat(tendering-be): update on entity
  apps/server/tendering-be/src/main.ts
Due: eslint --fix

fix(mp): file upload
  apps/portal/egp/src/app/(features)/invitations-workspace/prepare-bid/_components/bid-declaration/documentary-evidence.component.tsx
Due: eslint --fix

feat(tendering-be): update on entity
  apps/server/tendering-be/src/modules/tenders/controller/tender.controller.ts
Due: eslint --fix

fix(infra): migration
  apps/server/infrastructure-be/package.json
  apps/server/infrastructure-be/src/migrations/1718870569354-init.ts
Due: eslint --fix, prettier --write

business line hot fix
  apps/server/vendor-be/src/modules/vendor-registration/services/vendor-registration.service.ts
Due: eslint --fix

feat(tendering-be): update on tender approval service
  apps/server/tendering-be/src/modules/tenders/service/tender-approval.service.ts
Due: eslint --fix

fix(mp): number column migration
  apps/server/marketplace-be/src/entities/opened-offer.entity.ts
  apps/server/marketplace-be/src/migrations/1718892189981-number-column.ts
  apps/server/marketplace-be/src/modules/evaluation/evaluation.module.ts
  apps/server/marketplace-be/src/modules/evaluation/services/eval-response.service.ts
  apps/server/marketplace-be/src/modules/evaluation/services/opener.service.ts
  apps/server/marketplace-be/src/modules/evaluation/services/team-member.service.ts
  apps/server/marketplace-be/src/modules/rfx/controllers/rfx.controller.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-product-invitation.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/workflow-handler.service.ts
  apps/server/marketplace-be/src/modules/solicitation/services/round.service.ts
  apps/server/marketplace-be/src/utils/enums/rfx.enum.ts
Due: eslint --fix

build(admin): admin
  apps/server/administration-be/src/app.module.ts
Due: eslint --fix

fix: modify item for err
  apps/back-office/planning-fe/src/app/(features)/procurement-requisition/_components/items.tsx
Due: eslint --fix

fix: split vendor and org json
  apps/server/administration-be/src/entities/contract-beneficiary.entity.ts
  apps/server/administration-be/src/entities/contract-catalog.entity.ts
  apps/server/administration-be/src/entities/product-catalog.entity.ts
  apps/server/administration-be/src/migrations/1718891944474-split_orginaztion_json.ts
  apps/server/administration-be/src/modules/contract-catalog/dto/contract-beneficiery.dto.ts
  apps/server/administration-be/src/modules/contract-catalog/dto/contract-catalog.dto.ts
  apps/server/administration-be/src/modules/contract-catalog/services/contract-beneficiary.service.ts
  apps/server/administration-be/src/modules/contract-catalog/services/contract-catalog.service.ts
  apps/server/administration-be/src/modules/product-catalog/dto/product-catalog.dto.ts
  apps/server/administration-be/src/modules/product-catalog/product-catalog.module.ts
  apps/server/administration-be/src/modules/product-catalog/services/product-catalog.service.ts
Due: eslint --fix

fix(mp): calculated price migration
  apps/server/marketplace-be/src/entities/opened-offer.entity.ts
  apps/server/marketplace-be/src/migrations/1718955225894-calculated-price.ts
  apps/server/marketplace-be/src/modules/evaluation/services/eval-response.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-product-invitation.service.ts
Due: eslint --fix

feat(marketplace-be): update on marketplace rabbit
  apps/server/marketplace-be/src/app.module.ts
  apps/server/marketplace-be/src/modules/evaluation/evaluation.module.ts
  apps/server/marketplace-be/src/modules/rfx/rfx.module.ts
Due: eslint --fix

build: fix on the migration
  apps/server/administration-be/src/migrations/1718957756194-splitOrganizationJson.ts
Due: eslint --fix

feat(tendering-be): update on bds evaluation
  apps/server/tendering-be/src/modules/bds/service/evaluation.service.ts
Due: eslint --fix

feat: changing nativeselect to select
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/bidding-procedure/bid-pro-evaluation.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/bidding-procedure/preparation-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/bidding-procedure/submission-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/contact-condition/deliverables-component/deliverables.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/contact-condition/guarantees-liabilities/guarantees.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/item/sor/technical-requirement/technical-requirement-form-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/lot/bid-security/bid-security.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/lot/evaluation-criteria/documentery-evidence/documentary-form.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/lot/evaluation-criteria/qualification/qualification-form-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/lot/evaluation-criteria/technical-scoring/technical-scoring-form-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/preparation/_components/tender/procurement-mechanism-form.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/administrative-compliance-form-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/bid-form-form-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/contract-form-form-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/form-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/openinig-checklist-form-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/professional-setting-form-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/qualification-form-detail.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/spd-documentary-modal.tsx
  apps/back-office/tendering-fe/src/app/(features)/spd/_components/technical-scoring-form-detail.tsx
Due: eslint --fix

chore: version bump
  apps/back-office/administration-fe/package.json
  apps/back-office/banks-fe/next-env.d.ts
  apps/back-office/guarantee-fe/package.json
  apps/back-office/iam-fe/package.json
  apps/back-office/marketplace-fe/package.json
  apps/back-office/planning-fe/package.json
  apps/back-office/tendering-fe/package.json
  apps/back-office/vendor-fe/package.json
  apps/portal/egp/package.json
  package.json
  packages/config/theme/package.json
  packages/fe/auth/package.json
  packages/fe/core-fe/package.json
  packages/fe/entity/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: with package manager
  .npmrc
Due: none

chore: package manager
  package.json
Due: prettier --write

chore: update package
  package.json
Due: prettier --write

chore: turbo update
  apps/back-office/administration-fe/turbo.json
  apps/back-office/guarantee-fe/turbo.json
  apps/back-office/iam-fe/turbo.json
  apps/back-office/marketplace-fe/turbo.json
  apps/back-office/planning-fe/turbo.json
  apps/back-office/tendering-fe/turbo.json
  apps/back-office/vendor-fe/turbo.json
  apps/portal/egp/turbo.json
  packages/be/shared/turbo.json
  turbo.json
Due: prettier --write

fix: turbo
  packages/config/eslint-config-custom/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(mp): product catalog dto
  apps/server/marketplace-be/src/modules/rfx/dtos/product-catalogue.dto.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-product-invitation.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-revision-approval.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/workflow-handler.service.ts
  apps/server/marketplace-be/src/modules/solicitation/controllers/item-response.controller.ts
  apps/server/marketplace-be/src/modules/solicitation/controllers/offer.controller.ts
  apps/server/marketplace-be/src/utils/services/document.service.ts
Due: eslint --fix

Fix administration bugs
  apps/back-office/administration-fe/src/config/menu.ts
  pnpm-lock.yaml
Due: eslint --fix

Product catalog change be
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/_api/catalog.api.ts
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/catalog-only-form.tsx
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/delivary-form.tsx
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/table-delivery-days.tsx
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/view-image.tsx
Due: eslint --fix

Feat tendering scoring
  apps/server/tendering-be/src/modules/opening/service/opening.service.ts
Due: eslint --fix

Vendor portal fix 8
  apps/portal/egp/src/app/(features)/my-workspace/_components/pdf-highlighter/pdf-highlighter-sidebar.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/_api/payment.api.ts
  apps/portal/egp/src/app/(features)/my-workspace/registration/_api/query.ts
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/detail/accordion.data.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/detail/businessSizeAndOwnership.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/detail/schema.ts
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/review/form-preview.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/review/panels/documentPanel.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/review/panels/showFile.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/review/renderTable.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/_components/review/utils.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/_constants/reviewTabs.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/add-service/payment/page.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/add-service/ppda/_components/areasOfBusinessInterest.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/add-service/ppda/_components/formShell.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/new/_components/basic/basicInformation.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/new/_components/doc/supportingDocuments.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/new/_components/ppda/formShell.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/new/_components/stepper/stepper.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/new/review/page.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/preferential-treatment/preferential/formShell.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/renewal/payment/page.tsx
  apps/portal/egp/src/app/(features)/my-workspace/registration/upgrade/payment/page.tsx
Due: eslint --fix

Feat tendering scoring
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-preliminary-assessment-detail.service.ts
Due: eslint --fix

chore(megp): mantine table version downgrade
  apps/back-office/marketplace-fe/package.json
  apps/back-office/planning-fe/package.json
  apps/back-office/tendering-fe/package.json
  apps/portal/egp/package.json
  pnpm-lock.yaml
Due: prettier --write

Feat tendering scoring
  apps/server/tendering-be/src/entities/bid-opening-checklist-assessment.entity.ts
  apps/server/tendering-be/src/entities/bid-opening-checklist-assessment.ts
  apps/server/tendering-be/src/entities/technical-preliminary-assessment-detail.entity.ts
  apps/server/tendering-be/src/entities/technical-qualification-assessment-detail.entity.ts
  apps/server/tendering-be/src/entities/technical-scoring-assessment-detail.entity.ts
  apps/server/tendering-be/src/migrations/1719296739759-unique.ts
Due: eslint --fix

fix: modify url for get delivery location
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/_api/catalog.api.ts
  apps/portal/egp/src/app/(features)/my-workspace/catalog-manager/component/table-delivery-days.tsx
Due: eslint --fix

fix(tendering-be): update on technical response
  apps/server/tendering-be/src/modules/bid/service/bid-response-item.service.ts
Due: eslint --fix

Feat tendering scoring
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-preliminary-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-qualification-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-responsiveness-assessment-detail.service.ts
  apps/server/tendering-be/src/modules/technical-evaluation/service/technical-scoring-assessment-detail.service.ts
Due: eslint --fix

Fix admin 4
  apps/server/administration-be/src/app.module.ts
  apps/server/administration-be/src/modules/contract-catalog/dto/contract-allocated-item.dto.ts
  apps/server/administration-be/src/modules/product-catalog/controllers/product-catalog.controller.ts
  apps/server/administration-be/src/modules/product-catalog/services/product-catalog.service.ts
Due: eslint --fix

Fix evalution bugs
  apps/back-office/tendering-fe/src/app/(features)/evaluation/[tenderId]/[lotId]/financial/_components/item-rule.tsx
  apps/back-office/tendering-fe/src/app/(features)/evaluation/[tenderId]/[lotId]/financial/_components/rules-modal.tsx
  apps/back-office/tendering-fe/src/app/(features)/evaluation/[tenderId]/[lotId]/financial/config/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/evaluation/[tenderId]/[lotId]/financial/items/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/evaluation/[tenderId]/[lotId]/responsiveness/[itemId]/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/evaluation/_components/lot-overview.tsx
  apps/back-office/tendering-fe/src/app/(features)/evaluation/team-assessment/[tenderId]/[lotId]/responsiveness/bidders/[bidderId]/[itemId]/[requirementId]/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/evaluation/team-assessment/[tenderId]/[lotId]/responsiveness/bidders/[bidderId]/[itemId]/layout.tsx
  apps/back-office/tendering-fe/src/app/(features)/evaluation/team-assessment/[tenderId]/[lotId]/responsiveness/bidders/[bidderId]/[itemId]/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/evaluation/team-assessment/[tenderId]/[lotId]/responsiveness/bidders/[bidderId]/page.tsx
  apps/back-office/tendering-fe/src/app/(features)/evaluation/team-assessment/[tenderId]/[lotId]/responsiveness/bidders/page.tsx
Due: eslint --fix

feat: rfx queries
  apps/server/marketplace-be/src/entities/rfx-bid-procedure.entity.ts
  apps/server/marketplace-be/src/entities/rfx-contract-term.entity.ts
  apps/server/marketplace-be/src/entities/rfx-revision-approval.entity.ts
  apps/server/marketplace-be/src/migrations/1719320547866-posting-date.ts
  apps/server/marketplace-be/src/modules/evaluation/controllers/eval-response.controller.ts
  apps/server/marketplace-be/src/modules/evaluation/evaluation.module.ts
  apps/server/marketplace-be/src/modules/evaluation/services/eval-response.service.ts
  apps/server/marketplace-be/src/modules/rfx/controllers/rfx-revision-approval.controller.ts
  apps/server/marketplace-be/src/modules/rfx/controllers/rfx.controller.ts
  apps/server/marketplace-be/src/modules/rfx/dtos/rfx-bid-procedure.dto.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-documentary-evidence.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-item-document.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-product-invitation.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx-revision-approval.service.ts
  apps/server/marketplace-be/src/modules/rfx/services/rfx.service.ts
  apps/server/marketplace-be/src/modules/solicitation/services/offer.service.ts
  apps/server/marketplace-be/src/modules/solicitation/services/response.service.ts
  apps/server/marketplace-be/src/modules/solicitation/services/round.service.ts
  apps/server/marketplace-be/src/utils/enums/bucket.enum.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx})
  prettier --write: any of: *.json
