Repository tesfamikael4/megp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update package.json
  apps/back-office/iam-fe/package.json
Due: prettier --write

fix: lint tendering
  apps/back-office/planning-fe/turbo.json
Due: prettier --write

fix: lint tendering
  apps/back-office/planning-fe/.eslintrc.js
  apps/back-office/planning-fe/.eslintrc.json
  apps/back-office/tendering-fe/turbo.json
Due: eslint --fix, prettier --write

feat: sub menu
  apps/back-office/+demo-fe/package.json
  apps/back-office/+demo-fe/src/app/not-found.tsx
  apps/back-office/administration-fe/src/app/not-found.tsx
  apps/back-office/iam-fe/package.json
  apps/back-office/iam-fe/src/app/(features)/groups/layout.tsx
  apps/back-office/planning-fe/src/app/not-found.tsx
  apps/back-office/tendering-fe/src/app/not-found.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/layout.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/new/page.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/renew/page.tsx
  apps/back-office/vendor-fe/src/app/(features)/settings/pricing/sidebar.tsx
  apps/back-office/vendor-fe/src/app/globals.css
  apps/back-office/vendor-fe/src/app/layout.tsx
  apps/back-office/vendor-fe/src/app/mantine.tsx
  apps/back-office/vendor-fe/src/app/not-found.tsx
  apps/back-office/vendor-fe/src/config/menu.ts
  packages/config/theme/.eslintrc.json
  packages/config/theme/mantine.ts
  packages/fe/core-fe/module.scss.d.ts
  packages/fe/core-fe/src/components/index.ts
  packages/fe/core-fe/src/components/layout/page-layout.tsx
  packages/fe/core-fe/src/components/layout/page.module.scss
  packages/fe/core-fe/src/components/layout/side-bar-shell.tsx
  packages/fe/core-fe/src/components/layout/side-bar.tsx
  packages/fe/core-fe/src/components/not-found/illustration.tsx
  packages/fe/core-fe/src/components/not-found/not-found.module.scss
  packages/fe/core-fe/src/components/not-found/not-found.tsx
  packages/fe/core-fe/src/components/shell/navbar-link-group.module.scss
  packages/fe/core-fe/src/components/shell/navbar-link-group.tsx
  packages/fe/core-fe/src/components/shell/shell.module.scss
  packages/fe/core-fe/src/components/shell/shell.tsx
  packages/fe/core-fe/src/context/shell.context.ts
  packages/fe/core-fe/src/utility/logger.ts
  packages/fe/entity/src/components/table/grid.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: lint
  apps/back-office/planning-fe/src/app/(features)/groups/_components/form-detail.tsx
  apps/back-office/planning-fe/src/app/(features)/groups/entity.tsx
  apps/back-office/tendering-fe/src/app/(features)/groups/entity.tsx
Due: eslint --fix

fix: lint
  apps/back-office/tendering-fe/src/app/(features)/groups/_components/form-detail.tsx
Due: eslint --fix

feat(vendor-api): file restructuring
  apps/server/vendor-be/src/handling/controllers/application-execution.controller.ts
  apps/server/vendor-be/src/handling/dtos/task-handler.dto.ts
  apps/server/vendor-be/src/handling/services/application-execution.service.ts
  apps/server/vendor-be/src/handling/services/workflow-instance.service.ts
Due: eslint --fix

feat(vendor-api): file restructuring
  apps/server/vendor-be/src/handling/controllers/application-execution.controller.ts
  apps/server/vendor-be/src/pricing/service-pricing.controller.ts
Due: eslint --fix

feat(vendor-api): refactoring and coulumn change
  apps/server/vendor-be/src/bpm/dtos/task.dto.ts
  apps/server/vendor-be/src/bpm/dtos/task.response.ts
  apps/server/vendor-be/src/bpm/entities/business-process.ts
  apps/server/vendor-be/src/bpm/entities/task-assignment.ts
  apps/server/vendor-be/src/bpm/entities/task.entity.ts
  apps/server/vendor-be/src/bpm/entities/taskType.ts
  apps/server/vendor-be/src/bpm/services/task.service.ts
  apps/server/vendor-be/src/categories/entities/category.entity.ts
  apps/server/vendor-be/src/handling/entities/invoice.entity.ts
  apps/server/vendor-be/src/handling/entities/receipt-attachment.ts
  apps/server/vendor-be/src/handling/entities/task-handler.ts
  apps/server/vendor-be/src/handling/entities/task-tracker.ts
  apps/server/vendor-be/src/handling/entities/workflow-instance.ts
  apps/server/vendor-be/src/handling/services/workflow-instance.service.ts
  apps/server/vendor-be/src/pricing/entities/service-price.entity.ts
  apps/server/vendor-be/src/services/entities/bp-service.ts
  apps/server/vendor-be/src/vendor-registration/entities/area-of-interst.ts
  apps/server/vendor-be/src/vendor-registration/entities/areas-of-business-interest.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/bank-account-detail.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/bank.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/beneficial-ownership.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/business-category.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/custom-category.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/file.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/message-thread.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/ncic.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/shareholder.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/tin-registration-database.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/trade-registration-database.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors-bank.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors.entity.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
Due: eslint --fix

feat(vendor-api): refactoring and coulumn change
  apps/server/vendor-be/src/handling/entities/invoice.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/area-of-interst.ts
  apps/server/vendor-be/src/vendor-registration/entities/bank-account-detail.entity.ts
Due: eslint --fix

feat(vendor-api): refactoring
  apps/server/vendor-be/src/handling/controllers/application-execution.controller.ts
  apps/server/vendor-be/src/shared/entities/common.entity.ts
Due: eslint --fix

Feature refactoring iam be
  apps/server/iam-be/package.json
  apps/server/iam-be/src/application/entities/application.entity.ts
  apps/server/iam-be/src/application/entities/permission.entity.ts
  apps/server/iam-be/src/groups/entity/group.entity.ts
  apps/server/iam-be/src/groups/entity/user-group.entity.ts
  apps/server/iam-be/src/groups/services/group.service.ts
  apps/server/iam-be/src/mandate/entities/mandate-permission.entity.ts
  apps/server/iam-be/src/mandate/entities/mandate.entity.ts
  apps/server/iam-be/src/mandate/entities/organization-mandate.entity.ts
  apps/server/iam-be/src/organization/organization.service.ts
  apps/server/iam-be/src/organization/services/role.service.ts
  apps/server/iam-be/src/shared/controller/entity-crud.controller.ts
  apps/server/iam-be/src/shared/controller/relation-crud.controller.ts
  apps/server/iam-be/src/supertokens/auth/service/supertokens.service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Feature refactoring iam be
  apps/server/iam-be/src/main.ts
Due: eslint --fix

feat: side bar
  packages/fe/core-fe/src/components/layout/page.module.scss
  packages/fe/core-fe/src/components/layout/side-bar.tsx
Due: eslint --fix

Add new directory
  .gitlab/agents/megp/.gitkeep
Due: none

Add new file
  .gitlab/agents/megp/config.yaml
Due: none

Update config.yaml
  .gitlab/agents/megp/config.yaml
Due: none

feat: cq
  apps/back-office/iam-fe/src/app/(features)/groups/[id]/page.tsx
  apps/back-office/iam-fe/src/app/page.tsx
  packages/fe/entity/src/components/relation/relation.tsx
  packages/fe/entity/src/models/index.ts
  packages/fe/entity/src/models/query.ts
  packages/fe/entity/src/utilities/index.ts
  packages/fe/entity/src/utilities/query-builder.ts
  packages/fe/entity/tsconfig.json
Due: eslint --fix, prettier --write

feat: cq
  apps/back-office/iam-fe/src/app/page.tsx
  packages/fe/entity/.eslintrc.js
  packages/fe/entity/src/models/query.ts
  packages/fe/entity/src/utilities/query-builder.ts
  packages/fe/entity/src/utilities/sql-query-builder.ts
Due: eslint --fix

Vendor registration finalized
  apps/server/vendor-be/src/data.ts
  apps/server/vendor-be/src/handling/dtos/workflow-instance.dto.ts
  apps/server/vendor-be/src/handling/entities/workflow-instance.ts
  apps/server/vendor-be/src/handling/services/workflow-instance.service.ts
  apps/server/vendor-be/src/shared/typeorm/typeorm.service.ts
  apps/server/vendor-be/src/vendor-registration/dto/bank-account-detail.dto.ts
  apps/server/vendor-be/src/vendor-registration/entities/bank-account-detail.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/beneficial-ownership.entity.ts
  apps/server/vendor-be/src/vendor-registration/entities/vendors-bank.entity.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.controller.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.service.ts
Due: eslint --fix

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix: lint
  apps/back-office/iam-fe/src/app/(features)/groups/[id]/page.tsx
Due: eslint --fix

Feature refactoring iam be
  apps/server/iam-be/src/organization/dto/security-question.dto.ts
  apps/server/iam-be/src/organization/organization.service.ts
  apps/server/iam-be/src/supertokens/auth.controller.ts
  apps/server/iam-be/src/supertokens/auth/service/supertokens.service.ts
Due: eslint --fix

feat(egp/vendor): finalization on submit,save as draft
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/form.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/initialValues.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/injectFormValue.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/parts/bankAccountDetails.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/parts/basicRegistration.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/parts/beneficialOwnership.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/parts/businessSizeAndOwnership.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/parts/contactPersons.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/parts/shareHolders.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/formConfig/schema.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new-form/page.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/(registrations-service)/rs-new/page.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/_shared/components/cardForm/index.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/layout.tsx
  apps/portal/egp/src/app/(home)/egp/vendors/track-applications/page.tsx
  apps/portal/egp/src/store/api/vendor_registration/query.ts
  apps/portal/egp/src/store/api/vendor_registration/type.ts
Due: eslint --fix

chore: build test
  packages/fe/entity/src/utilities/sql-query-builder.ts
Due: eslint --fix

chore: clean up
  .gitlab-ci.yml
  apps/back-office/+demo-fe/.prettierignore
  apps/back-office/+demo-fe/package.json
  apps/back-office/administration-fe/package.json
  apps/back-office/iam-fe/package.json
  apps/back-office/planning-fe/package.json
  apps/back-office/tendering-fe/package.json
  apps/back-office/vendor-fe/package.json
  apps/portal/egp/package.json
  apps/server/iam-be/src/groups/services/group.service.ts
  apps/server/iam-be/src/shared/controller/entity-crud.controller.ts
  apps/server/iam-be/src/shared/controller/relation-crud.controller.ts
  apps/server/vendor-be/src/bpm/bpm.module.ts
  apps/server/vendor-be/src/bpm/entities/taskType.ts
  apps/server/vendor-be/src/bpm/services/task.service.ts
  apps/server/vendor-be/src/handling/controllers/application-execution.controller.ts
  apps/server/vendor-be/src/handling/services/application-execution.service.ts
  apps/server/vendor-be/src/shared/entities/common.entity.ts
  apps/server/vendor-be/src/vendor-registration/vendor-registration.module.ts
  package.json
  packages/fe/core-fe/package.json
  packages/fe/entity/package.json
  packages/fe/entity/src/models/index.ts
  packages/fe/entity/src/utilities/index.ts
  packages/fe/entity/src/utilities/query-builder.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: entity loading
  packages/fe/entity/src/components/entity-layout.tsx
  packages/fe/entity/src/components/entity/entity-list.tsx
  packages/fe/entity/src/components/table/grid.tsx
  packages/fe/entity/src/models/list.ts
Due: eslint --fix

Feature/ci test
  .gitlab-ci.yml
  packages/fe/core-fe/package.json
  pnpm-lock.yaml
Due: prettier --write

Add new directory
  deployment/.gitkeep
Due: none

Add new file
  deployment/iam-be.yaml
Due: none

Feature refactoring iam be
  .vscode/launch.json
  apps/server/iam-be/src/groups/controllers/group.controller.ts
  apps/server/iam-be/src/groups/entity/group.entity.ts
  apps/server/iam-be/src/groups/services/group.service.ts
  apps/server/iam-be/src/organization/organization.service.ts
  apps/server/iam-be/src/shared/collection-query/filter_operators.ts
  apps/server/iam-be/src/shared/collection-query/query-constructor-new.ts
  apps/server/iam-be/src/shared/collection-query/query.ts
  apps/server/iam-be/src/supertokens/auth.controller.ts
  apps/server/iam-be/src/supertokens/auth/service/supertokens.service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx})
  prettier --write: any of: *.json
